<div class='card-item {{card.type}} item{{card.$index}}'
	ng-class="{
		'thumbed': card.thumbnail,
		'texted': !card.thumbnail,
		'last': card.$last
	}">

	<a ng-href="{{card.trackUrl||card.source}}" class="mask-link" target="_blank"></a>

	<div class="card-buttons align-left">
		<div store-it="card"></div>
		<a href="" class="share-card-btn"
			ng-dialog="shareLikeDialog"
			ng-dialog-class="lsd-theme share-dialog share-like"
			ng-dialog-controller="shareLikeController"
			ng-dialog-show-close="false"
			ng-dialog-data="{{card._id}}, {{card.type}}, {{card.title||card.repo}}"><i class="font-icon share-entypo-icon icon"></i></a>
	</div>

	<div ng-if="card.thumbnail" class="card-cover">
		<div class="card-cover-overlay"></div>
		<img ng-src="{{card.thumbnail}}" class="animated delay-300ms fadeIn" preview-image-load="240">
	</div>

	<div class="card-meta">
		<h2 ng-if="card.title||card.repo||card.name" class="title" ng-class="{'bottom-space': card.description}">{{card.title||card.repo||card.name}}</h2>

		<p ng-if="card.description" class="description" ng-bind-html="card.description|truncate:240|linkify"></p>

		<div class="from">
			<i class="font-icon {{card.type}}-icon {{card.type}}-bg-clr icon"></i>
			<span ng-if="card.authorName">by <span class="author-name">{{card.authorName}}</span></span>
			<span ng-if="!card.authorName">from <span class="type">{{card.type}}</span></span>
		</div>
	</div>

	<div class="card-collection">
		<a ng-href="/u/{{card.collection.owner.name}}"><img ng-src="{{card.collection.owner.avatar}}" class="c-avatar" avatar-load></a>
		<a href="/u/{{card.collection.owner.name}}/{{card.collection._id}}" class="c-title truncate">{{card.collection.title}}</a>
		<div class="c-owner truncate">by <a ng-href="/u/{{card.collection.owner.name}}">{{card.collection.owner.name}}</a></div>
	</div>

	<div class="card-comments">
		<i class="font-icon pencil-icon comment-icon"></i>
		<div class="comments-count">
			<a href="/u/{{card.collection.owner.name}}/discuss/{{card._id}}" class="c-title truncate">
				<span ng-if="card.commentsCount">{{card.commentsCount}} comments</span>
				<span ng-if="!card.commentsCount">Leave a comment</span>
			</a>
		</div>
	</div>
</div>
