<div class='card-item {{card.type}} item{{card.$index}}'
	ng-class="{
		'thumbed': card.thumbnail,
		'texted': !card.thumbnail,
		'last': card.$last
	}">

	<a ng-href="{{card.source}}" class="mask-link" target="_blank"></a>

	<div ng-if="card.thumbnail" class="card-cover">
		<div class="card-cover-overlay"></div>
		<img ng-src="{{card.thumbnail}}" class="animated delay-300ms fadeIn">
	</div>

	<div class="card-meta">
		<h2 ng-if="card.title||card.repo||card.name" class="title" ng-class="{'bottom-space': card.description}">{{card.title||card.repo||card.name}}</h2>

		<p ng-if="card.description" class="description" ng-bind-html="card.description|truncate:240|linkify"></p>

		<div class="from">
			<i class="font-icon {{card.type}}-icon {{card.type}}-bg-clr icon"></i>
			<span ng-if="card.authorName">by <span class="author-name">{{card.authorName}}</span></span>
			<span ng-if="!card.authorName">from <span class="type">{{card.type}}</span></span>
		</div>
	</div>

	<div class="card-collection">
		<a ng-href="/u/{{card.collection.owner.name}}"><img ng-src="{{card.collection.owner.avatar}}" class="c-avatar" avatar-load></a>
		<a href="/u/{{card.collection.owner.name}}/{{card.collection._id}}" class="c-title truncate">{{card.collection.title}}</a>
		<div class="c-owner truncate">by <a ng-href="/u/{{card.collection.owner.name}}">{{card.collection.owner.name}}</a></div>
	</div>


			<!--div ng-if="card.thumbnail" class="image">
				<a ng-show="mother.user.viewMode === 'grid'" href="{{card.source}}" class="cover" style="background-image: url({{card.thumbnail}})" target="_blank"></a>

				<div class="info">
					<a href="/u/{{card.collection.owner.name}}" class="author-image">
						<img ng-src="{{card.collection.owner.avatar}}" class="avatar" avatar-load>
					</a>


					<div ng-show="mother.user.viewMode === 'grid'" class="right-block">
						<div class="author-name"><a href="/u/{{card.collection.owner.name}}">{{card.collection.owner.displayName || card.collection.owner.name}}</a> liked<span ng-show="mother.user.viewMode === 'list'"> on <span class="type">{{card.type}}</span></span> -</div>
						<h2 ng-if="card.title || card.repo" class="title truncate">{{card.title||card.repo}}</h2>
						<div ng-if="card.description" class="description"
							ng-bind-html="card.description|truncate:180" ng-class="{short: mother.user.viewMode==='grid' && card.title && card.authorName}"></div>
					</div>

					<div ng-show="mother.user.viewMode === 'list'" class="right-block clearfix">
						<div class="author-name"><a href="/u/{{card.collection.owner.name}}">{{card.collection.owner.displayName || card.collection.owner.name}}</a> liked<span ng-show="mother.user.viewMode === 'list'"> on <span class="type">{{card.type}}</span></span> -</div>
						<a ng-show="mother.user.viewMode === 'list'" href="{{card.source}}" class="cover" style="background-image: url({{card.thumbnail}})" target="_blank"></a>
						<div class="texts">
							<h2 ng-if="card.title || card.repo" class="title truncate">{{card.title||card.repo}}</h2>
							<div ng-if="card.description" class="description"
								ng-bind-html="card.description|truncate:180"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!card.thumbnail" class="text-wrap">
				<a href="/u/{{card.collection.owner.name}}" class="author-image">
					<img ng-src="{{card.collection.owner.avatar}}" class="avatar" avatar-load>
				</a>
				<div class="right-block">
					<div class="author-name"><a href="/u/{{card.collection.owner.name}}">{{card.collection.owner.displayName || card.collection.owner.name}}</a> liked<span ng-show="mother.user.viewMode === 'list'"> on <span class="type">{{card.type}}</span></span> -</div>
					<h2 ng-if="card.title || card.repo || card.name" class="title"
						ng-class="{truncate: card.type !== 'tumblr'}">{{card.title||card.repo||card.name}}</h2>
					<div ng-if="card.description && card.description !== card.name" class="description"
						ng-bind-html="card.description|truncate:180|linkify"></div>
					<div ng-if="card.gist || card.type === 'tumblr' || card.description === card.name" class="description"
						ng-bind-html="card.source"></div>
				</div>
			</div -->

	<!-- <time am-time-ago="card.date"></time> -->
</div>
