<section class="dashboard {{title|lowercase}}">
	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index}}" ng-class="item.thumbnail ? 'thumbed' : 'texted'" ng-repeat="item in items">
			<a ng-if="item.thumbnail" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
		</li>
	</ul>
</section>
