<nav class="cell dashboard-nav" menu-slider ng-include src="'partials/nav'"></nav>

<section class="main-dashdoard">
	<div class="dashboard-header {{title|lowercase}}">
		<h1 class="cell">{{title}}</h1>
		<div class="cellRight">
			<div class="top-search-deck">
				<input type="text" class="search-input" name="lsSearch" placeholder="Search items" ng-model="query">
				<span class="ls-ico lst-sml search-ico"></span>
			</div>
		</div>
	</div>

	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index+1}}" ng-repeat="item in items|filter:query|limitTo:limit">
			<div class="item-wrapp">
				<img src="{{item.avatarUrl}}">
				<div class="desc">
					{{item.description}}
					<span ng-show="!item.description" class="empty-desc">This item has no description :(</span>
					<div class="autor-item">by @{{item.authorName}}</div>
				</div>
				<div class="item-info">
					<i class="ls-ico item-type"></i> <span class="item-date">{{item.date | date: 'longDate'}}</span>
				</div>
			</div>
		</li>
	</ul>

	<div class="show-more" ng-show="items.length > limit" ng-click="increaseLimit()">Show more</div>

	<div class="empty-results" ng-show="loaded">
		<div ng-show="!items.length">
			<div class="inbox-icon"></div>
			<h2>You don't own any items to display yet..</h2>
			<a href="/settings" class="block settings-button">Go to settings</a>
		</div>
	</div>
</section>