<!-- navigation -->
<nav class="cell dashboard-nav {{title|lowercase}}" sticky-at="50">
	<div class="search-bar-wrap" text-search="query"></div>

	<ul class="networks-menu">
		<li>
			<a href="/inbox" class="menu-title inbox"><i data-icon="c" class="icon"></i>Inbox</a>
		</li>
		<li>
			<a href="/facebook" class="menu-title facebook"><i data-icon="g" class="icon"></i> Facebook</a>
		</li>
		<li>
			<a href="/twitter" class="menu-title twitter"><i data-icon="b" class="icon"></i> Twitter</a>
		</li>
		<li>
			<a href="/github" class="menu-title github"><i data-icon="d" class="icon"></i> Github</a>
		</li>
		<li>
			<a href="/stackoverflow" class="menu-title stackoverflow"><i data-icon="a" class="icon"></i> Stackoverflow</a>
		</li>
	</ul>

	<div class="promo-line">
		<div class="promo-text">Tell about your favourite services to store</div>
		<a href="mailto:info@likeastore.com?subject=Please add support for.."><i data-icon="j" class="rocket-icon"></i> Speak to us</a>
	</div>
</nav>

<!-- dashboard -->
<section class="main-dashdoard {{title|lowercase}}">
	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index+1}}" ng-repeat="item in items|limitTo: limit">
			<div class="item-wrapp">
				<a href="{{item.source}}" class="source-link" target="_blank"></a>
				<img src="{{item.avatarUrl}}">
				<div class="repo" ng-show="item.repo">{{item.repo}}</div>
				<div class="desc">
					<div linkify="item.description" class="desc-text"></div>
					<div ng-show="!item.description" class="empty-desc">This item has no description :(</div>
					<div class="autor-item">by @{{item.authorName}}</div>
				</div>
				<div class="item-date">{{item.type}} &#8226; {{item.created|date: 'longDate'}}</div>
				<i class="item-type font-icon {{item.type}}-icon"></i>
			</div>
		</li>
	</ul>

	<div ng-hide="search.length < limit">
		<div class="show-more" ng-show="items.length > limit" ng-click="increaseLimit()">Show more</div>
	</div>

	<div class="empty-results" ng-show="!items.length && search">
		<div class="annoyed-icon big-icon"></div>
		<h2>Ooops.. no matching search results!</h2>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && !search">
		<div class="inbox-icon big-icon"></div>
		<h2>You don't own any items to display yet..</h2>
		<a href="/settings" class="block settings-button">Go to settings</a>
	</div>

	<div class="loading" ng-hide="loaded"><span class="mask"></span></div>
</section>