<!-- navigation -->
<nav class="left dashboard-nav" sticky-at="50">
	<div text-search="query"></div>

	<ul class="networks-menu">
		<li class="menu-subtitle">Folders</li>
		<li>
			<a href="/inbox" class="menu-title inbox"><i data-icon="M" class="icon"></i> Inbox <inbox-counter /></a>
		</li>
		<li>
			<a href="/all" class="menu-title likes"><i data-icon="s" class="icon"></i> All Likes</a>
		</li>
		<li class="menu-subtitle">Services</li>
		<li>
			<a href="/facebook" class="menu-title facebook"><i data-icon="g" class="icon"></i> Facebook</a>
		</li>
		<li>
			<a href="/twitter" class="menu-title twitter"><i data-icon="b" class="icon"></i> Twitter</a>
		</li>
		<li>
			<a href="/github" class="menu-title github"><i data-icon="d" class="icon"></i> Github</a>
		</li>
		<li>
			<a href="/stackoverflow" class="menu-title stackoverflow"><i data-icon="a" class="icon"></i> Stackoverflow</a>
		</li>
	</ul>

	<div class="promo-line">
		<div class="promo-text">Invite your friends to stay tuned with their likes!</div>

		<a href="#" class="btn green-btn" ng-dialog="shareDialogId" ng-dialog-class="lsd-theme-default share-dialog"><i data-icon="S" class="side-btn-icon"></i> Share love</a>

		<script type="text/ng-template" id="shareDialogId">
			<h2>
				<i data-icon="w" class="mail-icon"></i>
				 Invite your friends
			</h2>
			<form ng-controller="shareWithFriendController" ng-submit="send()">
				<div>
					<input class="field" placeholder="Email" ng-model="email" required>
				</div>
				<div>
					<textarea class="field" rows="6" ng-model="message" required>
					</textarea>
				</div>
				<button type="submit" class="btn green-btn">Send</button>
			</form>
			<div class="social-desc">Spread a word through social services</div>
			<div class="social-share">
				<button type="button" class="btn fb-btn" share-on="facebook">Share on facebook</button>
				<button type="button" class="btn tw-btn" share-on="twitter">Share on twitter</button>
			</div>
		</script>
	</div>

	<ul class="footer-links">
		<li><a href="http://blog.likeastore.com" target="_blank">Read blog</a></li>
		<li><a href="mailto:info@likeastore.com">Send feedback</a></li>
	</ul>
</nav>

<!-- dashboard -->
<section class="main-dashdoard {{title|lowercase}}">
	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index+1}}" ng-repeat="item in items">
			<div class="item-wrapp">
				<a href="{{item.source}}" class="source-link" target="_blank"></a>
				<img src="{{item.avatarUrl}}">
				<div class="repo" ng-show="item.repo">{{item.repo}}</div>
				<div class="desc">
					<div linkify="item.description" class="desc-text"></div>
					<div ng-show="!item.description" class="empty-desc">This item has no description :(</div>
					<div class="autor-item">by @{{item.authorName}}</div>
				</div>
				<div class="item-date">{{item.type}} &#8226; {{item.created|date: 'longDate'}}</div>
				<i class="item-type font-icon {{item.type}}-icon"></i>
			</div>
		</li>
	</ul>

	<div ng-show="nextPage">
		<div class="show-more" ng-click="showMore()">Show more</div>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && search">
		<div class="annoyed-icon big-icon"></div>
		<h2>Ooops.. no matching search results!</h2>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && inbox">
		<div class="box-icon big-icon"></div>
		<h2>Your inbox is empty..</h2>
		<h3>No new likes were collected since your last visit, be more active!</h3>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && !search && !inbox">
		<div class="robot-icon big-icon"></div>
		<h2>You don't own any items to display yet..</h2>
		<a href="/settings" class="red-press-btn">Go to settings</a>
	</div>

	<div class="empty-results" ng-show="error">
		<div class="error-icon big-icon"></div>
		<h2>Robot panic.. we are experiencing troubles!</h2>
		<h3>Sorry for that. The error is logged and team already notified, it will be fixed soon.</h3>
	</div>

	<div class="loading" ng-hide="loaded || error"><span class="mask"></span></div>
</section>