<nav class="cell dashboard-nav" menu-slider ng-include src="'partials/nav'"></nav>

<section class="main-dashdoard">
	<div class="dashboard-header">
		<h1 class="cell">{{title}}</h1>
		<div class="cellRight">
			<div class="top-search-deck">
				<input type="text" class="search-input" name="lsSearch" placeholder="Search items" ng-model="query">
				<span class="ls-ico lst-sml search-ico"></span>
			</div>
		</div>
	</div>

	<ul>
		<li class="dash-item {{item.type}}" ng-repeat="item in items|filter:query">
			<img src="{{item.avatarUrl}}">
			<a href="{{item.url || item.source}}" class="desc" target="_blank">{{item.description}}</a>
			<div class="item-info"><i class="ls-ico item-type"></i>
			<span class="item-date">{{item.date | date: 'longDate'}}</span></div>
		</li>
	</ul>

	<div class="empty-results" ng-show="loaded">
		<div ng-show="!items.length">
			<h2>You don't own any items to display yet..</h2>
			<a href="/settings" class="block settings-button">Go to settings</a>
		</div>
	</div>
</section>