<div ng-show="items.length" class="top-bar clearfix">
	<div class="top left">
		<h2 ng-hide="collection" class="title">{{title}}</h2>
		<div ng-show="title==='Inbox'" class="description">You have <b>{{inboxCount}}</b> new favorites since last visit</div>
		<div ng-if="collection" edit-collection class="edit-collection-wrap"></div>
	</div>
	<div class="controls right">
		<div text-search></div>
		<div ng-hide="title === 'Inbox' || collection" class="filters-bar holder" dropdown-menu="networks"></div>
		<div class="view-bar holder">
			<i class="font-icon grid-icon icon" ng-class="{active: user.viewMode === 'grid'}" ng-click="user.changeView('grid')"></i>
			<i class="font-icon list-icon icon" ng-class="{active: user.viewMode === 'list'}" ng-click="user.changeView('list')"></i>
		</div>
	</div>
</div>

<section ng-show="items.length" class="dashboard activity">
	<ul id="items" class="items-wrap" ng-class="{'list-view': user.viewMode === 'list'}">
		<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail,
				'last': $last
			}"
			go-to-link="{{item.source}}">

			<div class="action-buttons">
				<div add-collection-popup="item"></div>
				<a href="" class="share-btn"
					tooltip="Share"
					ng-dialog="shareLikeDialog"
					ng-dialog-class="lsd-theme share-dialog share-like"
					ng-dialog-controller="shareLikeController"
					ng-dialog-show-close="false"
					ng-dialog-data="{{item._id}}, {{item.type}}, {{item.title||item.repo}}"><i class="font-icon share-icon"></i></a>
				<a href="" class="delete-btn"
					tooltip="Delete"
					ng-click="hideLike(item._id, $index)"><i class="font-icon delete-icon"></i></a>
			</div>

			<div ng-if="item.thumbnail" class="image">
				<a ng-show="user.viewMode === 'grid'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>

				<div class="info">
					<div ng-if="item.avatarUrl" class="author-image">
						<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
					</div>

					<div ng-show="user.viewMode === 'grid'" class="right-block">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
						<div ng-if="item.description" class="description"
							ng-bind-html="item.description|truncate:260|linkify"></div>
					</div>

					<div ng-show="user.viewMode === 'list'" class="right-block clearfix">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<a ng-show="user.viewMode === 'list'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
						<div>
							<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
							<div ng-if="item.description" class="description"
								ng-bind-html="item.description|truncate:260|linkify"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<div ng-if="item.avatarUrl && item.type !== 'facebook'" class="author-image">
					<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
				</div>
				<div class="right-block">
					<div ng-if="item.authorName && item.type !== 'facebook'" class="author-name">{{item.authorName}}</div>
					<h2 ng-if="item.title || item.repo || item.name" class="title"
						ng-class="{truncate: item.type !== 'tumblr'}">{{item.title||item.repo||item.name}}</h2>
					<div ng-if="item.description" class="description"
						ng-bind-html="item.description|truncate:260|linkify"></div>
					<div ng-if="item.gist || item.type === 'tumblr'" class="description"
						ng-bind-html="item.source|linkify"></div>
				</div>
			</div>

			<time>{{item.created|date: 'longDate'}}</time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
		</li>
	</ul>
</section>

<section class="first-time-box" ng-controller="firstTimeController">
	<div class="main-message-container">
		<div ng-show="!slideTwo" class="inner-box animated slideInLeft">
			<h1>Welcome to Likeastore</h1>
			<div class="text">Explore our <b>updated</b> interface and new features! Now you can collect and manage all your favorites, create collections and share what you like with your friends and co-workers much easier!</div>
			<div class="btn next-btn" ng-click="goToSlide()">Next</div>
		</div>

		<div ng-show="slideTwo" class="inner-box">
			<div>
				<img src="/img/menu-screen.png" alt="">
			</div>
			<div>
				<h2>Get started!</h2>
				<p>Add services that you're commited to and sync all favorites automaticly</p>
			</div>
		</div>
	</div>
</section>
