<div class="top-bar clearfix">
	<div class="top left">
		<h2 class="title">{{title}}</h2>
	</div>
	<div class="controls right">
		<div text-search></div>
		<div ng-if="networks.length" class="filters-bar holder" dropdown-menu="networks"></div>
		<div class="view-bar holder">
			<i class="font-icon grid-icon icon" ng-class="{active: user.viewMode === 'grid'}" ng-click="changeView('grid')"></i>
			<i class="font-icon list-icon icon" ng-class="{active: user.viewMode === 'list'}" ng-click="changeView('list')"></i>
		</div>
	</div>
</div>

<section class="dashboard activity">
	<ul id="items" class="items-wrap" ng-class="{'list-view': user.viewMode === 'list'}">
		<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail
			}">

			<div class="action-buttons">
				<a href="" class="addto-btn"
					tooltip="Collect"><i class="font-icon addto-icon"></i></a>
				<a href="" class="share-btn"
					tooltip="Share"
					ng-dialog="shareLikeDialog"
					ng-dialog-class="lsd-theme share-dialog share-like"
					ng-dialog-scope=""
					ng-dialog-controller="shareLikeController"
					ng-dialog-data="{{item._id}}, {{item.type}}, {{item.title||item.repo}}"><i class="font-icon share-icon"></i></a>
				<a href="" class="delete-btn"
					tooltip="Delete"
					ng-click="hideLike(item._id, $index)"><i class="font-icon delete-icon"></i></a>
			</div>

			<div ng-if="item.thumbnail" class="image">
				<a ng-if="item.thumbnail" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>

				<div class="info">
					<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
					<div ng-if="item.description" class="description" ng-bind-html="item.description|linky:'_blank'|truncate:300"></div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<h2 ng-if="item.title || item.repo || item.name" class="title truncate">{{item.title||item.repo||item.name}}</h2>
				<div ng-if="item.description" class="description" ng-bind-html="item.description|linky:'_blank'|truncate:300"></div>
			</div>

			<time>{{item.created|date: 'longDate'}}</time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
		</li>
	</ul>
</section>
