<section class="dashboard {{title|lowercase}}">
	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index}}" ng-class="item.thumbnail ? 'thumbed' : ''" ng-repeat="item in items">

		</li>
	</ul>
</section>
