<!-- navigation -->
<nav class="left dashboard-nav" ng-include="'partials/navigation'" sticky-at="user.warning ? 90 : 50" ng-show="user"></nav>

<!-- dashboard -->
<section class="main-dashdoard {{title|lowercase}}">
	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index+1}}" ng-class="item.thumbnail ? 'thumbed' : ''" ng-repeat="item in items">
			<a href="{{item.source}}" class="source-link" target="_blank"></a>

			<!-- card action buttons -->
			<div class="item-action-buttons" touchy>

				<a href="" class="share-btn" ng-dialog="shareLikeDialog" ng-dialog-class="lsd-theme share-dialog share-like" ng-dialog-controller="shareLikeController" ng-dialog-data="{{item}}"><i class="font-icon share-icon"></i></a>

				<script type="text/ng-template" id="shareLikeDialog">
					<h2>
						<i data-icon="Y" class="icon"></i>
						Copy and share link
					</h2>
					<input id="likeUrl" class="field" ng-model="link">
					<div class="social-desc">Or share it through social services</div>
					<div class="social-share">
						<button type="button" class="btn fb-btn" share-on="facebook" share-on-event="share-like" share-on-text="{{link}}">Share on facebook</button>
						<button type="button" class="btn tw-btn" share-on="twitter" share-on-event="share-like" share-on-text="{{title}} on @{{service}} - {{link}}, shared via @likeastore ">Share on twitter</button>
					</div>
				</script>

				<a href="" class="delete-btn" ng-click="hideLike(item._id, $index)"><i class="font-icon delete-icon"></i></a>
			</div>

			<!-- card with thumbnail -->
			<div ng-if="item.thumbnail" class="item-thumb-wrap">
				<div class="item-bg" style="background-image: url({{item.thumbnail}})" ng-show="item.thumbnail"></div>
				<div class="item-bg-info">
					<i class="font-icon play-icon" ng-show="item.type === 'youtube' || item.type === 'vimeo'"></i>
					<h2 class="title">{{item.title}}</h2>
					<div class="item-date">{{item.type}} &#8226; {{item.created|date: 'longDate'}}</div>
				</div>
			</div>

			<!-- text only card -->
			<div ng-if="!item.thumbnail" class="item-text-wrap">
				<img ng-if="item.kind != 'link'" class="image" src="{{item.avatarUrl}}">
				<div ng-if="item.kind == 'link'" class="image facebook-img" style="background-image: url({{item.avatarUrl}});"></div>
				<div class="repo" ng-show="item.repo">{{item.repo}}</div>
				<div class="desc">
					<div linkify="item.description" class="desc-text"></div>
					<div ng-show="!item.description" class="empty-desc">This item has no description :(</div>
					<div class="autor-item">by @{{item.authorName}}</div>
				</div>
				<div class="item-date">{{item.type}} &#8226; {{item.created|date: 'longDate'}}</div>
			</div>

			<i class="item-type font-icon {{item.type}}-icon"></i>
		</li>
	</ul>

	<div ng-show="nextPage">
		<div class="show-more" ng-click="showMore()">Show more</div>
	</div>

	<div class="loading" ng-hide="loaded || error"><span class="mask"></span></div>

	<div class="empty-results" ng-if="loaded && !items.length && search">
		<div class="annoyed-icon big-icon"></div>
		<h2>Ooops.. no matching search results!</h2>
	</div>

	<div class="empty-results" ng-if="loaded && !items.length && inbox">
		<div class="box-icon big-icon"></div>
		<h2>Your inbox is empty..</h2>
		<h3>No new likes were collected since your last visit, be more active!</h3>
	</div>

	<div class="empty-results" ng-if="loaded && !items.length && !search && !inbox">
		<div class="robot-icon big-icon"></div>
		<h2>You don't own any items to display yet..</h2>
		<a href="/settings" class="red-press-btn">Go to settings</a>
	</div>

	<div class="empty-results" ng-if="error">
		<div class="error-icon big-icon"></div>
		<h2>Robot panic.. we are experiencing troubles!</h2>
		<h3>Sorry for that. The error is logged and team already notified, it will be fixed soon.</h3>
	</div>

</section>