<div class="top-bar clearfix animated fadeInLeft">
	<div class="top left">
		<h2 ng-show="items.length && !collection" class="title">{{title}}</h2>
		<div ng-show="items.length && inbox" class="description">You have <b>{{inboxCount}}</b> new favorites since last visit</div>
		<div ng-if="collection" edit-collection class="edit-collection-wrap"></div>
	</div>
	<div ng-show="!collection && items.length && !inbox && !search" class="notify-line" ng-click="createFirstCollection()">
		<img src="/img/new-stamp.png" class="icon"> Check out “Collections” feature!
	</div>

	<div ng-show="search && items.length" class="notify-line"
		ng-dialog="inviteDialogId"
		ng-dialog-class="lsd-theme share-dialog"
		ng-dialog-controller="shareWithFriendController"
		ng-dialog-show-close="false">
		<img src="/img/friends-stamp.png" class="icon"> Invite your friends!
	</div>
</div>

<section class="dashboard activity animated fadeIn">
	<ul ng-if="items.length" id="items" class="items-wrap" ng-class="{
		'list-view': user.viewMode === 'list',
		'grid-view': user.viewMode === 'grid',
		'inbox': inbox
	}">
		<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail,
				'last': $last
			}"
			go-to-link="{{item.source}}">

			<div class="action-buttons">
				<div add-collection-popup="item"></div>
				<a href="" class="share-btn"
					tooltip="Share"
					ng-dialog="shareLikeDialog"
					ng-dialog-class="lsd-theme share-dialog share-like"
					ng-dialog-controller="shareLikeController"
					ng-dialog-show-close="false"
					ng-dialog-data="{{item._id}}, {{item.type}}, {{item.title||item.repo}}"><i class="font-icon share-icon"></i></a>
				<a href="" class="delete-btn"
					tooltip="{{inbox ? 'Mark as read' : (collection ? 'Remove' : 'Delete')}}"
					ng-click="inbox ? markAsRead(item._id, $index) : remove(item._id, $index)"><i class="font-icon delete-icon"></i></a>
			</div>

			<div ng-if="item.thumbnail" class="image">
				<a ng-show="user.viewMode === 'grid'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>

				<div class="info">
					<div ng-if="item.avatarUrl" class="author-image">
						<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
					</div>

					<div ng-show="user.viewMode === 'grid'" class="right-block">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
						<div ng-if="item.description" class="description"
							ng-bind-html="item.description|truncate:240|linkify" ng-class="{short: user.viewMode==='grid' && item.title && item.authorName}"></div>
					</div>

					<div ng-show="user.viewMode === 'list'" class="right-block clearfix">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<a ng-show="user.viewMode === 'list'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
						<div class="texts">
							<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
							<div ng-if="item.description" class="description"
								ng-bind-html="item.description|truncate:240|linkify"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<div ng-if="item.avatarUrl && item.type !== 'facebook'" class="author-image">
					<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
				</div>
				<div class="right-block">
					<div ng-if="item.authorName && item.type !== 'facebook'" class="author-name">{{item.authorName}}</div>
					<h2 ng-if="item.title || item.repo || item.name" class="title"
						ng-class="{truncate: item.type !== 'tumblr'}">{{item.title||item.repo||item.name}}</h2>
					<div ng-if="item.description && item.description !== item.name" class="description"
						ng-bind-html="item.description|truncate:240|linkify"></div>
					<div ng-if="item.gist || item.type === 'tumblr' || item.description === item.name" class="description"
						ng-bind-html="item.source|linkify"></div>
				</div>
			</div>

			<time>{{item.created|date: 'longDate'}}</time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
		</li>
	</ul>

	<div ng-if="loaded && !items.length && !search && !inbox && !collection" class="empty-box">
		<div class="empty-step one">
			<h2 class="title">1. Add network</h2>
			<p>To start using our service the only thing you need is to <b>turn on</b> any network provided by configuration.</p>
			<a href="/settings" class="btn gradient-btn">Connect service</a>
		</div>

		<div class="empty-step two">
			<h2 class="title">2. Wait a moment</h2>
			<p>Our robot will automaticly get all your favorites from connected networks but it may take a few minutes.</p>
			<div class="help"><i class="font-icon help-icon icon"></i>Still do not see your favorites? <br><a href="mailto:info@likeastore.com">Please contact our support.</a></div>
		</div>

		<div class="arrow-helper">
			<img src="/img/black-arrow.png" class="arrow">
			<div class="hint">You don't own any <span ng-show="stringifiedNetworks.indexOf(title.toLowerCase()) !== -1">{{title}}</span> items yet. Here is the way to fill it up!</div>
		</div>
	</div>

	<div ng-if="loaded && !items.length && inbox" class="blank-box">
		<div class="box-icon big-icon"></div>
		<h2 class="title">Your inbox is zero!</h2>
		<p>No new favorites were collected since your last visit.<br> Start favoriting more actively!</p>
	</div>

	<div ng-if="loaded && !items.length && search" class="blank-box">
		<div class="robot-icon big-icon"></div>
		<h2 class="title">No matching search results!</h2>
		<p>Sorry, but there is no content related to your <b ng-show="query">"{{query}}"</b> request. Didn't you mean something else?</p>
	</div>

	<div ng-if="loaded && !items.length && collection" class="blank-box empty-collection">
		<img src="/img/collect-example-screen.png">
		<h2 class="title">This collection is empty!</h2>
		<p>You didn't add any favorites to this collection.<br>  You can easily start collecting items by clicking <b>"Add"</b> button at the top of the favorite's card.</p>
		<a href="/favorites" class="btn gradient-btn">Add favorites</a>
	</div>

	<div ng-hide="loaded || error" class="two-spin"></div>
</section>
