<!-- navigation -->
<nav class="left dashboard-nav" sticky-at="user.warning ? 90 : 50">
	<div text-search="query"></div>

	<ul class="networks-menu">
		<li class="menu-subtitle">Folders</li>
		<li>
			<a href="/inbox" class="menu-title inbox"><i data-icon="M" class="icon"></i> Inbox <inbox-counter /></a>
		</li>
		<li>
			<a href="/feed" class="menu-title inbox"><i data-icon="M" class="icon"></i> Feed </a>
		</li>
		<li>
			<a href="/all" class="menu-title likes"><i data-icon="s" class="icon"></i> All Likes</a>
		</li>
		<li class="menu-subtitle">Services</li>
		<li>
			<a href="/facebook" class="menu-title facebook"><i data-icon="g" class="icon"></i> Facebook</a>
		</li>
		<li>
			<a href="/twitter" class="menu-title twitter"><i data-icon="b" class="icon"></i> Twitter</a>
		</li>
		<li>
			<a href="/vimeo" class="menu-title vimeo"><i data-icon="C" class="icon"></i> Vimeo </a>
		</li>
		<li>
			<a href="/youtube" class="menu-title youtube"><i data-icon="O" class="icon"></i> Youtube </a>
		</li>
		<li>
			<a href="/dribbble" class="menu-title dribbble"><i data-icon="y" class="icon"></i> Dribbble <span class="new-notifier">New</span> </a>
		</li>
		<li>
			<a href="/behance" class="menu-title behance"><i data-icon="4" class="icon"></i> Behance <span class="new-notifier">New</span> </a>
		</li>
		<li>
			<a href="/github" class="menu-title github"><i data-icon="d" class="icon"></i> Github</a>
		</li>
		<li>
			<a href="/stackoverflow" class="menu-title stackoverflow"><i data-icon="a" class="icon"></i> Stackoverflow</a>
		</li>
	</ul>

	<div class="promo-line">
		<div class="promo-text">Invite your friends to stay tuned with their likes!</div>

		<a href="" class="btn green-btn" ng-dialog="shareDialogId" ng-dialog-class="lsd-theme share-dialog" ng-dialog-controller="shareWithFriendController"><i data-icon="S" class="side-btn-icon"></i> Share love</a>

		<script type="text/ng-template" id="shareDialogId">
			<h2>
				<i data-icon="w" class="icon"></i>
				 Invite your friends
			</h2>
			<form ng-submit="send()">
				<div class="send-error" ng-show="error">We are experiencing troubles, please try again later</div>
				<div>
					<input type="email" class="field" placeholder="Email" ng-model="email" required>
				</div>
				<div>
					<textarea class="field" rows="6" ng-model="message" required>
					</textarea>
				</div>
				<button type="submit" class="btn green-btn" ng-disabled="sendText == 'Sending'">{{sendText}}</button>
			</form>
			<div class="social-desc">Spread a word through social services</div>
			<div class="social-share">
				<button type="button" class="btn fb-btn" share-on-event="share-with-friend" share-on="facebook">Share on facebook</button>
				<button type="button" class="btn tw-btn" share-on-event="share-with-friend" share-on="twitter">Share on twitter</button>
			</div>
		</script>
	</div>

	<ul class="footer-links">
		<li><a href="http://blog.likeastore.com" target="_blank">Read blog</a></li>
		<li><a href="mailto:info@likeastore.com">Send feedback</a></li>
	</ul>
</nav>

<!-- dashboard -->
<section class="main-dashdoard {{title|lowercase}}">
	<ul class="items-wrap">
		<li class="dash-item {{item.type}} item{{$index+1}}" ng-class="item.thumbnail ? 'thumbed' : ''" ng-repeat="item in items">
			<a href="{{item.source}}" class="source-link" target="_blank"></a>

			<!-- card action buttons -->
			<div class="item-action-buttons" touchy>

				<a href="" class="share-btn" ng-dialog="shareLikeDialog" ng-dialog-class="lsd-theme share-dialog share-like" ng-dialog-controller="shareLikeController" ng-dialog-data="{{item}}"><i class="font-icon share-icon"></i></a>

				<script type="text/ng-template" id="shareLikeDialog">
					<h2>
						<i data-icon="Y" class="icon"></i>
						 Copy and share link
					</h2>
					<input id="likeUrl" class="field" ng-model="link">
					<div class="social-desc">Or share it through social services</div>
					<div class="social-share">
						<button type="button" class="btn fb-btn" share-on="facebook" share-on-event="share-like" share-on-text="{{link}}">Share on facebook</button>
						<button type="button" class="btn tw-btn" share-on="twitter" share-on-event="share-like" share-on-text="{{title}} on @{{service}} - {{link}}, shared via @likeastore ">Share on twitter</button>
					</div>
				</script>

				<a href="" class="delete-btn" ng-click="hideLike(item._id, $index)"><i class="font-icon delete-icon"></i></a>
			</div>

			<!-- card with thumbnail -->
			<div ng-if="item.thumbnail" class="item-thumb-wrap">
				<div class="item-bg" style="background-image: url({{item.thumbnail}})" ng-show="item.thumbnail"></div>
				<div class="item-bg-info">
					<i class="font-icon play-icon" ng-show="item.type === 'youtube' || item.type === 'vimeo'"></i>
					<h2 class="title">{{item.title}}</h2>
					<div class="item-date">{{item.type}} &#8226; {{item.created|date: 'longDate'}}</div>
				</div>
			</div>

			<!-- text only card -->
			<div ng-if="!item.thumbnail" class="item-text-wrap">
				<img src="{{item.avatarUrl}}">
				<div class="repo" ng-show="item.repo">{{item.repo}}</div>
				<div class="desc">
					<div linkify="item.description" class="desc-text"></div>
					<div ng-show="!item.description" class="empty-desc">This item has no description :(</div>
					<div class="autor-item">by @{{item.authorName}}</div>
				</div>
				<div class="item-date">{{item.type}} &#8226; {{item.created|date: 'longDate'}}</div>
			</div>

			<i class="item-type font-icon {{item.type}}-icon"></i>
		</li>
	</ul>

	<div ng-show="nextPage">
		<div class="show-more" ng-click="showMore()">Show more</div>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && search">
		<div class="annoyed-icon big-icon"></div>
		<h2>Ooops.. no matching search results!</h2>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && inbox">
		<div class="box-icon big-icon"></div>
		<h2>Your inbox is empty..</h2>
		<h3>No new likes were collected since your last visit, be more active!</h3>
	</div>

	<div class="empty-results" ng-show="loaded && !items.length && !search && !inbox">
		<div class="robot-icon big-icon"></div>
		<h2>You don't own any items to display yet..</h2>
		<a href="/settings" class="red-press-btn">Go to settings</a>
	</div>

	<div class="empty-results" ng-show="error">
		<div class="error-icon big-icon"></div>
		<h2>Robot panic.. we are experiencing troubles!</h2>
		<h3>Sorry for that. The error is logged and team already notified, it will be fixed soon.</h3>
	</div>

	<div class="loading" ng-hide="loaded || error"><span class="mask"></span></div>
</section>