<!--<nav class="cell dashboard-nav" ng-include src="'partials/nav'"></nav>-->

<section class="main-dashdoard">
	<div class="dashboard-header">
		<h1 class="cell">{{title}}</h1>
		<div class="cellRight">
			<div class="top-search-deck">
				<input type="text" class="search-input" name="lsSearch" placeholder="Search items" ng-model="query">
				<span class="ls-ico lst-sml search-ico"></span>
			</div>
		</div>
	</div>

	<ul>
		<li class="dash-item" ng-repeat="item in items|filter:query">
			<img src="{{item.avatarUrl}}">
			<a href="{{item.url || item.source}}" target="_blank">{{item.description}}</a>
		</li>
	</ul>
	<div ng-show="!items.length">No items to display :(</div>
</section>