<section class="discuss dashboard animated fadeIn">
	<div class="item-preview">
	</div>

	<form class="comment-form">
		<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load>
		<textarea class="comment-box" msd-elastic ng-model="comment" placeholder="Write your comment.."></textarea>
		<button type="submit" class="button navy-btn mdm-btn">Post</button>
	</form>

	<div class="comments">
	</div>
</section>
