<!-- navigation -->
<nav class="left dashboard-nav" ng-include="'partials/navigation'" sticky-at="user.warning ? 90 : 50" ng-show="user"></nav>

<!-- discover -->
<section class="main-dashdoard {{title|lowercase}}">
	<ul class="discover-wrap">
		<li class="discover-item" ng-repeat="item in items" ng-class="{'last': $last}">
			<a href="{{item.source}}" class="source-link" target="_blank"></a>

			<img src="{{item.userData.avatar}}" class="avatar left">

			<div class="discover-info">
				<div class="action"><span class="username">{{item.userData.displayName || item.userData.name}}</span> liked on <span class="service">{{item.type}}</span>: <time class="right" am-time-ago="item.date"></time></div>

				<div class="discover-source-wrap" ng-if="item.thumbnail || item.kind === 'link' || item.title">
					<a href="{{item.source}}" class="thumb" style="background-image: url({{item.thumbnail || item.avatarUrl}});" ng-if="item.thumbnail || item.kind === 'link'" target="_blank"></a>

					<div class="discover-source">
						<a href="{{item.source}}" class="title" ng-if="item.title" target="_blank">{{item.title}}</a>
						<a href="{{item.authorUrl}}" class="author top {{item.type}}" ng-if="item.authorName && item.title" target="_blank">by @{{item.authorName}}</a>
					</div>
				</div>
				<div class="desc" ng-if="item.description" linkify="item.description|truncate:300"></div>
				<div class="desc" ng-if="!item.thumbnail && !item.description">This item has no description :(</div>
				<a href="{{item.authorUrl}}" class="author bottom {{item.type}}" ng-if="item.authorName && !item.title" target="_blank">by @{{item.authorName}}</a>

				<i class="item-type font-icon {{item.type}}-icon"></i>
			</div>
		</li>
	</ul>

	<div ng-show="nextPage">
		<div class="show-more" ng-click="showMore()">Show more</div>
	</div>

	<div class="empty-results" ng-if="loaded && !items.length">
		<div class="discover-empty-icon big-icon"></div>
		<h2>Your discovery feed is empty..</h2>
		<a href="/settings" class="red-press-btn">Find people to follow</a>
	</div>

	<div class="loading" ng-hide="loaded || error"><span class="mask"></span></div>
</section>
