<section class="discuss animated fadeIn">
	<div class="item-preview">
	</div>

	<form class="comment-form">
		<div class="user">
			<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load>
		</div>
		<textarea class="comment-box" msd-elastic ng-model="comment" placeholder="Write your comment.."></textarea>
		<button type="submit">Post</button>
	</form>

	<div class="comments">
	</div>
</section>
