<section class="discuss dashboard animated fadeIn">
	<div class="item-preview">
	</div>

	<ol class="comments">
		<li class="comment" ng-repeat="comment in comments">
			<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load/>
			<a class="name" href="/u/{{comment.user.name}}">{{comment.user.name}}</a>
			<div class="message">
				{{comment.message}}
			</div>
		</li>
	</ol>

	<form class="comment-form" ng-submit="postComment()">
		<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load>
		<textarea class="comment-box" msd-elastic ng-model="message" placeholder="Write your comment.."></textarea>
		<button type="submit" class="button navy-btn mdm-btn">Post</button>
	</form>
</section>
