<section class="discuss dashboard animated fadeIn">
	<div class="user-info">
		<img ng-src="{{item.userData.avatar}}" class="avatar close-sidebar" avatar-load/>
		<span class="info">
			<a class="name" href="/u/{{item.userData.name}}">{{item.userData.name}}</a> liked this on <span class="name">{{item.type}}</span>:
		</span>
	</div>

	<div class="preview">
		<ul class="items-wrap" class="grid-view">
			<li class="dash-item {{item.type}} item{{$index}}"
				ng-model="item"
				ng-class="{
					'thumbed': item.thumbnail,
					'texted': !item.thumbnail,
					'last': $last
				}"
				go-to-link="{{item.trackUrl||item.source}}"
				ng-include="'/partials/cardItem.ejs'">
			</li>
		</ul>
	</div>

	<ol class="comments">
		<li class="comment" ng-repeat="comment in comments">
			<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load/>
			<abbr class="date" title="{{comment.date}}">{{ago(comment.date)}}</abbr>
			<a class="name" href="/u/{{comment.user.name}}">{{comment.user.name}}</a>
			<div class="message">
				{{comment.message}}
			</div>
		</li>
	</ol>

	<form class="comment-form" ng-submit="postComment()">
		<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load>
		<textarea class="comment-box" msd-elastic ng-model="message" placeholder="Write your comment.."></textarea>
		<button type="submit" class="button navy-btn mdm-btn">Post</button>
	</form>
</section>
