<section class="explore animated fadeIn">
	<div class="explore-block grid-1020-wrap">
		<form class="explore-form" novalidate>
			<i class="font-icon search-icon icon"></i>
			<input type="search" class="fld search-collection-fld" placeholder="Inspiration, UI, Design, Web Development, Marketing, Cat photos" ng-model="searchTags" required autocomplete="off">
		</form>
	</div>

	<h2 class="featured-title grid-1020-wrap">
		<span ng-if="!searching">Popular collections</span>
		<span ng-if="colls.length && searching">Search results for "{{searchTags}}"</span>
		<span ng-if="!colls.length && searching">Sorry, no collections found for "{{searchTags}}"</span>
	</h2>

	<ul id="scrollyItems" class="coll-grid grid-1020-wrap clearfix">
		<li class="coll-card collection{{$index}}"
			ng-repeat="coll in colls"
			ng-class="{last: $last}"
			ng-include="'/partials/cardCollection.ejs'">
		</li>
	</ul>

	<div ng-hide="loaded || error" class="two-spin"></div>
</section>
