<div ng-if="items.length" class="feed animated fadeIn">
	<h2 class="featured-title less-space">{{title}}</h2>
	<div class="featured-description">Explore favorites from collections you follow</div>
</div>

<section class="dashboard feed clearfix" id="scrollyItems" ng-switch="user.viewMode">
	<div ng-switch-when="grid">
		<div class="deckgrid clearfix" deckgrid source="items" cardTemplate="/partials/card.ejs"></div>
	</div>

	<div ng-switch-when="list">
		<ul class="animated fadeIn">
			<li class="card-item clearfix {{card.type}} item{{card.$index}}"
				ng-repeat="card in items"
				ng-class="{
					'thumbed': card.thumbnail,
					'texted': !card.thumbnail,
					'last': $last
				}">

				<a ng-href="{{card.trackUrl}}" class="mask-link" target="_blank"></a>

				<div class="card-buttons align-right">
					<div store-it="card"></div>
					<a href="" class="share-card-btn"
						ng-dialog="shareLikeDialog"
						ng-dialog-class="lsd-theme share-dialog share-like"
						ng-dialog-controller="shareLikeController"
						ng-dialog-show-close="false"
						ng-dialog-data="{{card._id}}, {{card.type}}, {{card.title||card.repo}}"><i class="font-icon share-entypo-icon icon"></i></a>
				</div>

				<a href="/u/{{card.collection.owner.name}}">
					<img ng-src="{{card.collection.owner.avatar}}" class="c-avatar left" avatar-load>
				</a>

				<div class="card-info">
					<div class="card-collection-meta truncate">
						<a href="/u/{{card.collection.owner.name}}">{{card.collection.owner.name}}</a> added to
						<a href="/u/{{card.collection.owner.name}}/{{card.collection._id}}" class="c-title">{{card.collection.title}}</a>
					</div>

					<div class="card-top-table" ng-class="{'space-top': card.thumbnail}">
						<div ng-if="card.thumbnail" class="thumb left" style="background-image: url({{card.thumbnail}})"></div>

						<h2 ng-if="card.title||card.repo||card.name" class="title" ng-class="{'bottom-space': card.description}">{{card.title||card.repo||card.name}}</h2>

						<div ng-if="card.description" class="description" ng-class="{'long': card.description.length >= 260}" ng-bind-html="card.description|truncate:260|linkify"></div>

						<div class="from">
							<i class="font-icon {{card.type}}-icon {{card.type}}-bg-clr icon"></i>
							<span ng-if="card.authorName">by <span class="author-name">{{card.authorName}}</span></span>
							<span ng-if="!card.authorName">from <span class="type">{{card.type}}</span></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="blank-box" ng-if="loaded && !items.length">
		<div class="discover-empty-icon big-icon"></div>
		<h2 class="title">Your feed is empty :(</h2>
		<p>Find what is trendy and popular on social networks and what your friends are favoriting right now!</p>
		<a href="/explore" class="button slk-btn gradient-btn">Explore collections</a>
	</div>

	<div class="two-spin" ng-hide="loaded || error"></div>
</section>
