<div class="feed top-bar clearfix animated fadeInLeft">
	<div class="top left">
		<h2 ng-show="items.length" class="title">{{title}}</h2>
		<div ng-show="items.length" class="description">Favorites from collections you follow</div>
	</div>

	<div ng-show="items.length" class="notify-line" ng-click="switchMenu('/suggest')">
		<img src="/img/friends-stamp.png" class="icon"> Find interesting people!
	</div>
</div>

<section class="dashboard feed clearfix" ng-switch="user.viewMode">
	<div ng-switch-when="grid">
		<div class="deckgrid clearfix animated fadeIn" deckgrid source="items" cardTemplate="/partials/card.ejs"></div>
	</div>

	<div ng-switch-when="list">
		<ul class="animated fadeIn">
			<li class="card-item clearfix {{card.type}} item{{card.$index}}"
				ng-repeat="card in items"
				ng-class="{
					'thumbed': card.thumbnail,
					'texted': !card.thumbnail,
					'last': $last
				}">

				<a ng-href="{{card.source}}" class="mask-link" target="_blank"></a>

				<div class="card-buttons align-right">
					<div store-it="card"></div>
					<a href="" class="share-card-btn"
						ng-dialog="shareLikeDialog"
						ng-dialog-class="lsd-theme share-dialog share-like"
						ng-dialog-controller="shareLikeController"
						ng-dialog-show-close="false"
						ng-dialog-data="{{card._id}}, {{card.type}}, {{card.title||card.repo}}"><i class="font-icon share-entypo-icon icon"></i></a>
				</div>

				<a href="/u/{{card.collection.owner.name}}">
					<img ng-src="{{card.collection.owner.avatar}}" class="c-avatar left" avatar-load>
				</a>

				<div class="card-info">
					<div class="card-collection-meta truncate">
						<a href="/u/{{card.collection.owner.name}}">{{card.collection.owner.name}}</a> added to
						<a href="/u/{{card.collection.owner.name}}/{{card.collection._id}}" class="c-title">{{card.collection.title}}</a>
					</div>

					<div class="card-top-table" ng-class="{'space-top': card.thumbnail}">
						<div ng-if="card.thumbnail" class="thumb left" style="background-image: url({{card.thumbnail}})"></div>

						<h2 ng-if="card.title||card.repo||card.name" class="title" ng-class="{'bottom-space': card.description}">{{card.title||card.repo||card.name}}</h2>

						<div ng-if="card.description" class="description" ng-bind-html="card.description|truncate:260|linkify"></div>

						<div class="from">
							<i class="font-icon {{card.type}}-icon {{card.type}}-bg-clr icon"></i>
							<span ng-if="card.authorName">by <span class="author-name">{{card.authorName}}</span></span>
							<span ng-if="!card.authorName">from <span class="type">{{card.type}}</span></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>


	<!--ul ng-if="items.length" id="items" class="items-wrap" ng-class="{'list-view': user.viewMode === 'list', 'grid-view': user.viewMode === 'grid'}">
		<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail,
				'last': $last
			}"
			go-to-link="{{item.source}}">

			<div class="action-buttons">
				<a href="" class="share-btn"
					tooltip="Share"
					ng-dialog="shareLikeDialog"
					ng-dialog-class="lsd-theme share-dialog share-like"
					ng-dialog-controller="shareLikeController"
					ng-dialog-show-close="false"
					ng-dialog-data="{{item._id}}, {{item.type}}, {{item.title||item.repo}}"><i class="font-icon share-icon"></i></a>
			</div>

			<div ng-if="item.thumbnail" class="image">
				<a ng-show="user.viewMode === 'grid'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>

				<div class="info">
					<a href="/u/{{item.collection.owner.name}}" class="author-image">
						<img ng-src="{{item.collection.owner.avatar}}" class="avatar" avatar-load>
					</a>

					<div ng-show="user.viewMode === 'grid'" class="right-block">
						<div class="author-name"><a href="/u/{{item.collection.owner.name}}">{{item.collection.owner.displayName || item.collection.owner.name}}</a> liked<span ng-show="user.viewMode === 'list'"> on <span class="type">{{item.type}}</span></span> -</div>
						<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
						<div ng-if="item.description" class="description"
							ng-bind-html="item.description|truncate:180|linkify" ng-class="{short: user.viewMode==='grid' && item.title && item.authorName}"></div>
					</div>

					<div ng-show="user.viewMode === 'list'" class="right-block clearfix">
						<div class="author-name"><a href="/u/{{item.collection.owner.name}}">{{item.collection.owner.displayName || item.collection.owner.name}}</a> liked<span ng-show="user.viewMode === 'list'"> on <span class="type">{{item.type}}</span></span> -</div>
						<a ng-show="user.viewMode === 'list'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
						<div class="texts">
							<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
							<div ng-if="item.description" class="description"
								ng-bind-html="item.description|truncate:180|linkify"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<a href="/u/{{item.collection.owner.name}}" class="author-image">
					<img ng-src="{{item.collection.owner.avatar}}" class="avatar" avatar-load>
				</a>
				<div class="right-block">
					<div class="author-name"><a href="/u/{{item.collection.owner.name}}">{{item.collection.owner.displayName || item.collection.owner.name}}</a> liked<span ng-show="user.viewMode === 'list'"> on <span class="type">{{item.type}}</span></span> -</div>
					<h2 ng-if="item.title || item.repo || item.name" class="title"
						ng-class="{truncate: item.type !== 'tumblr'}">{{item.title||item.repo||item.name}}</h2>
					<div ng-if="item.description && item.description !== item.name" class="description"
						ng-bind-html="item.description|truncate:180|linkify"></div>
					<div ng-if="item.gist || item.type === 'tumblr' || item.description === item.name" class="description"
						ng-bind-html="item.source|linkify"></div>
				</div>
			</div>

			<time am-time-ago="item.date"></time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
		</li>
	</ul> -->

	<div class="blank-box" ng-if="loaded && !items.length">
		<div class="discover-empty-icon big-icon"></div>
		<h2 class="title">Your feed is empty!</h2>
		<p>Explore what your friends from different social networks are favoriting right now! Just find people and follow their collections.</p>
		<a href="/suggest" class="btn gradient-btn">Find people</a>
	</div>

	<div class="two-spin" ng-hide="loaded || error"></div>
</section>
