<div class="cell header-left">
	<a href="/" class="ls-ico ls-logo cell"></a>
</div>
<div class="account-info cellRight">
	<span class="account-name cell">{{user.name}}</span>
	<span class="dropdown-menu" model="user"></span>
</div>
