<div class="left">
	<a href="/" class="logo left">likeastore.</a>
</div>

<div class="account-info right">
	<a href="/settings" data-icon="N" class="network-error icon" ng-show="user.warning"><span></span></a>
	<span class="account-name left">{{user.name}}</span>
	<span class="dropdown-menu" model="user"></span>
</div>
