<div class="cell header-left"><a class="ls-ico ls-logo cell"></a></div>
<div class="account-info cellRight">
	<span class="account-name">{{user.name}}</span>
	<img src="{{user.avatar}}" alt="{{user.name}}">
	<span class="account-show"></span>
</div>
