<div class="cell header-left">
	<a href="/" class="logo cell">likeastore.</a>
</div>

<div class="account-info cellRight">
	<span class="account-name cell">{{user.name}}</span>
	<span class="dropdown-menu" model="user"></span>
</div>
