<div class="left">
	<a href="/" class="logo left">likeastore.</a>
</div>

<div class="account-info right">
	<a href="/u/{{user.name}}" class="account-name left">{{user.name}}</a>
	<span class="dropdown-menu" model="user"></span>
</div>
