<!-- navigation -->
<nav class="left dashboard-nav" ng-include="'partials/navigation'" sticky-at="user.warning ? 90 : 50" ng-show="user"></nav>

<!-- history -->
<section class="main-dashdoard {{title|lowercase}}">
	<ul class="history-wrap" ng-if="items.length">
		<li class="history-item" ng-repeat="item in items">
			<time class="history-date">{{item.date|date:'dd/MM/yyyy'}}</time>
			<div class="history-icon font-icon {{item.mainService}}-icon"></div>
			<ul class="history-info-block">
				<li class="history-likes-item" ng-repeat="service in item.services|orderBy:'-value'">
					<i class="font-icon {{service.name}}-icon"></i> <span class="name">{{service.name}}</span>: &nbsp<a href="/{{service.name}}">{{service.value}} {{service.text}}<span ng-if="service.value > 1">s</span></a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="empty-results" ng-if="loaded && !items.length">
		<div class="history-empty-icon big-icon"></div>
		<h2>Your history is empty..</h2>
		<h3>Start to collect likes and track your social activity now!</h3>
	</div>

	<div class="loading" ng-hide="loaded || error"><span class="mask"></span></div>
</section>