<ul>
	<li>
		<div class="menu-ico cell ls-ico dash-menu-ico"></div>
		<a href="/inbox" class="menu-title cell">Inbox</a>
	</li>
	<li>
		<div class="menu-ico cell ls-ico tw-menu-ico"></div>
		<a href="/twitter" class="menu-title cell">Twitter</a>
	</li>
	<li>
		<div class="menu-ico cell ls-ico git-menu-ico"></div>
		<a href="/github" class="menu-title cell">Github</a>
	</li>
	<li>
		<div class="menu-ico cell ls-ico stack-menu-ico"></div>
		<a href="/stackoverflow" class="menu-title cell">Stackoverflow</a>
	</li>
</ul>