<ul>
	<li>
		<a href="/inbox" class="menu-ico cell ls-ico dash-menu-ico"></a>
		<a href="/inbox" class="menu-title cell">Inbox</a>
	</li>
	<li>
		<a href="/twitter" class="menu-ico cell ls-ico tw-menu-ico"></a>
		<a href="/twitter" class="menu-title cell">Twitter</a>
	</li>
	<li>
		<a href="/github" class="menu-ico cell ls-ico git-menu-ico"></a>
		<a href="/github" class="menu-title cell">Github</a>
	</li>
	<li>
		<a href="/stackoverflow" class="menu-ico cell ls-ico stack-menu-ico"></a>
		<a href="/stackoverflow" class="menu-title cell">Stackoverflow</a>
	</li>
</ul>
<span class="ls-ico bt-toggle" ng-click="toggleBar()"></span>