<ul class="folders">
	<li ng-if="user" class="user">
		<a href="/u/{{user.name}}" class="menu-title">
			<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load>
			<span class="username close-sidebar">{{(user.displayName || user.name)|truncate:35}}</span>
		</a>
		<a href="/settings" class="font-icon settings-icon subicon close-sidebar right"></a>
	</li>
	<li class="inbox">
		<a href="/inbox" class="menu-title close-sidebar"><i data-icon="c" class="font-icon inbox-icon icon"></i> Inbox <span class="inbox-counter right" ng-hide="inboxCount === 0">{{inboxCount}}</span></a>
	</li>
	<li class="favorites">
		<a href="/activity" class="menu-title close-sidebar"><i class="font-icon favorites-icon icon"></i> All favorites</a>
	</li>
	<li class="discover">
		<a href="/discover" class="menu-title close-sidebar"><i class="font-icon discover-icon icon"></i> Discover</a>
	</li>
	<li class="collections">
		<a href="" class="menu-title" ng-click="showCollections=!showCollections ? true : false"><i class="font-icon collections-icon icon"></i> Collections <i class="font-icon thinarrow-left-icon subicon right" ng-class="{'thinarrow-down-icon': showCollections}"></i></a>

		<div class="existing-collections">
			<a href="/collections/{{collection._id}}" ng-repeat="collection in collections">
				<span class="avatar" style="background-color: {{collection.color}} || #56c7aa;"></span>
				<span class="title">{{collection.title}}</span>
				<span class="count">{{collection.length}}</span>
			</a>
		</div>
	</li>
</ul>

<div class="new-collection-button">

</div>

<!-- <div text-search="query"></div>

<ul class="networks-menu folders-list">
	<li class="menu-subtitle">Folders</li>
	<li>
		<a href="/inbox" class="menu-title inbox"><i data-icon="M" class="icon"></i> Inbox <span class="inbox-counter" ng-hide="inboxCount === 0">{{inboxCount}}</span></a>
	</li>
	<li>
		<a href="/all" class="menu-title likes"><i data-icon="s" class="icon"></i> All Likes</a>
	</li>
	<li>
		<a href="/discover" class="menu-title discover"><i data-icon="j" class="icon"></i> Discover</a>
	</li>
	<li>
		<a href="/history" class="menu-title history"><i data-icon="<" class="icon"></i> History </a>
	</li>
	<li class="more-for-mobile">
		<a href="" ng-click="showMobileMenu=true" class="menu-title more-for-mobile"><i data-icon="J" class="icon"></i></a>
	</li>
</ul>

<ul class="networks-menu actual-networks-list" ng-class="{'turn-on': showMobileMenu}" ng-swipe-right="showMobileMenu=false">
	<li class="menu-subtitle">
		Services
		<i class="turn-off" ng-show="showMobileMenu" ng-click="showMobileMenu=false">&times;</i>
	</li>
	<li ng-repeat="network in networks" ng-init="type = network.service === 'gist' ? 'github' : network.service" ng-class="{'hide': network.service === 'gist'}">
		<a href="/{{type}}" class="menu-title {{type}}"><i class="font-icon {{type}}-icon"></i> {{type}}</a>
	</li>
	<li ng-if="!networks.length" class="no-networks-msg">You have 0 connected networks.</li>
	<li><a href="/settings" class="add-network-btn">+ Add network</a></li>
</ul>

<div class="promo-line">
	<div class="promo-text">Invite your friends to stay tuned with their likes!</div>

	<button type="button" class="btn big-btn green-btn" ng-dialog="shareDialogId" ng-dialog-class="lsd-theme share-dialog" ng-dialog-controller="shareWithFriendController"><i data-icon="S" class="side-btn-icon"></i> Share love</button>

	<script type="text/ng-template" id="shareDialogId">
		<h2>
			<i data-icon="w" class="icon"></i>
			 Invite your friends
		</h2>
		<form ng-submit="send()">
			<div class="send-error" ng-show="error">We are experiencing troubles, please try again later</div>
			<div>
				<input type="email" class="field" placeholder="Email" ng-model="email" required>
			</div>
			<div>
				<textarea class="field" rows="6" ng-model="message" required>
				</textarea>
			</div>
			<button type="submit" class="btn big-btn green-btn" ng-disabled="sendText == 'Sending'">{{sendText}}</button>
		</form>
		<div class="social-desc">Spread a word through social services</div>
		<div class="social-share">
			<button type="button" class="btn big-btn fb-btn" share-on-event="share-with-friend" share-on="facebook">Share on facebook</button>
			<button type="button" class="btn big-btn tw-btn" share-on-event="share-with-friend" share-on="twitter">Share on twitter</button>
		</div>
	</script>
</div>

<ul class="footer-links">
	<li><a href="http://blog.likeastore.com" target="_blank">Read blog</a></li>
	<li><a href="mailto:info@likeastore.com">Send feedback</a></li>
</ul>
 -->