<ul class="folders">
	<li ng-if="user" class="user">
		<div ng-click="switchMenu('/u/{{user.name}}')" class="menu-title">
			<img ng-src="{{user.avatar}}" class="avatar close-sidebar" avatar-load>
			<span class="username close-sidebar">{{(user.displayName || user.name)|truncate:35}}</span>
		</div>
		<div ng-click="user.logout()" class="font-icon logout-icon subicon right" tooltip="Sign out"></div>
		<div ng-click="goToConfig()" class="font-icon settings-icon subicon close-sidebar right" tooltip="Settings"></div>
	</li>
	<li class="inbox" ng-click="switchMenu('/inbox')" ng-class="{active: title==='Inbox'}">
		<div ng-click="switchMenu('/inbox')" class="menu-title close-sidebar"><i data-icon="c" class="font-icon inbox-icon icon"></i> Inbox <span class="inbox-counter right" ng-hide="inboxCount === 0">{{inboxCount}}</span></div>
	</li>
	<li class="favorites" ng-class="{active: title==='All favorites' || stringifiedNetworks.indexOf(title.toLowerCase()) !== -1}">
		<div ng-click="switchMenu('/favorites')" class="menu-title close-sidebar"><i class="font-icon favorites-icon icon"></i> All favorites</div>
	</li>
	<li class="discover" ng-class="{active: title==='Discover'}">
		<div ng-click="switchMenu('/discover')" class="menu-title close-sidebar"><i class="font-icon discover-icon icon"></i> Discover</a>
	</li>
	<li class="collections" ng-class="{'show-collections': showCollections}">
		<div class="menu-title" ng-click="showCollections=!showCollections ? true : false"><i class="font-icon collections-icon icon"></i> Collections <i class="font-icon thinarrow-left-icon subicon right" ng-class="{'thinarrow-down-icon': showCollections}"></i></div>

		<div class="colls">
			<div ng-show="!collections.length" class="empty-collections">
				You have 0 collections. <div ng-click="showAddForm=true" class="link">Click here to create the first one!</div>
			</div>
			<div ng-click="switchMenu('/collections/{{collection._id}}')" class="coll-item close-sidebar"
				ng-repeat="collection in collections"
				ng-class="{active: title===collection.title}">
				<span class="avatar" style="background-color: {{collection.color || '#56c7aa'}}"></span>
				<span class="title truncate">{{collection.title}}</span>
			</div>
		</div>
	</li>
</ul>

<div class="new-collection-block" add-collection></div>
