<section class="profile-page animated fadeIn">
	<div class="profile-user clearfix" ng-if="profile">
		<div class="left profile-info">
			<img ng-src="{{profile.avatar}}" class="avatar left" ng-click="switchList('favorites')" avatar-load>

			<div class="left">
				<div class="name truncate" ng-click="switchList('favorites')">{{profile.displayName || profile.name}}</div>

				<div class="profile-me" ng-if="me">Your profile</div>

				<div class="profile-action" ng-if="!me">
					<button type="button" class="btn small-btn green-btn follow-btn" ng-if="!profile.mutual && !profile.processing" ng-click="followUser(profile)">Follow</button>
					<button type="button" class="btn small-btn pink-btn following-btn" ng-if="profile.mutual && !profile.processing" ng-click="unfollowUser(profile)">Unfollow</button>
				</div>
			</div>
		</div>

		<div class="profile-stat right">
			<ul>
				<li class="stat-block following" ng-class="{'active': list==='follows'}">
					<a href="" class="mask-link" ng-click="switchList('follows')"></a>
					<div class="stat-count">
						{{kFormat(profile.follows.length) || 0}}
					</div>
					<div class="stat-title">
						follows
					</div>
				</li>
				<li class="stat-block followers" ng-class="{'active': list==='followed'}">
					<a href="" class="mask-link" ng-click="switchList('followed')"></a>
					<div class="stat-count">
						{{kFormat(profile.followed.length) || 0}}
					</div>
					<div class="stat-title">
						followers
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="profile-lists">
		<h2 class="list-title" ng-if="followers.length || items.length">
			<span ng-if="list === 'favorites'">Recent favorites:</span>
			<span ng-if="list === 'follows'">Following:</span>
			<span ng-if="list === 'followed'">Followed by:</span>
		</h2>

		<ul class="profile-favorites list-view {{list}}" ng-if="items.length && !followers">
			<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail,
				'last': $last
			}"
			go-to-link="{{item.source}}">

			<div ng-if="item.thumbnail" class="image">
				<div class="info">
					<div ng-if="item.avatarUrl" class="author-image">
						<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
					</div>

					<div class="right-block clearfix">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<a href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
						<div>
							<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
							<div ng-if="item.description" class="description"
								ng-bind-html="item.description|truncate:260|linkify"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<div ng-if="item.avatarUrl && item.type !== 'facebook'" class="author-image">
					<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
				</div>
				<div class="right-block">
					<div ng-if="item.authorName && item.type !== 'facebook'" class="author-name">{{item.authorName}}</div>
					<h2 ng-if="item.title || item.repo || item.name" class="title"
						ng-class="{truncate: item.type !== 'tumblr'}">{{item.title||item.repo||item.name}}</h2>
					<div ng-if="item.description" class="description"
						ng-bind-html="item.description|truncate:260|linkify"></div>
					<div ng-if="item.gist || item.type === 'tumblr'" class="description"
						ng-bind-html="item.source|linkify"></div>
				</div>
			</div>

			<time>{{item.created|date: 'longDate'}}</time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
			</li>
		</ul>

		<ul class="profile-followings {{list}}" ng-if="followers.length && !items">
			<li class="profile-follow-item clearfix" ng-repeat="follow in followers" ng-class="{last: $last}">
				<a href="/u/{{follow.name}}"><img ng-src="{{follow.avatar}}" class="avatar left" avatar-load></a>
				<a href="/u/{{follow.name}}" class="name truncate">{{follow.displayName || follow.name}}</a>

				<div class="profile-me right" ng-if="follow.name === user.name">Your profile</div>

				<div class="profile-action right" ng-if="follow.name !== user.name">
					<button type="button" class="btn small-btn green-btn follow-btn" ng-if="!follow.mutual && !follow.processing" ng-click="followUser(follow)">Follow</button>
					<button type="button" class="btn small-btn pink-btn following-btn" ng-if="follow.mutual && !follow.processing" ng-click="unfollowUser(follow)">Unfollow</button>
				</div>
			</li>
		</ul>
	</div>

	<div class="two-spin" ng-hide="loaded || error"></div>

</section>
