<section class="profile-page animated fadeIn">
	<div class="profile-user clearfix" ng-if="profile">
		<div class="left profile-info">
			<img ng-src="{{profile.avatar}}" class="avatar left" ng-click="switchList('favorites')" avatar-load>

			<div class="left">
				<div class="name truncate" ng-click="switchList('favorites')">{{profile.displayName || profile.name}}</div>
			</div>
		</div>

		<div class="profile-stat right">
			<ul>
				<li class="stat-block following" ng-class="{'active': list==='ownCollections'}">
					<a href="" class="mask-link" ng-click="switchList('ownCollections')"></a>
					<div class="stat-count">
						{{kFormat(profileCollections.length) || 0}}
					</div>
					<div class="stat-title">
						curated
					</div>
				</li>
				<li class="stat-block followers" ng-class="{'active': list==='followCollections'}">
					<a href="" class="mask-link" ng-click="switchList('followCollections')"></a>
					<div class="stat-count">
						{{kFormat(profile.followCollections.length) || 0}}
					</div>
					<div class="stat-title">
						followed
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="profile-lists animated fadeInDown delay-300ms">
		<h2 class="list-title" ng-if="profileCollections.length">
			<span ng-if="list === 'ownCollections'">{{profile.displayName || profile.name}}'s collections:</span>
			<span ng-if="list === 'followCollections'">{{profile.displayName || profile.name}} follows:</span>
		</h2>

		<ul class="profile-collections" ng-if="profileCollections.length && list === 'ownCollections'">
			<li class="coll-item coll{{$index}} clearfix"
				ng-repeat="coll in profileCollections"
				ng-class="{last: $last}">

				<a ng-if="!me" ng-href="/u/{{profile.name}}/{{coll._id}}" class="mask-link"></a>

				<div class="coll-book clearfix">
					<div class="coll-info left">
						<h1 class="title">{{coll.title}}</h1>
						<div class="desc" ng-if="coll.description">{{coll.description}}</div>
						<div class="stat">
							<span class="followers" tooltip="Followers"><i class="font-icon people-icon icon"></i> {{kFormat(coll.followers.length) || 0}}</span>
							<span class="documents" tooltip="Documents"><i class="font-icon doc-icon icon"></i> {{kFormat(coll.count) || 0}}</span>
						</div>
					</div>

					<div class="profile-action right" ng-if="me">
						<a ng-href="/collections/{{coll._id}}" class="btn small-btn blue-btn edit-btn">Edit</a>
					</div>

					<div class="profile-action right" ng-if="!me">
						<button type="button" class="btn small-btn green-btn follow-btn" ng-if="!coll.mutual && !coll.processing" ng-click="followCollection(coll._id, $index)">Follow</button>
						<button type="button" class="btn small-btn pink-btn following-btn" ng-if="coll.mutual && !coll.processing" ng-click="unfollowCollection(coll._id, $index)">Unfollow</button>
					</div>
				</div>
				<ul class="backlists"><li></li><li></li></ul>
			</li>
		</ul>

		<ul class="profile-collections" ng-if="followCollections.length && list === 'followCollections'">
			<li class="coll-item coll{{$index}} clearfix"
				ng-repeat="coll in followCollections"
				ng-class="{last: $last}">

				<a ng-href="/u/{{profile.name}}/{{coll._id}}" class="mask-link"></a>

				<div class="coll-book clearfix">
					<div class="coll-info left">
						<div class="author">
							<img ng-src="{{coll.userData.avatar}}" class="avatar" avatar-load>
							<div class="curated">
								curated by <a ng-href="/u/{{coll.userData.name}}">{{coll.userData.name}}</a>
							</div>
						</div>
						<h1 class="title">{{coll.title}}</h1>
						<div class="desc" ng-if="coll.description">{{coll.description}}</div>
						<div class="stat">
							<span class="followers" tooltip="Followers"><i class="font-icon people-icon icon"></i> {{kFormat(coll.followers.length) || 0}}</span>
							<span class="documents" tooltip="Documents"><i class="font-icon doc-icon icon"></i> {{kFormat(coll.count) || 0}}</span>
						</div>
					</div>

					<div class="profile-action right">
						<button type="button" class="btn small-btn green-btn follow-btn" ng-if="!coll.mutual && !coll.processing" ng-click="followCollection(coll._id, $index)">Follow</button>
						<button type="button" class="btn small-btn pink-btn following-btn" ng-if="coll.mutual && !coll.processing" ng-click="unfollowCollection(coll._id, $index)">Unfollow</button>
					</div>
				</div>
				<ul class="backlists"><li></li><li></li></ul>
			</li>
		</ul>





		<!--<h2 class="list-title" ng-if="followers.length || items.length">
			<span ng-if="list === 'favorites'">Recent favorites:</span>
			<span ng-if="list === 'follows'">Following:</span>
			<span ng-if="list === 'followed'">Followed by:</span>
		</h2>

		<ul class="profile-favorites list-view {{list}}" ng-if="items.length && !followers">
			<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail,
				'last': $last
			}"
			go-to-link="{{item.source}}">

			<div ng-if="item.thumbnail" class="image">
				<div class="info">
					<div ng-if="item.avatarUrl" class="author-image">
						<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
					</div>

					<div class="right-block clearfix">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<a href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
						<div class="texts">
							<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
							<div ng-if="item.description" class="description"
								ng-bind-html="item.description|truncate:260|linkify"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<div ng-if="item.avatarUrl && item.type !== 'facebook'" class="author-image">
					<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
				</div>
				<div class="right-block">
					<div ng-if="item.authorName && item.type !== 'facebook'" class="author-name">{{item.authorName}}</div>
					<h2 ng-if="item.title || item.repo || item.name" class="title"
						ng-class="{truncate: item.type !== 'tumblr'}">{{item.title||item.repo||item.name}}</h2>
					<div ng-if="item.description && item.description !== item.name" class="description"
						ng-bind-html="item.description|truncate:260|linkify"></div>
					<div ng-if="item.gist || item.type === 'tumblr' || item.description === item.name" class="description"
						ng-bind-html="item.source|linkify"></div>
				</div>
			</div>

			<time>{{item.created|date: 'longDate'}}</time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
			</li>
		</ul>

		<ul class="profile-followings {{list}}" ng-if="followers.length && !items">
			<li class="profile-follow-item clearfix" ng-repeat="follow in followers" ng-class="{last: $last}">
				<a href="/u/{{follow.name}}"><img ng-src="{{follow.avatar}}" class="avatar left" avatar-load></a>
				<a href="/u/{{follow.name}}" class="name truncate">{{follow.displayName || follow.name}}</a>

				<div class="profile-me right" ng-if="follow.name === user.name">Your profile</div>

				<div class="profile-action right" ng-if="follow.name !== user.name">
					<button type="button" class="btn small-btn green-btn follow-btn" ng-if="!follow.mutual && !follow.processing" ng-click="followUser(follow)">Follow</button>
					<button type="button" class="btn small-btn pink-btn following-btn" ng-if="follow.mutual && !follow.processing" ng-click="unfollowUser(follow)">Unfollow</button>
				</div>
			</li>
		</ul>-->
	</div>

	<div class="two-spin" ng-hide="loaded || error"></div>
</section>
