<div class="top-bar clearfix animated fadeInLeft">
	<div class="top left">
		<div class="edit-collection-wrap profile-collection-info">
			<h2 class="title">{{collection.title}}</h2>
			<div ng-if="collection.description" class="description">{{collection.description}}</div>

			<a href="" class="action-button share-collection-btn"
				tooltip="Share collection"
				ng-dialog="shareCollectionDialog"
				ng-dialog-class="lsd-theme share-dialog share-like"
			ng-dialog-data="{{collection._id}}, {{collection.owner}}"
				ng-dialog-controller="shareCollectionController"
				ng-dialog-show-close="false"><i class="font-icon link-icon icon"></i></a>

			<div class="follow-collection">
				<button type="button" class="btn small-btn green-btn follow-btn" ng-if="!collection.mutual && !coll.processing" ng-click="followCollection(collection._id)">Follow</button>
				<button type="button" class="btn small-btn pink-btn following-btn" ng-if="collection.mutual && !coll.processing" ng-click="unfollowCollection(collection._id)">Unfollow</button>
			</div>
		</div>
	</div>
</div>

<section class="dashboard activity animated fadeIn">
	<ul ng-if="items.length" id="items" class="items-wrap" ng-class="{
		'list-view': user.viewMode === 'list',
		'grid-view': user.viewMode === 'grid',
		'inbox': inbox
	}">
		<li class="dash-item {{item.type}} item{{$index}}"
			ng-repeat="item in items"
			ng-class="{
				'thumbed': item.thumbnail,
				'texted': !item.thumbnail,
				'last': $last
			}"
			go-to-link="{{item.source}}">

			<div class="action-buttons">
				<a href="" class="share-btn"
					tooltip="Share"
					ng-dialog="shareLikeDialog"
					ng-dialog-class="lsd-theme share-dialog share-like"
					ng-dialog-controller="shareLikeController"
					ng-dialog-show-close="false"
					ng-dialog-data="{{item._id}}, {{item.type}}, {{item.title||item.repo}}"><i class="font-icon share-icon"></i></a>
			</div>

			<div ng-if="item.thumbnail" class="image">
				<a ng-show="user.viewMode === 'grid'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>

				<div class="info">
					<div ng-if="item.avatarUrl" class="author-image">
						<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
					</div>

					<div ng-show="user.viewMode === 'grid'" class="right-block">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
						<div ng-if="item.description" class="description"
							ng-bind-html="item.description|truncate:240|linkify" ng-class="{short: user.viewMode==='grid' && item.title && item.authorName}"></div>
					</div>

					<div ng-show="user.viewMode === 'list'" class="right-block clearfix">
						<div ng-if="item.authorName" class="author-name">{{item.authorName}}</div>
						<a ng-show="user.viewMode === 'list'" href="{{item.source}}" class="cover" style="background-image: url({{item.thumbnail}})" target="_blank"></a>
						<div class="texts">
							<h2 ng-if="item.title || item.repo" class="title truncate">{{item.title||item.repo}}</h2>
							<div ng-if="item.description" class="description"
								ng-bind-html="item.description|truncate:240|linkify"></div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="!item.thumbnail" class="text-wrap">
				<div ng-if="item.avatarUrl && item.type !== 'facebook'" class="author-image">
					<img ng-src="{{item.avatarUrl}}" class="avatar" avatar-load>
				</div>
				<div class="right-block">
					<div ng-if="item.authorName && item.type !== 'facebook'" class="author-name">{{item.authorName}}</div>
					<h2 ng-if="item.title || item.repo || item.name" class="title"
						ng-class="{truncate: item.type !== 'tumblr'}">{{item.title||item.repo||item.name}}</h2>
					<div ng-if="item.description && item.description !== item.name" class="description"
						ng-bind-html="item.description|truncate:240|linkify"></div>
					<div ng-if="item.gist || item.type === 'tumblr' || item.description === item.name" class="description"
						ng-bind-html="item.source|linkify"></div>
				</div>
			</div>

			<time>{{item.created|date: 'longDate'}}</time>
			<i class="font-icon {{item.type}}-icon {{item.type}}-bg-clr icon"></i>
		</li>
	</ul>

	<div ng-if="loaded && !items.length" class="blank-box empty-collection">
		<div class="robot-icon big-icon"></div>
		<h2 class="title">This collection is empty!</h2>
		<p>Unfortunately no favorites were added to "{{collection.title}}" by {{collection.owner}}.</p>
	</div>

	<div ng-hide="loaded || error" class="two-spin"></div>
</section>
