<div class="settings-page">

	<div class="userinfo-wrap">
		<div class="main-title"><i class="font-icon settings-icon"></i>{{title}}</div>
		<div class="info-item">{{user.displayName || user.name}} &middot; {{user.email}}</div>
		<div class="info-item date">*registered on {{user.registered|date: 'fullDate'}}</div>

		<div class="network-error-stripe" ng-show="user.warning">
			<i data-icon="E" class="icon"></i>
			<span class="message">Our robot reports the issue with one of your networks. Please help him by simply re-enabling the network.</span>
		</div>
	</div>

	<ul class="networks-wrap">
		<li class="network facebook">
			<div class="title">Facebook</div>
			<div class="desc">Sync all facebook likes and links.</div>
			<div toggle-switcher="facebook"></div>
		</li>
		<li class="network twitter">
			<div class="title">Twitter</div>
			<div class="desc">Sync all tweets that you've favorited.</div>
			<div toggle-switcher="twitter"></div>
		</li>
		<li class="network vimeo">
			<div class="title">Vimeo</div>
			<div class="desc">Sync all vimeo videos that you've liked.</div>
			<div toggle-switcher="vimeo"></div>
		</li>
		<li class="network youtube">
			<div class="title">Youtube</div>
			<div class="desc">Sync all youtube videos that you've liked.</div>
			<div toggle-switcher="youtube"></div>
		</li>
		<li class="network dribbble">
			<div class="title">Dribbble</div>
			<div class="desc">Sync all dribbble images that you've liked.</div>
			<div toggle-switcher="dribbble" data-dialog-template="dribbbleConnect" data-dialog-controller="dribbbleNetworkController"></div>
		</li>
		<li class="network behance">
			<div class="title">Behance</div>
			<div class="desc">Sync all behance appreciations.</div>
			<div toggle-switcher="behance"></div>
		</li>
		<li class="network github">
			<div class="title">Github</div>
			<div class="desc">Sync all repositories that you've starred.</div>
			<div toggle-switcher="github"></div>
		</li>
		<li class="network gist">
			<div class="title">Gist</div>
			<div class="desc">Sync all gists that you've starred.</div>
			<div toggle-switcher="gist"></div>
		</li>
		<li class="network stackoverflow">
			<div class="title">Stackoverflow</div>
			<div class="desc">Sync all questions that you've favorited.</div>
			<div toggle-switcher="stackoverflow"></div>
		</li>
	</ul>

	<div class="danger-wrap clearfix">
		<div class="main-title"><i class="font-icon delete-icon"></i>Delete account</div>
		<div class="info-item">Once you delete an account, there is no going back.<br> This action <b>CANNOT</b> be undone and will delete all likes permanently.</div>
		<button type="button" class="btn red-btn delete-btn" ng-dialog="deleteAccountDialog" ng-dialog-class="lsd-theme delete-user-dialog" ng-dialog-controller="deleteUserController">Delete my account</button>

		<script type="text/ng-template" id="deleteAccountDialog">
			<h2>Delete account?</h2>
			<div class="tip">Unexpected bad things will happen unless you are not ABSOLUTELY sure.</div>
			<button type="button" ng-click="goBack()" class="btn green-btn">No, thanks</button>
			<button type="button" ng-click="deleteAccount()" class="btn red-btn">Yes, please</button>
		</script>
	</div>
</div>

<script type="text/ng-template" id="dribbbleConnect">
	<form ng-submit="turnOn()">
		<img src="/img/dribbble-logo.png" class="dribbble-logo">
		<div class="ngdialog-message">
			<div class="info-text">Start to collect likes of your favourite designers.</div>
			<div class="dribbble-user" ng-show="dribbbleUser.avatar_url">
				<img ng-if="dribbbleUser.avatar_url" src="{{dribbbleUser.avatar_url}}">
				<span>{{dribbbleUser.name}}, is it you?</span>
			</div>
			<input type="text" class="field" placeholder="Dribbble username" ng-model="username" required/>
		</div>
		<div class="ngdialog-buttons mt">
			<button type="submit" class="btn" ng-disabled="!dribbbleUser.name">Connect to dribbble</button>
		</div>
	</form>
</script>