<section class="settings">
	<div class="u-avatar" tooltip="Using Gravatar" style="background-image: url({{user.avatar}})"></div>
	<h1 class="u-name">{{user.displayName || user.name}}</h1>
	<p class="u-text">You can manage your account here!</p>

	<div class="tabs">
		<div class="tab"
			ng-click="toggleConfig()"
			ng-class="{active: showConfigTab}">Networks</div>
		<div class="tab"
			ng-click="toggleConfig()"
			ng-class="{active: !showConfigTab}">Personal</div>
		<a href="/suggest" class="tab">Find friends</a>
	</div>

	<ul ng-show="showConfigTab" class="right-block-wrap animated fadeIn">
		<li class="network facebook clearfix" ng-class="{noborder: user.warning}">
			<i class="font-icon facebook-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Facebook</h2>
				<div class="desc">Liked pages and links</div>
			</div>
			<div class="right" toggle-switcher="facebook"></div>
		</li>
		<li class="network twitter clearfix">
			<i class="font-icon twitter-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Twitter</h2>
				<div class="desc">Favorited tweets</div>
			</div>
			<div class="right" toggle-switcher="twitter"></div>
		</li>
		<li class="network vimeo clearfix">
			<i class="font-icon vimeo-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Vimeo</h2>
				<div class="desc">Liked videos</div>
			</div>
			<div class="right" toggle-switcher="vimeo"></div>
		</li>
		<li class="network youtube clearfix">
			<i class="font-icon youtube-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Youtube</h2>
				<div class="desc">Liked videos</div>
			</div>
			<div class="right" toggle-switcher="youtube"></div>
		</li>
		<li class="network dribbble clearfix">
			<i class="font-icon dribbble-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Dribbble</h2>
				<div class="desc">Liked shots</div>
			</div>
			<div class="right" toggle-switcher="dribbble" data-dialog-template="dribbbleConnect" data-dialog-controller="dribbbleNetworkController"></div>
		</li>
		<li class="network behance clearfix">
			<i class="font-icon behance-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Behance</h2>
				<div class="desc">Appreciated projects</div>
			</div>
			<div class="right" toggle-switcher="behance"></div>
		</li>
		<li class="network github clearfix">
			<i class="font-icon github-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Github</h2>
				<div class="desc">Starred repositories</div>
			</div>
			<div class="right" toggle-switcher="github"></div>
		</li>
		<li class="network gist clearfix">
			<i class="font-icon github-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Gist</h2>
				<div class="desc">Starred code snippets</div>
			</div>
			<div class="right" toggle-switcher="gist"></div>
		</li>
		<li class="network stackoverflow clearfix">
			<i class="font-icon stackoverflow-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Stackoverflow</h2>
				<div class="desc">Favorited questions</div>
			</div>
			<div class="right" toggle-switcher="stackoverflow"></div>
		</li>
		<li class="network pocket clearfix">
			<i class="font-icon pocket-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Pocket</h2>
				<div class="desc">Favorited articles</div>
			</div>
			<div class="right" toggle-switcher="pocket"></div>
		</li>
		<li class="network tumblr clearfix">
			<i class="font-icon tumblr-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Tumblr</h2>
				<div class="desc">Liked posts</div>
			</div>
			<div class="right" toggle-switcher="tumblr"></div>
		</li>
		<li class="network instagram clearfix">
			<i class="font-icon instagram-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Instagram</h2>
				<div class="desc">Liked photos</div>
			</div>
			<div class="right" toggle-switcher="instagram"></div>
		</li>
		<li class="network flickr clearfix">
			<i class="font-icon flickr-icon network-icon"></i>
			<div class="left info">
				<h2 class="title">Flickr</h2>
				<div class="desc">Favorited photos</div>
			</div>
			<div class="right" toggle-switcher="flickr"></div>
		</li>
	</ul>

	<ul ng-show="!showConfigTab" class="right-block-wrap profile animated fadeIn">
		<li class="profile-item">
			<div class="title">Email</div>
			<div>
				<input type="text" class="fld" value="{{user.email}}" disabled>
			</div>
		</li>
		<li class="profile-item clearfix">
			<div class="title">Full Name</div>
			<div class="left details">
				<div ng-show="!editModes.displayName" class="desc">{{(user.displayName && user.displayName)||'Empty'}}</div>
				<form ng-show="editModes.displayName" ng-submit="updateDisplayName()" class="profile-edit">
					<input class="field" ng-model="form.displayName" auto-focus="editModes.displayName" placeholder="e.g. John Likeman">
					<button type="button" ng-click="editModeOff('displayName')" class="button mdm-btn slk-btn pink-btn">Cancel</button>
					<button type="submit" class="button mdm-btn slk-btn green-btn">Save</button>
				</form>
			</div>
			<button ng-show="!editModes.displayName" ng-click="editModeOn('displayName')" tooltip="Edit" class="button-clean font-icon pencil-icon edit-profile-btn right"></button>
		</li>
		<li class="profile-item clearfix">
			<div class="title">About You</div>
			<div class="left details">
				<div ng-show="!editModes.bio" class="desc" ng-class="{long: user.bio && user.bio.length > 80}" ng-bind-html="(user.bio && user.bio|linkify)||'Empty'"></div>
				<form ng-show="editModes.bio" ng-submit="updateBio()" class="profile-edit">
					<textarea class="field" ng-model="form.bio" auto-focus="editModes.bio" placeholder="Tell us few words about you" rows="5" maxlength="300"></textarea>
					<button type="button" ng-click="editModeOff('bio')" class="button mdm-btn slk-btn pink-btn">Cancel</button>
					<button type="submit" class="button mdm-btn slk-btn green-btn">Save</button>
				</form>
			</div>
			<button ng-show="!editModes.bio" ng-click="editModeOn('bio')" tooltip="Edit" class="button-clean font-icon pencil-icon edit-profile-btn right"></button>
		</li>
		<li class="profile-item clearfix">
			<div class="title">Location</div>
			<div class="left details">
				<div ng-show="!editModes.location" class="desc" ng-bind-html="(user.location && user.location|linkify)||'Empty'"></div>
				<form ng-show="editModes.location" ng-submit="updateLocation()" class="profile-edit">
					<input class="field" ng-model="form.location" auto-focus="editModes.location" placeholder="e.g. San Francisco">
					<button type="button" ng-click="editModeOff('location')" class="button mdm-btn slk-btn pink-btn">Cancel</button>
					<button type="submit" class="button mdm-btn slk-btn green-btn">Save</button>
				</form>
			</div>
			<button ng-show="!editModes.location" ng-click="editModeOn('location')" tooltip="Edit" class="button-clean font-icon pencil-icon edit-profile-btn right"></button>
		</li>
		<li class="profile-item clearfix">
			<div class="title">Website</div>
			<div class="left details">
				<div ng-show="!editModes.website" class="desc" ng-bind-html="(user.website && user.website|linkify)||'Empty'"></div>
				<form ng-show="editModes.website" ng-submit="updateWebsite()" class="profile-edit">
					<input class="field" ng-model="form.website" auto-focus="editModes.website" placeholder="Your home page, blog or company site, e.g. http://dribbble.com">
					<button type="button" ng-click="editModeOff('website')" class="button mdm-btn slk-btn pink-btn">Cancel</button>
					<button type="submit" class="button mdm-btn slk-btn green-btn">Save</button>
				</form>
			</div>
			<button ng-show="!editModes.website" ng-click="editModeOn('website')" tooltip="Edit" class="button-clean font-icon pencil-icon edit-profile-btn right"></button>
		</li>
		<li class="profile-item danger-wrap">
			<div class="title">Delete account</div>
			<div class="desc">Once you delete an account, there is no going back.<br> This action <b>CANNOT</b> be undone and will delete all likes permanently.</div>
			<a href="" class="delete-link"
				ng-dialog="deleteAccountDialog"
				ng-dialog-class="lsd-theme delete-user-dialog"
				ng-dialog-show-close="false"
				ng-dialog-controller="deleteUserController">Delete your account</a>
		</li>
	</ul>
</section>

<div class="block-networks-overlay animated fadeInDownBig" ng-show="onBlockNetworks" ng-controller="shareAndUnblockController">
	<div ng-show="!thanks" class="block-networks-content animated fadeIn">
		<img class="heart-image" src="/img/heart-pink.png" alt="Likes are all around!">
		<h1>Spread the word</h1>
		<div class="block-message">
			In order to have <b>unlimited</b> amount of connected services, please spread the word about us through social media.
		</div>
		<div class="social-share">
			<a href="" class="btn fb-btn" ng-click="shareOnFacebook()">
				<i class="font-icon facebook-icon icon"></i>
				Share on facebook
			</a>
			<a href="https://twitter.com/intent/tweet?text=Likeastore app helps to organize favorites and likes in one account - https://likeastore.com via @likeastore" class="btn tw-btn">
				<i class="font-icon twitter-icon icon"></i>
				Share on twitter
			</a>
		</div>
		<a href="" class="block-networks-close" ng-click="closeShare($event, 'rejected unblock')">Nope, take me back</a>
	</div>
	<div ng-show="thanks" class="block-networks-content thanks animated fadeIn">
		<h1>Thanks! You are awesome</h1>
		<button type="button" class="btn green-btn" ng-click="closeShare($event, 'continued after unblock')">Continue</button>
	</div>
</div>
