<section class="suggest-page animated fadeIn">
	<div class="suggest-people-wrap" ng-show="loaded">
		<div class="discover-empty-icon big-icon"></div>

		<h2 class="title">Who to follow?</h2>

		<div class="desc">
			We tried to find people that you likely will be interested in. <br> Do not see your friends and co-workers? <a href=""
			ng-dialog="inviteDialogId"
			ng-dialog-class="lsd-theme share-dialog"
			ng-dialog-controller="shareWithFriendController"
			ng-dialog-show-close="false">Invite them!</a>
		</div>

		<form class="lazy-autocomplete-form" novalidate>
			<input type="text" class="fld" placeholder="Start typing username or email.." ng-model="searchTag" required autocomplete="off" lazy-autocomplete>
		</form>

		<hr class="hr" ng-if="people.length">

		<ul class="people-list-wrap" ng-if="people.length">
			<li class="person-item" ng-repeat="person in people">
				<img ng-src="{{person.avatar}}" class="avatar" ng-click="switchMenu('/u/{{person.name}}')" avatar-load>
				<div class="name truncate" ng-click="switchMenu('/u/{{person.name}}')">{{person.displayName || person.name}}</div>
			</li>
		</ul>
	</div>

	<div class="two-spin" ng-hide="loaded || error"></div>
</section>
