<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

<h2>HERE WILL BE OUR SUPER COOL ONE PAGE ANGULAR APP!</h2>
<p>...but for now you can only <a href="/logout">logout</a>.</p>
</body>
</html>