<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Like a store</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/kiandra/jquery-ui.css">
<link rel="stylesheet" href="css/jquery-ui.toggleSwitch.css">
<script src="js/modernizr-2.0.6.min.js"></script>
</head>

<body>
<div class=" likeastore-app">
    <div class="menu">
        <h1 class="logo hidden-phone hidden-tablet"></h1>
		<h1 class="logo-sml visible-phone visible-tablet"></h1>
        <div class="menu-res">
        	<a class="m-item current inbox-ico"><span class="data-text hidden-phone">Inbox</span></a>
        	<a class="m-item fb-ico"><span class="data-text hidden-phone">Facebook</span></a>
            <a class="m-item tw-ico"><span class="data-text hidden-phone">Twitter</span></a>
            <a class="m-item git-ico"><span class="data-text hidden-phone">GitHub</span></a>
        </div>
    </div>
    <div class="dashboard">
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        <div class="res-ico git-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        <div class="res-ico facebook-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.c
         <div class="res-ico facebook-wm"></div>
         </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         <div class="res-ico twitter-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of typec
         <div class="res-ico git-wm"></div></div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         <div class="res-ico git-wm"></div></div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
         <div class="res-ico git-wm"></div>
         </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
         <div class="res-ico git-wm"></div>
         </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
        <div class="res-ico twitter-wm"></div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        <div class="res-ico git-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        <div class="res-ico facebook-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.c
         <div class="res-ico facebook-wm"></div>
         </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         <div class="res-ico twitter-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of typec
         <div class="res-ico git-wm"></div></div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         <div class="res-ico git-wm"></div></div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
         <div class="res-ico git-wm"></div>
         </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
         <div class="res-ico git-wm"></div>
         </div>
        <div class="item">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
        <div class="res-ico twitter-wm"></div>
        </div>
        <div class="item">Lorem Ipsum is simply dummy
        	<div class="res-ico twitter-wm"></div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/jquery.grid-a-licious.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="js/jquery-ui.toggleSwitch.js"></script>
<script src="js/custom.js"></script>
<script>
$(document).ready(function() {
	$(".dashboard").gridalicious({
		animate: true,
		gutter: 20
	});
});
</script>

</body>
</html>
