<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
    	<a href="/auth/github">Turn on github</a>
	</div>
	<div>
    	<a href="/auth/twitter">Turn on twitter</a>
    </div>
	<div>
    	<a href="/auth/facebook">Turn on facebook</a>
    </div>
  </body>
</html>