<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>

	<link rel='stylesheet' href='/css/styles.css' />
	<%- stylesheets %>
</head>
<body>
	<%- body %>

	<script src="/js/libs/jquery/jquery-1.9.1.min.js"></script>
	<script src="/js/jquery.components/jquery.helpers.js"></script>
	<script src="/js/jquery.components/forms.js"></script>
	<%- scripts %>
</body>
</html>