<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Like a store</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/kiandra/jquery-ui.css">
<link rel="stylesheet" href="css/jquery-ui.toggleSwitch.css">
<script src="js/modernizr-2.0.6.min.js"></script>
</head>

<body>
<div class="login-deck">
    <h1 class="logo"></h1>
    <div class="modal-store login-content">
        <div class="form-login">
            <div class="span3">
                <label>Email or Username</label>
                <input type="text" />
            </div>
            <div class="span3">
                <label>Password</label>
                <input type="password" />
            </div>
            <div class="">
                <Button class="btn btn-sbm">Sign in</Button>
            </div>
        </div>
        <div class="or-separator"><div class="or">OR</div></div>
        <div class="soc-login">
            <label>Sign in with social media: </label>
            <a href="/auth/facebook" class="soc-signup signup-fb">Sign in with Facebook</a>
            <a href="/auth/twitter" class="soc-signup signup-tw">Sign in with Twitter</a>
            <a href="/auth/github" class="soc-signup signup-git">Sign in with Github</a>
        </div>
    </div>    
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="js/jquery-ui.toggleSwitch.js"></script>
<script src="js/custom.js"></script>
<script>
    $(document).ready(function() {
        $(".selector").toggleSwitch({
            highlight: false, // default
            width: 25, // default
            change: function(e) {
                $(this).parent().parent().toggleClass('active');
              } // default: null
        });
});
</script>

</body>
</html>
