<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Like a store</title>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="login-deck">
    <h3 class="headline">LikeAStore</h3>
    <div class="row login-content">
        <div class="form-login">
            <div class="span3">
                <label>Email or Username</label>
                <input type="text" />
            </div>
            <div class="span3">
                <label>Password</label>
                <input type="password" />
            </div>
            <div class="">
                <Button class="btn">Sign in</Button>
            </div>
        </div>
        <div class="or-separator"><div class="or">OR</div></div>
        <div class="soc-login">
            <label>Sign in with social media: </label>
            <a href="/auth/facebook" class="soc-signup signup-fb">Sign in with Facebook</a>
            <a href="/auth/twitter" class="soc-signup signup-tw">Sign in with Twitter</a>
            <a href="/auth/github" class="soc-signup signup-git">Sign in with Github</a>
        </div>
    </div>
    
    
    
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function() {
        //$('.headline').show().addClass('animated fadeInDown');
        //$('.login-content').show().addClass('animated fadeInDown');
});
</script>

</body>
</html>
