<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<base href="/">

	<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
	<link rel="shortcut icon" href="/img/favicon.ico" />

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header class="main-header clearfix" ng-include src="'partials/header'" ng-controller="headerController">
	</header>
	<div class="main-viewer" ng-view></div>

	<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>
</body>
</html>