<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<base href="/">

	<link rel='stylesheet' href='/css/dashboard.css' />
	<link rel="stylesheet" type="text/css" href="<%= mainCss %>">

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header class="main-header clearfix">
		<div class="cell header-left"><a class="ls-ico ls-logo cell"></a></div>
		<!-- TODO: have be inialized as JS widget -->
		<div class="account-info cellRight">
			<span class="account-name"></span>
			<img src="" alt="">
			<span class="account-show"></span>
		</div>
	</header>

	<div class="main-viewer" ng-view></div>
	<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>

</body>
</html>