<!DOCTYPE html>
<html>
  <head>
    <title>Setup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Turn on github</h1>
    <form action="/auth/github" method="POST">
    	<button type="submit">Turn on</button>
    </form>

    <a href="/auth/github">on</a>
  </body>
</html>