<% layout('layout') -%>
<div class="sign-up-ls set-up-page">
	<h3>First time account setup</h3>
	<form action="/setup" method="post" accept-charset="utf-8" class="form" novalidate>
	<div class="field-group">
        <span class="field-lbl ls-ico user-login"></span>
        <input type="text" name="username" class="textInput username" placeholder="Username" value="<%= user.username %>">
    </div>
    <div class="field-group">
        <span class="field-lbl ls-ico user-email"></span>
        <input type="email" name="email" class="textInput email" placeholder="Your email">
    </div>

	<button class="btn btn-prim cellRight" type="submit">Send</button>
	</form>
</div>
<footer class="main-footer">&copy 2013 Likeastore.</footer>