<% layout('layout') -%>

<h2>First time account setup</h2>
<form action="/setup" method="post" accept-charset="utf-8" class="form" novalidate>
	<input type="text" name="username" value="<%= user.username %>" class="textInput username">
	<input type="email" name="email" placeholder="Your email" class="textInput email">
	<button>Send</button>
</form>