<% layout('layout') -%>

<div class="sign-up-ls">
  <h3>Sign up to Likeastore.</h3>
    <div class="row">
      <div class="cell signup-form">
        <form action="/register" method="post" accept-charset="utf-8" class="form">
          <div class="field-group">
            <span class="field-lbl ls-ico user-login"></span>
            <input type="text" name="username" class="textInput username" placeholder="Username">
          </div>

          <div class="field-group">
            <span class="field-lbl ls-ico user-email"></span>
            <input type="email" name="email" class="textInput email" placeholder="Your email">
          </div>

          <div class="field-group">
            <span class="field-lbl ls-ico user-password"></span>
            <input type="password" name="password" class="textInput password" placeholder="Your password">
          </div>

          <button class="btn btn-prim" type="submit">Sign up</button>
        </form>
      </div>

      <div class="cell social-autorize">
        <a class="btn btn-s-big btn-fb" href="/auth/facebook" title="">
          <i class="ls-ico ico-fb-med"></i>Sign in with facebook</a> 
        <a class="btn btn-s-big btn-tw" href="/auth/twitter" title="">
          <i class="ls-ico ico-tw-med"></i>Sign in with twitter</a>
        <a class="btn btn-s-big btn-git" href="/auth/github" title="">
          <i class="ls-ico ico-git-med"></i>Sign in with github</a>
      </div>
    </div>
</div>

<footer class="main-footer">&copy 2013 Likeastore.</footer>