.main-viewer {
	height: 100%;
}

.main-header {
	background: #fff;
	border-top: 3px solid #1abc9c;
	border-bottom: 1px solid #ddd;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	position: relative;
}

.dashboard-nav {
	background: #1f282d;
	width: 220px;
	height: 110%;
	margin-top: -1px;
	position: relative;
	overflow: hidden;
	z-index: 1000;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.dashboard-nav.sticky {
	position: fixed;
	top: 0;
}

.networks-menu li {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.networks-menu li.menu-subtitle {
	padding: 25px 0 5px 20px;
	color: #64747d;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'proxima-nova-bold';
}

.networks-menu .inbox-counter,
.networks-menu .new-notifier {
	background: #8592a2;
	color: #fff;
	font-size: 10px;
	padding: 0 6px;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	position: absolute;
	right: 20px;
	top: 6px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.networks-menu .new-notifier {
	background: #e76049;
	font-size: 8px;
}

.menu-title .icon {
	display: inline-block;
	color: #edf0f2;
	font-size: 18px;
	line-height: 1;
	vertical-align: top;
	margin-right: 10px;
}

.menu-title {
	display: block;
	color: #edf0f2;
	font-size: 11px;
	line-height: 20px;
	vertical-align: top;
	padding: 5px 20px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.menu-title:hover {
	border: 0;
	color: #fff;
	text-decoration: none;
}

.menu-title.inbox:hover {
	background-color: #e76049;
}

.menu-title.inbox:hover .inbox-counter {
	background: #fff;
	color: #e76049;
}

.menu-title.likes:hover {
	background-color: #1abc9c;
}

.menu-title.facebook:hover {
	background-color: #3b5998;
}

.menu-title.twitter:hover {
	background-color: #3498db;
}

.menu-title.stackoverflow:hover {
	background-color: #e67e22;
}

.menu-title.github:hover {
	background-color: #bdc3c7;
}

.menu-title.vimeo:hover {
	background-color: #62a0ad;
}

.menu-title.youtube:hover {
	background-color: #c0392b;
}

.promo-line {
	background: rgba(0,0,0,0.2);
	color: #edf0f2;
	font-weight: 300;
	padding: 15px 12px 25px 8px;
	position: absolute;
	width: 200px;
	top: 405px;
	overflow: hidden;
}

.promo-line .promo-text {
	margin: 5px auto 10px;
	font-size: 14px;
	text-align: center;
	max-width: 190px;
}

.promo-line .side-btn-icon {
	font-size: 20px;
	float: left;
	margin-right: 8px;
}

.promo-line .btn {
	display: block;
	font-size: 11px;
	font-weight: 300;
	padding: 6px 4px 6px 10px;
	margin: 15px auto 0;
	width: 106px;
	height: auto;
	text-decoration: none;
}

.account-info {
	position: relative;
}

.account-info .account-name {
	font-size: 14px;
	padding: 0 10px 0 0;
}

.account-info img {
	width: 28px;
	height: 28px;
	overflow: hidden;
	float: left;
	margin: 8px 0 0;
	cursor: pointer;
	box-shadow: 0px 0px 1px 2px #fff;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}

.account-info img:hover {
	box-shadow: 0px 0px 1px 2px #1abc9c;
}

.account-show {
	display: inline;
	margin: 21px 0 0 6px;
	float: left;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
	cursor: pointer;
}

.account-show:hover {
	border-top-color: #1abc9c;
}

.active .dropdown {
	visibility: visible;
	opacity: 1;
	top: 45px;
}

.dropdown {
	background: #fff;
	font: 11px/24px 'Lato', 'Open Sans', Arial, sans-serif;
	position: absolute;
	top: 15px;
	right: 0;
	z-index: 1001;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.dropdown .menu-link {
	display: inline-block;
	color: #333;
	border-top: 1px solid #f2f2f2;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 15px;
	width: 110px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.dropdown li:first-child .menu-link {
	border-top: 0;
}

.dropdown .menu-link:hover {
	text-decoration: underline;
}

.main-dashdoard {
	padding: 40px 25px;
	vertical-align: top;
	margin-left: 230px;
	padding-bottom: 10px;
	min-height: 600px;
}

.search-icon {
	color: #edf0f2;
	font-size: 18px;
	position: absolute;
	top: 25px;
	left: 20px;
	z-index: 1;
}

.search-input {
	border: 0;
	background-color: rgba(0,0,0,.0);
	color: #edf0f2;
	font: 11px 'Lato', 'Open Sans', Arial, sans-serif;
	padding: 5px 10px 5px 48px;
	margin: 15px 0 0;
	width: 162px;
	height: 30px;
	resize: none;
	position: relative;
	z-index: 1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.search-input:focus {
	background-color: #232529;
	background-color: rgba(0,0,0,.0);
	outline: none;
	text-transform: none;
}

.hover-background {
	background-color: #3b454b;
	width: 0;
	height: 40px;
	position: absolute;
	top: 16px;
	z-index: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.search-input:focus + .hover-background {
	width: 100%;
}

.search-input:focus::-webkit-input-placeholder {
	color: transparent;
}

.search-input::-webkit-input-placeholder {
	color: #fff;
}

.search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}

.search-input:-ms-input-placeholder {
	color: #fff;
}

.dash-item {
	display: inline-block;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	font-size: 14px;
	padding: 15px 0 20px;
	margin: 0 30px 20px 0;
	width: 95%;
	height: 190px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.item-text-wrap {
	padding: 0 12px;
}

.item-bg {
	width: 101%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
}

.item-bg-info {
	position: relative;
	color: #fff;
	color: rgba(255,255,255,.9);
	width: 100%;
	padding: 157px 12px 20px;
	background: url('../img/gradient.png') repeat-x center center;
	background-size: 100% 100%;
}

.item-thumb-wrap .play-icon {
	border: 2px solid;
	font-size: 14px;
	float: left;
	line-height: 33px;
	margin: 8px 10px 0 0;
	padding-left: 3px;
	text-align: center;
	width: 30px;
	height: 32px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.item-thumb-wrap .title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 3px;
	width: 65%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-thumb-wrap .item-date {
	font-size: 10px;
	text-transform: uppercase;
}

.dash-item .source-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.dash-item .repo {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dash-item .desc {
	display: inline-block;
	color: #333;
	width: 75%	;
	height: 150px;
	text-decoration: none;
	overflow: hidden;
}

.dash-item .desc .desc-text {
	max-height: 115px;
	overflow: hidden;
}

.dash-item .desc canvas {
	display: none;
}

.dash-item .desc a {
	position: relative;
	z-index: 6;
}

.dash-item img {
	float: left;
	width: 60px;
	height: 60px;
	margin: 2px 15px 0 4px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.dash-item a {
	color: #e76049;
	text-decoration: none;
}

.dash-item a:hover {
	text-decoration: underline;
}

.dash-item:hover {
	background: #ffec9e;
}

.item-type {
	display: inline-block;
	color: #f9f9f9;
	font-size: 80px;
	position: absolute;
	right: -8px;
	bottom: -35px;
	z-index: 0;
}

.item-type.vimeo-icon,
.item-type.youtube-icon {
	color: rgba(255,255,255,.2);
}

.autor-item {
	font-size: 12px;
	margin: 10px 0 0;
	width: 165px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dash-item.twitter .autor-item {
	color: #3498db;
}

.dash-item.facebook .autor-item {
	color: #3b5998;
}

.dash-item.github .autor-item {
	color: #8592a2;
}

.dash-item.stackoverflow .autor-item {
	color: #e67e22;
}

.item-text-wrap .item-date {
	color: #8592a2;
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	bottom: 10px;
	left: 20px;
}

/* item hover color transitions */
.dash-item:hover .item-bg,
.dash-item:hover .item-type,
.dash-item:hover .item-date,
.dash-item:hover .autor-item {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.dash-item.vimeo:hover,
.dash-item.youtube:hover {
	background: #1f282d;
}

.dash-item:hover .item-bg {
	opacity: .6;
}

.dash-item:hover .item-text-wrap .item-type {
	color: #fce37e;
}

.dash-item:hover .item-text-wrap .item-date,
.dash-item:hover .item-text-wrap .autor-item,
.dash-item:hover .item-text-wrap .repo {
	color: #333;
}

.show-more {
	display: block;
	background: #bdc3c7;
	border-bottom: 5px solid #a9b2b9;
	color: #fff;
	font-size: 14px;
	padding: 14px 0;
	margin: 10px 0 20px;
	width: 98%;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.show-more:hover {
	background: #c5ccd1;
	border-bottom-color: #b2bbc4
}

/* Footer links */
.footer-links {
	color: #ecf0f1;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 0 0 15px;
	position: fixed;
	bottom: 5px;
	right: 0;
	left: 0;
}

.footer-links li {
	display: inline;
	margin-right: 5px;
}

.footer-links li:before {
	display: inline;
	content: '·';
	margin-right: 5px;
}

.footer-links li:first-child:before {
	content: '';
	margin-right: 0;
}

.footer-links li a {
	color: #ecf0f1;
}
