.main-viewer {
	overflow: hidden;
	zoom:1;
}

.main-header {
	background-color: #373737;
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	position: relative;
}

.header-left {
	width: 211px;
	height: 50px;
}

.dashboard-nav {
	width: 240px;
	border-right: 1px solid #d4d5d0;
	background: #f2f2ea;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	box-shadow: 0 0 2px 1px #ddd;
	/*transition: all 300ms ease-in-out;*/
}

.dashboard-nav li {
	overflow: hidden;
	cursor: pointer;
	height: 51px;
}

.dashboard-nav li:hover .menu-title {
	background: #eee;
}

.dashboard-nav li:hover .menu-ico {
	box-shadow:inset 0 0 2px 1px rgba(0,0,0,.2);
}

.menu-ico {
	width: 50px;
	height: 51px;
}

.menu-title {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 50px;
	width: 175px;
	padding-left:15px;
	color: #6e6e70;
	border-bottom:1px solid #dfdfd7;
}

.account-info .account-name {
	float: left;
	padding: 0 15px 0 0;
	color: #fff;
	font-size: 14px;
}

.account-info img {
	width: 30px;
	height: 30px;
	overflow: hidden;
	float: left;
	border-radius: 60px;
	-webkit-box-shadow:  0px 0px 1px 2px #fff;
	box-shadow:  0px 0px 1px 2px #fff;
	margin: 9px 0 0;
	cursor: pointer;
}

.account-info img:hover {
	-webkit-box-shadow:  0px 0px 2px 3px #61d9fb;
	box-shadow:  0px 0px 2px 3px #61d9fb;
}

.account-show {
	margin: 22px 0 0 15px;
	float: left;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #fff;
	cursor: pointer;
}
.account-show:hover {
	border-top:7px solid #61d9fb;
}

.main-dashdoard {
	background: #fafafa;
	padding: 0 25px;
	padding-bottom:10000px;
    margin-bottom:-10000px;
	vertical-align: top;
	margin-left: 241px;
	min-height: 600px;
}

.dashboard-header {
	background:#f7f6f2;
	margin: 0 -25px 25px;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ceccc0;
	overflow: hidden;
	border-top: 3px solid #de6262;
}

.dashboard-header.twitter {
	border-color: #2589c5;
}

.dashboard-header.github {
	border-color: #b2b2b2;
}

.dashboard-header.stackoverflow {
	border-color: #f88b1f;
}

.dashboard-header h1 {
	font-weight: bold;
	color: #373737;
}

.dashboard-header .cellRight {
	padding: 4px 0 0;
}

.top-search-deck {
	float: left;
	margin: -4px 25px 0;
	position: relative;
}

.search-input {
	border: 1px solid #dedede;
	height: 28px;
	padding: 0 30px 0 8px;
	width: 200px;
	resize: none;
}

.search-input:focus {
	outline: none;
	border:1px solid #007fff;
	color: #007fff;
}

.dash-item {
	vertical-align: top;
	background: #fff;
	border:1px solid #ddd;
	padding:10px 10px 20px 6px;
	margin:0 15px 20px 0;
	font-size: 14px;
	width: 390px;
	height: 170px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	transition: all .2s;
}
.dash-item img {
	float: left;
	border-radius:60px;
	width: 50px;
	height: 50px;
	margin:-2px 15px 0 4px;
	border:2px solid #fff;
	box-shadow: 0 0 0 2px #eee;
}

.dash-item .desc {
	display: inline-block;
	color: #333;
	width: 240px;
	height: 75px;
	text-decoration: none;
	overflow: hidden;
}

.dash-item a {
	color: #116eb1;
}

.dash-item:hover {
	background: #f7fcfd;
	border-color:#61d9fb;
}

.dash-item.twitter {
	border-left:3px solid #2589c5;
}
.dash-item.github {
	border-left:3px solid #b2b2b2;
}
.dash-item.stackoverflow {
	border-left:3px solid #f88b1f;
}
.item-info {
	position: absolute;
	width: 390px;
	bottom: 0;
	left: 0;
	line-height:38px;
	padding:0 10px;
	font-size: 11px;
}

.item-date {
	float: right;
	color: #666;
}

.item-type {
	width: 27px;
	height: 27px;
	margin: 0 10px -8px 0;
}
.dash-item.twitter .item-info {
	background: rgba(37,137,197,.1);
}
.dash-item.stackoverflow .item-info {
	background: rgba(248,139,31,.1);
}
.dash-item.github .item-info {
	background: rgba(178,178,178,.1);
}

.dash-item.github .item-type {
	background-position: 0 -88px;
}
.dash-item.twitter .item-type {
	background-position: -36px -87px;
}
.dash-item.stackoverflow .item-type {
	background-position: -68px -87px;
}

/*compact nav column*/
.bt-toggle {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 70px;
	cursor: pointer;
	background-color: #373737;
	background-position: -207px -28px;
}

.compact-view .bt-toggle {
	background-position: -253px -27px;
}

.compact-view .menu-title {
	display: none;
}

.compact-view .dashboard-nav {
	width: 50px;
}

.compact-view .main-dashdoard {
	margin: 0 0 0 50px;
}

.tern-on-deck {
	text-align: center;
	padding: 60px 0 0;
}
.tern-on {
	padding:60px 10px;
	border-radius:4px;
	border:1px solid #ccc;
	width: 280px;
	display: inline-block;
	margin:0 20px 0 0;
	cursor: pointer;
	transition:all .5s;
}

.tern-on:hover {
	box-shadow:0 5px 14px rgba(55,55,55,.4);
	border:1px solid rgba(55,55,55,.1);
}

.tern-on h3 {
	color: #fff;
	font-weight: 600;
	margin-bottom: 10px;
}

.tern-on p {
	color: #fefefe;
	font-size: 13px;
}

.twitter-on {
	background-color: #2589c5;
}
.git-on {
	background-color: #b2b2b2;
}
.gp-on {
	background-color: #d95333;
}
