/*
 * Styles related to slick grid (ex. feed.ejs)
 */



.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '5 .column.size-1-5';
  font-size: 0;
  /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .size-1-5,
.deckgrid .size-1-4,
.deckgrid .size-1-3 {
  width: 240px;
  margin-right: 20px;
}

.deckgrid .size-1-5:last-child,
.deckgrid .size-1-4:last-child,
.deckgrid .size-1-3:last-child {
  margin-right: 0;
}

.feed.dashboard,
.feed.top-bar {
  max-width: 1280px;
}

.card-item {
  background: #fff;
  width: 100%;
  margin: 0 0 20px;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.card-item.ng-enter.ng-enter-active,
.card-item-animation.ng-leave {
  opacity: 1;
}

.card-item.ng-leave.ng-leave-active,
.card-item.ng-enter {
  opacity: 0;
}

.card-item .card-cover {
  overflow: hidden;
  background: url('/img/preloader-circle.gif') no-repeat center transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  min-height: 100px;
  text-align: center;
  position: relative;
}

.card-item .card-cover img {
  max-width: 100%;
  min-height: 100px;
  height: auto;
  vertical-align: top;
  border-radius: 3px 3px 0 0;
}

.card-item .card-cover-overlay {
  opacity: 0;
  visibility: hidden;
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-item:hover .card-cover-overlay {
  visibility: visible;
  opacity: .2;
}

.card-item .card-meta {
  padding: 12px 14px 13px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.card-item .card-meta .title {
  color: #444;
  font-size: 13px;
  font-weight: bold;
  max-height: 64px;
  overflow: hidden;
  margin-bottom: 12px;
}

.card-item .card-meta .title.bottom-space {
  margin-bottom: 5px !important;
}

.card-item .card-meta .description {
  color: #444;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
}

.card-item .card-meta .description a {
  color: #666;
  font-weight: bold;
  position: relative;
  z-index: 11;
}

.card-item .card-meta .from {
  color: #aaa;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
}

.card-item .card-meta .from .type {
  text-transform: capitalize;
}

.card-item .card-collection {
  font-size: 11px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  border-top: 1px solid #e7e7e7;
  line-height: 15px;
  padding: 10px 12px;
  position: relative;
  z-index: 11;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.card-item .card-collection:hover {
  background: #f9f9f9;
}

.card-item .card-collection .c-avatar {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 7px;
  border-radius: 2px;
}

.card-item .card-collection .c-title {
  display: block;
  color: #717171;
}

.card-item .card-collection .c-owner {
  cursor: default;
}

.card-item .card-collection .c-owner,
.card-item .card-collection .c-owner a {
  color: #b5b5b5;
}

.card-item .card-collection:hover .c-owner,
.card-item .card-collection:hover .c-owner a {
  color: #999;
}

.card-item .from .icon {
  display: inline-block;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  vertical-align: top;
  width: 18px;
  height: 18px;
  text-align: center;
  margin-right: 3px;
  border-radius: 2px;
}

.card-item .card-buttons {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 12;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-item:hover .card-buttons {
  visibility: visible;
  opacity: 1;
}

.card-item .card-buttons .show-coll-popup {
  right: -20px;
  top: 28px;
}

.card-item .card-buttons .show-coll-popup:after {
  left: 24px;
}

.card-item .card-buttons .show-coll-popup.on {
  visibility: visible;
  opacity: 1;
  top: 38px;
}

.store-it-popup-wrap {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.store-it-btn,
.store-it-btn:hover {
  display: block;
  background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  border: 1px solid rgba(0, 0, 0, .2);
  color: #fff;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  padding: 6px 8px 5px 6px;
  text-shadow: 0 -1px rgba(0, 0, 0, .11);
  white-space: nowrap;
  border-radius: 2px;
}

.store-it-btn .icon {
  display: inline-block;
  vertical-align: top;
  margin: 2px 2px 0 0;
}

.share-card-btn {
  display: inline-block;
  background: #fc523c;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  vertical-align: top;
  padding: 6px 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, .11);
  border-radius: 2px;
}

.share-card-btn .icon {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

.store-it-btn:hover,
.store-it-btn:active,
.share-card-btn:hover,
.share-card-btn:active {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);
}

@media screen and (max-width: 1280px) {
  .feed.dashboard,
  .feed.top-bar {
    width: 1020px;
  }

  .deckgrid[deckgrid]::before {
    content: '4 .column.size-1-4';
  }
}

@media screen and (max-width: 1020px) {
  .feed.dashboard,
  .feed.top-bar {
    width: 760px;
  }

  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}