/* Common dialog styles */
@-webkit-keyframes ngdialog-flipin-horizontal {
	0% {
		opacity: 0;
		transform: rotateY(-90deg);
		-webkit-transform: rotateY(-90deg);
		-moz-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}
}

@-ms-keyframes ngdialog-flipin-horizontal {
	0% {
		opacity: 0;
		transform: rotateY(-90deg);
		-webkit-transform: rotateY(-90deg);
		-moz-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}
}

@keyframes ngdialog-flipin-horizontal {
	0% {
		opacity: 0;
		transform: rotateY(-90deg);
		-webkit-transform: rotateY(-90deg);
		-moz-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}
}

@-webkit-keyframes ngdialog-flipout-horizontal {
	0% {
		opacity: 1;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}

	100% {
		opacity: 0;
		transform: rotateY(90deg);
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
	}
}


@-ms-keyframes ngdialog-flipout-horizontal {
	0% {
		opacity: 1;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}

	100% {
		opacity: 0;
		transform: rotateY(90deg);
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
	}
}

@keyframes ngdialog-flipout-horizontal {
	0% {
		opacity: 1;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}

	100% {
		opacity: 0;
		transform: rotateY(90deg);
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
	}
}

/* Dialog themes */
.ngdialog.lsd-theme {
	padding-top: 160px;
	padding-bottom: 160px;
	-webkit-perspective: 1300px;
	-ms-perspective: 1300px;
	perspective: 1300px;
	-webkit-perspective-origin: 50% 150px;
	-ms-perspective-origin: 50% 150px;
	perspective-origin: 50% 150px;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 1.5em;
}

.ngdialog.lsd-theme .ngdialog-content {
	font-weight: 300;
	background: white;
	color: #1f282d;
	padding: 1.2em;
	line-height: 1.5em;
	text-align: center;
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	width: 450px;
}

.ngdialog.lsd-theme .ngdialog-close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.ngdialog.lsd-theme .ngdialog-close:before {
	position: absolute;
	content: "\00D7";
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
	top: 3px;
	right: 3px;
	color: #1abc9c;
	background: transparent;
}

.ngdialog.lsd-theme .ngdialog-content h1,
.ngdialog.lsd-theme .ngdialog-content h2,
.ngdialog.lsd-theme .ngdialog-content h3 {
	color: #1f282d;
	font-family: 'proxima-nova-bold', 'Helvetica', Arial, sans-serif;
	margin-bottom: 10px;
}

.ngdialog.lsd-theme.ngdialog-closing .ngdialog-content {
	-webkit-animation: ngdialog-flipout-horizontal 0.5s;
	-ms-animation: ngdialog-flipout-horizontal 0.5s;
	animation: ngdialog-flipout-horizontal 0.5s;
	-webkit-backface-visibility: hidden;
}

.ngdialog.lsd-theme .ngdialog-content {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: ngdialog-flipin-horizontal 0.5s;
	-ms-animation: ngdialog-flipin-horizontal 0.5s;
	animation: ngdialog-flipin-horizontal 0.5s;
	-webkit-backface-visibility: hidden;
}

/* Share modal */
.ngdialog.share-dialog .ngdialog-content {
	width: 390px;
	padding: 1.4em 1.6em;
}

.ngdialog.share-dialog .ngdialog-content input.field {
	margin-bottom: 15px;
}

.ngdialog.share-dialog .ngdialog-content textarea.field {
	margin-bottom: 4px;
}

.ngdialog.share-dialog .ngdialog-content .btn {
	font-size: 11px;
}

.ngdialog.share-dialog .ngdialog-content h2 {
	color: #7f8c8d;
	font-size: .9em;
	margin-bottom: 15px;
	text-align: center;
}

.ngdialog.share-dialog .ngdialog-content h2 .icon {
	font-size: 20px;
	line-height: 41px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	height: 28px;
}

.ngdialog.share-dialog .ngdialog-content .social-desc {
	color: #8592a2;
	font-size: 11px;
	font-weight: 700;
	border-top: 1px dotted #ddd;
	margin: 25px 0 5px;
	text-transform: uppercase;
	padding-top: 8px;
}

.ngdialog.share-dialog .ngdialog-content .send-error {
	color: #e74c3c;
	font-size: 12px;
	line-height: 12px;
	height: 18px;
}

.ngdialog.share-dialog .ngdialog-content .social-share .btn {
	display: inline;
	color: #fff;
	width: 150px;
}

.ngdialog.share-dialog .ngdialog-content .social-share .fb-btn {
	background: #3b5998;
	margin-right: 7px;
}

.ngdialog.share-dialog .ngdialog-content .social-share .fb-btn:hover {
	background: #2a4580;
}

.ngdialog.share-dialog .ngdialog-content .social-share .tw-btn {
	background: #3498db;
}

.ngdialog.share-dialog .ngdialog-content .social-share .tw-btn:hover {
	background: #2481bf;
}


/* Share like modal */
.ngdialog.share-dialog.share-like .ngdialog-content h2 .icon {
	font-size: 26px;
	line-height: 44px;
	margin-right: 2px;
}

.ngdialog.share-dialog.share-like .ngdialog-content .social-desc {
	margin-top: 10px;
}

/* Delete modal */
.ngdialog.delete-user-dialog .ngdialog-content {
	width: 385px;
}

.ngdialog.delete-user-dialog .ngdialog-content .tip {
	color: #8592a2;
	font-size: 16px;
	line-height: 24px;
	max-width: 300px;
	margin: 0 auto 35px;
}

.ngdialog.delete-user-dialog .ngdialog-content .green-btn {
	margin-right: 10px;
}

.ngdialog.delete-user-dialog .ngdialog-content .btn {
	display: inline;
	font-size: 11px;
	width: 125px;
}

@media (max-width: 440px) {
	.ngdialog.share-dialog .ngdialog-content .social-share .btn {
		font-size: 9px;
		width: 115px;
	}

	.ngdialog.delete-user-dialog .ngdialog-content {
		width: 265px;
	}

	.ngdialog.delete-user-dialog .ngdialog-content .green-btn {
		margin: 0 0 10px;
	}
}
