/* Discuss */

.discuss {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

.discuss .comment-form {
  display: inline-block;
}

.discuss .avatar {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

.discuss .comment-form .comment-box {
  display: inline-block;
  border-style: none;
  border-color: transparent;
  overflow: auto;
  height: 70px;
  width: 490px;
  font-size: 13px;
  color: #666;
  background: transparent;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  margin: 0 15px;
}

.discuss .comment-form .comment-box:focus {
  outline: none;
}

.discuss .comment-form .post-comment {
  display: inline-block;
  vertical-align: top;
}

.discuss .comments {
  margin: 15px 0 35px 0;
}

.discuss .comments li {
  text-align: left;
  margin-bottom: 44px;
}

.discuss .comments .name {
  font-weight: bold;
  font-size: 14px;
  color: #444;
  margin-left: 15px;
}

.discuss .comments .date {
  float: right;
}

.discuss .comments .comment {
  color: #666;
  vertical-align: top;
}

.discuss .comments .message {
  font-size: 15px;
  margin-left: 62px;
  margin-top: -10px;
}
