

.button-clean {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.button {
  display: inline-block;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  border: 0;
  padding: 0;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  border-radius: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button[disabled] {
  opacity: .8;
}

.navy-btn {
  background: -webkit-linear-gradient(350deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  background: linear-gradient(100deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  color: #fff;
}

.pink-btn {
  background: -webkit-linear-gradient(350deg, #f03e56 0%, #f2485f 100%);
  background: linear-gradient(100deg, #f03e56 0%, #f2485f 100%);
  color: #fff;
}

.orange-btn {
  background: #fc523c;
  color: #fff;
}

.green-btn {
  background: #56c7aa;
  background: rgba(66, 207, 176, 0.96);
  color: #fff;
}

.blue-btn {
  background: #5da8e0;
  color: #fff;
}

.gradient-btn {
  background: -webkit-linear-gradient(35deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  background: linear-gradient(55deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  color: #fff;
}

.slk-btn {
  border: 1px solid rgba(0, 0, 0, .16);
  text-transform: none;
  text-shadow: 0 -1px rgba(0, 0, 0, .11);
}

.slk-btn:hover,
.slk-btn:active,
.slk-btn:focus {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .38);
}

.mdm-btn {
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  width: 66px;
  height: 30px;
  padding: 0 10px;
}

.sml-btn,
.xs-sml-btn {
  font-size: 11px;
  height: 24px;
  line-height: 22px;
  letter-spacing: 1px;
}

.sml-btn {
  width: 90px;
}

.xs-sml-btn {
  width: 75px;
}

.sml-btn .icon,
.xs-sml-btn .icon {
  display: inline-block;
  font-size: 14px;
  margin: 3px 2px 0 0;
  height: 16px;
  line-height: 20px;
  vertical-align: top;
}

.follow-collection {
  overflow: hidden;
  position: relative;
  z-index: 20;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.follow-collection-btns {
  width: 91px;
  height: 24px;
}

.follow-collection-icons {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.follow-collection-icons .button {
  border: 2px solid #fff;
  font-size: 12px;
  padding: 2px 0 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.field {
  background: #fff;
  color: #444;
  border: 1px solid #d9d9d9;
  font-size: 13px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px 10px;
  margin: 0;
  outline: none;
  width: 100%;
  border-radius: 2px;
}

textarea.field {
  resize: vertical;
}