

@font-face {
  font-family: 'likeastore-icon-font';
  src: url('../fonts/likeastore-icon-font.eot');
  src: url('../fonts/likeastore-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/likeastore-icon-font.woff') format('woff'),
		 url('../fonts/likeastore-icon-font.ttf') format('truetype'),
		 url('../fonts/likeastore-icon-font.svg#likeastore-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before,
.font-icon:before {
  font-family: 'likeastore-icon-font';
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #e74c3c;
  color: #fff;
}

::-moz-selection {
  background-color: #e74c3c;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #1f282d;
  background: #f3f3f6;
  font: 400 14px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: #f03e56;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  outline: none;
  -webkit-appearance: none;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

html,
body,
#likeastoreApp,
.container,
.content {
  height: 100%;
}

#likeastoreApp {
  position: relative;
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mask-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: solid 1px #ccc;
  width: 30%;
}

.header {
  /*background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%);*/
  background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 100%;
  height: 36px;
  text-align: center;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

.notify .header {
  top: 39px;
}

.top-bar {
  max-width: 1140px;
  margin: 0 auto 30px;
  position: relative;
  min-height: 32px;
  z-index: 10;
}

.top-bar .top {
  width: 100%;
}

.top-bar .title {
  display: inline-block;
  color: #666;
  font-size: 30px;
  font-weight: 300;
  line-height: 28px;
  margin-right: 15px;
}

.top-bar .description {
  display: inline-block;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  margin: 6px 0 0;
  vertical-align: top;
}

.top-bar .description.block {
  display: block;
  margin-top: 10px;
}

.fld,
.fld:focus {
  background: rgba(255,255,255,1);
  border: 0;
  margin: 0;
  outline: none;
  color: #333;
  font-size: 13px;
  font-family: 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .6px;
  width: 100%;
  padding: 12px 18px;
  border-radius: 2px;
}

textarea.fld {
  resize: none;
}

.btn,
.btn:focus {
  display: inline-block;
  font: 400 13px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  border: 0;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  border-radius: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn[disabled] {
  opacity: .7;
}

.btn:hover {
  opacity: .8;
  text-decoration: none;
}

.green-btn {
  background: #56c7aa;
  background: rgba(66, 207, 176, 0.96);
  color: #fff;
}

.pink-btn {
  background: #f03e56;
  color: #fff;
}

.gradient-btn {
  background: -webkit-linear-gradient(35deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  background: linear-gradient(55deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);
  color: #fff;
}

.small-btn,
.small-btn:focus {
  font-size: 10px;
  width: 90px;
  height: 21px;
  line-height: 21px;
}

.small-btn:hover {
  opacity: 1;
  text-decoration: none;
}

.search {
  background: transparent;
  border: none;
  color: #666;
  font: 600 12px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  width: 140px;
  padding: 6px 0;
  margin: 0;
  letter-spacing: .3px;
}

.active .search {
  color: #1f282d;
  width: 200px;
}

.search::-webkit-input-placeholder {
  color: #999;
}

.search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

.search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

.search:-ms-input-placeholder {
  color: #999;
}

.search:focus::-webkit-input-placeholder {
  color: transparent;
}

.search:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}

.search:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}

.search:focus:-ms-input-placeholder {
  color: transparent;
}

.main-viewer {
  padding-top: 85px;
}

.notify .main-viewer {
  padding-top: 124px;
}

.control-bar {
  position: absolute;
  right: 108px;
  top: 0;
  z-index: 11;
}

.control-bar .holder {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.control-bar .search-bar {
  background: rgba(255,255,255,.96);
  color: #666;
  margin-top: 4px;
  height: 27px;
  border-radius: 35px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.control-bar .search-bar .icon {
  display: inline-block;
  color: #999;
  font-size: 14px;
  margin: 6px 3px 0 10px;
  vertical-align: top;
}

.control-bar .search-bar.active .icon {
  color: #1f282d;
}

.control-bar .view-bar .icon {
  font-size: 20px;
  color: #fff;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
  line-height: 14px;
}

.control-bar .view-bar .list-icon {
  margin-left: -3px;
}

.control-bar .view-bar .icon.active,
.control-bar .view-bar .icon:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.06);
}

.filters-bar {
  position: absolute;
  left: 82px;
}

.filters-bar .header-btn.show-networks {
  width: 93px;
}

.filters-bar .header-btn.show-networks .icon {
  margin-right: 2px;
}

.networks-dropdown {
  visibility: hidden;
  opacity: 0;
  background: rgba(31, 33, 47, 0.96);
  border-bottom: 0;
  width: 175px;
  text-align: left;
  position: absolute;
  top: 20px;
  left: -41px;
  z-index: 100;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.networks-dropdown:after {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  border-bottom-color: rgba(31, 33, 47, 0.96);
  border-width: 8px;
  left: 50%;
  top: -13px;
  margin-left: -8px;
}

.networks-dropdown.active {
  visibility: visible;
  opacity: 1;
  top: 39px;
}

.networks-dropdown .network-link {
  display: block;
  border-top: 1px solid #161625;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  padding: 6px 10px 6px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.networks-dropdown .network .network-link {
  text-transform: capitalize;
}

.networks-dropdown .network-link:hover {
  background: #303140;
}

.networks-dropdown .network-link.active {
  background: #303140;
  font-weight: 600;
}

.networks-dropdown .network-link .icon {
  display: inline-block;
  color: #fff;
  vertical-align: top;
  margin: 2px 10px 0 0;
  font-size: 16px;
}

.networks-dropdown .network-link:first-child {
  border-radius: 2px 2px 0 0;
}

.networks-dropdown .network-link.last {
  border-radius: 0 0 2px 2px;
}

.logo {
  display: inline-block;
  background: url('../img/logo-likeastore.png') no-repeat center transparent;
  -webkit-background-size: cover;
  background-size: cover;
  width: 120px;
  height: 17px;
  margin-top: 8px;
  cursor: pointer;
}

.header-btn {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  padding: 6px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
  height: 36px;
  position: absolute;
  top: 0;
  z-index: 700;
  cursor: pointer;
}

.header-btn.pusher-menu-link {
  left: 0;
}

.header-btn.add-network-link {
  right: 0;
}

.header-btn .icon {
  display: inline-block;
  font-size: 17px;
  vertical-align: top;
  line-height: 28px;
  margin-right: 5px;
}

.header-btn.add-network-link .icon {
  font-size: 16px;
  margin-right: 1px;
}

.network-error-stripe {
  background: #f56557;
  background: rgba(245, 101, 87, .96);
  color: #fff;
  font-size: 13px;
  line-height: 38px;
  width: 100%;
  height: 39px;
  text-align: center;
  letter-spacing: .5px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.network-error-stripe a {
  color: #fdfdfd;
  text-decoration: underline;
}

.network-error-stripe a:hover {
  text-decoration: none;
}

.network-error-stripe a.hide-error-stripe-icon,
.network-error-stripe a.hide-error-stripe-icon:hover {
  display: inline-block;
  font-size: 14px;
  margin-left: 6px;
  vertical-align: top;
  line-height: 42px;
  text-decoration: none;
}

.content {
  overflow-y: scroll;
  background: #f3f3f6;
}

.content,
.content-inner {
  position: relative;
}

.container {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 270px;
  height: 100%;
  background: #1f212f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sidebar-active .container {
  -webkit-transform: translate3d(270px, 0, 0);
  -ms-transform: translate3d(270px, 0, 0);
  transform: translate3d(270px, 0, 0);
}

.sidebar-nav {
  z-index: 1;
}

.sidebar-active .sidebar-nav {
  visibility: visible;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

.sidebar-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.sidebar-active .sidebar-overlay {
  display: block;
  left: 270px;
  z-index: 1001;
}

.sidebar-nav .folders {
  margin-top: 10px;
}

.sidebar-nav .username {
  display: inline-block;
  margin: 3px 10px;
}

.sidebar-nav .username:hover {
  text-decoration: underline;
}

.sidebar-nav .avatar {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  border-radius: 100%;
}

.sidebar-nav .menu-title {
  display: inline-block;
  color: #e9e9e9;
  padding: 8px 15px;
  vertical-align: top;
  line-height: 20px;
  letter-spacing: .6px;
  width: 100%;
  height: 38px;
  cursor: pointer;
}

.sidebar-nav .user {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar-nav .user .menu-title {
  width: 210px;
  line-height: 16px;
  margin-left: -2px;
}

.sidebar-nav .menu-title .icon {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  line-height: 28px;
  margin-right: 12px;
}

.sidebar-nav .folders .active {
  background: #303140;
}

.sidebar-nav .folders .menu-title:hover,
.sidebar-nav .folders .coll-item:hover {
  background: #161625;
}

.sidebar-nav .folders .user .menu-title:hover {
  background: transparent;
}

.sidebar-nav .folders li.user {
  margin-bottom: 5px;
}

.sidebar-nav .folders li.history {
  margin-bottom: 9px;
}

.sidebar-nav .subicon {
  display: inline-block;
  color: #e9e9e9;
  font-size: 15px;
  margin: 12px 7px 0 0;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar-nav .subicon:hover {
  color: #fff;
}

.sidebar-nav .subicon.logout-icon {
  margin-right: 10px;
}

.sidebar-nav .subicon.settings-icon .tooltip {
  background: rgba(255,255,255,.9);
  color: #333;
  bottom: -22px;
}

.sidebar-nav .subicon.logout-icon .tooltip {
  background: rgba(255,255,255,.9);
  color: #333;
  width: 65px;
  bottom: -23px;
  left: -20px;
}

.sidebar-nav .collections .subicon {
  margin-top: 4px;
  margin-right: 0;
}

.sidebar-nav .inbox-counter {
  background: #f03e56;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 2px 6px;
  margin-top: 3px;
  line-height: 12px;
  border-radius: 2px;
}

.sidebar-nav .folders a:hover,
.sidebar-nav .folders a:hover .subicon {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav .colls {
  visibility: hidden;
  opacity: 0;
  margin-top: -3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar-nav .colls .empty-collections {
  color: #e9e9e9;
  padding: 0 20px;
}

.empty-collections .link {
  color: #56c7aa;
  text-decoration: underline;
  cursor: pointer;
}

.empty-collections .link:hover {
  text-decoration: none;
}

.sidebar-nav .show-collections .colls {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.colls .coll-item {
  display: block;
  padding: 5px 5px 5px 20px;
  letter-spacing: .8px;
  cursor: pointer;
}

.colls .coll-item * {
  display: inline-block;
  vertical-align: top;
}

.colls .coll-item .avatar {
  width: 16px;
  height: 16px;
  margin: 1px 12px 0 0;
  border-radius: 100%;
}

.colls .coll-item .title {
  color: #e9e9e9;
  font-size: 13px;
  width: 200px;
}

.new-collection-block {
  color: #e9e9e9;
}

.show-form {
  background: #161625;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 8px 15px;
  width: 100%;
  height: 46px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.show-form .icon {
  display: inline-block;
  font-size: 20px;
  margin: 3px 6px 0 0;
  vertical-align: top;
}

.new-collection-block .add-coll-form {
  background: #161625;
  width: 100%;
  height: 210px;
  padding: 14px 15px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -300px;
  z-index: 20;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.new-collection-block .add-coll-form.on {
  bottom: 0;
}

.edit-collection-wrap .color-avatar-current {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 10px 10px 0 0;
  border-radius: 100%;
  vertical-align: top;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,.9);
  box-shadow: 0 0 0 2px rgba(255,255,255,.9);
}

.edit-collection-wrap .color-avatar-current .edit-collection-popup {
  margin-top: 25px;
  left: -20px;
  width: 190px;
}

.edit-collection-wrap .color-avatar-current .edit-collection-popup .last {
  margin-right: 0;
}

.edit-collection-wrap .show-edit {
  border-bottom: 1px solid transparent;
  position: relative;
  cursor: pointer;
}

.edit-collection-wrap .show-edit.title:hover {
  border-bottom: 1px solid;
}

.edit-collection-wrap .show-edit.description:hover {
  text-decoration: underline;
}

.edit-collection-popup {
  visibility: hidden;
  opacity: 0;
  background: rgba(31, 33, 47, 0.96);
  padding: 15px;
  width: 280px;
  position: absolute;
  left: -10px;
  margin-top: 8px;
  z-index: 100;
  border-radius: 2px;
  cursor: default;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.edit-collection-popup.active {
  visibility: visible;
  opacity: 1;
}

.edit-collection-popup:after {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(31, 33, 47, 0.96);
  border-width: 8px;
  left: 20px;
  top: -13px;
}

.edit-collection-popup .fld {
  color: #666;
  padding: 10px 15px;
}

.edit-collection-popup .btn {
  font-size: 12px;
  margin-top: 10px;
  width: 60px;
  height: 27px;
}

.edit-collection-popup .link-btn,
.edit-collection-popup .link-btn:hover {
  display: inline;
  color: rgba(255,255,255,.35);
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  cursor: pointer;
}

.add-coll-form .colors {
  margin-bottom: 10px;
}

.add-coll-form .color-avatar {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-right: 8px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.add-coll-form .color-avatar.active {
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,.9);
  box-shadow: 0 0 0 2px rgba(255,255,255,.9);
}

.add-coll-form .fld {
  color: #666;
  padding: 8px 15px;
}

.add-coll-form input.fld {
  margin-bottom: 10px;
}

.add-coll-form textarea.fld {
  margin-bottom: 3px;
}

.add-coll-form input[type="checkbox"] {
  display: inline-block;
  vertical-align: top;
  margin: 3px 2px 0 0;
}

.add-coll-form label {
  font-size: 12px;
}

.add-coll-form label .icon {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 5px;
}

.add-coll-form label .tooltip {
  width: 130px;
  bottom: 20px;
}

.add-coll-form .buttons {
  margin-top: 5px;
  text-align: right;
}

.add-coll-form .link-btn {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.add-coll-form .link-btn:hover {
  text-decoration: none;
}

.add-coll-form .link-btn.add {
  color: #56c7aa;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}

.add-coll-form .link-btn.cancel {
  color: #666;
  color: rgba(255,255,255,.35);
  font-size: 13px;
}

.header-btn:hover,
.sidebar-active .pusher-menu-link {
  background: rgba(0,0,0,0.06);
  text-decoration: none;
}

.dashboard {
  max-width: 1140px;
  margin: 0 auto 50px;
  position: relative;
}

.dash-item {
  display: inline-block;
  background: #fff;
  width: 266px;
  padding: 10px;
  margin: 0 25px 30px 0;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.dash-item.ng-enter.ng-enter-active,
.dash-item-animation.ng-leave {
  opacity: 1;
}

.dash-item.ng-leave.ng-leave-active,
.dash-item.ng-enter {
  opacity: 0;
}

.grid-view .dash-item {
  height: 230px;
}

.grid-view .dash-item .image {
  background: #fff;
  width: 100%;
  height: 184px;
  border-radius: 2px;
}

.dash-item .image .cover {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.dash-item .icon {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  vertical-align: top;
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 7px;
  z-index: 0;
  border-radius: 2px;
}

.dash-item time {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.dash-item .title {
  font-size: 14px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 5px 5px 2px;
}

.dash-item .description {
  color: #666;
  font-size: 13px;
  padding: 5px;
  max-height: 165px;
  overflow: hidden;
  letter-spacing: .3px;
}

.dash-item .description.short {
  max-height: 140px;
}

.dash-item .description a {
  position: relative;
  z-index: 2;
}

.dash-item.thumbed .info,
.dash-item.texted.linked .info {
  visibility: hidden;
  opacity: 0;
  background: rgba(255,255,255,.96);
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dash-item.youtube .info .title {
  width: 75%;
}

.dash-item .action-buttons {
  background: rgba(255,255,255,.96);
  visibility: hidden;
  opacity: 0;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 0 0 0 2px;
}

.dash-item.thumbed:hover .info,
.dash-item:hover .action-buttons {
  visibility: visible;
  opacity: 1;
}

.dash-item .author-image {
  display: inline-block;
  padding: 5px 5px 0;
  vertical-align: top;
}

.dash-item .right-block {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.activity .dash-item.facebook .right-block,
.activity .dash-item.pocket .right-block,
.activity .dash-item.youtube .right-block,
.activity .dash-item.tumblr .right-block {
  width: 100%;
}

.dash-item .author-name {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 5px 0;
}

.dash-item .avatar {
  width: 32px;
  height: 32px;
  border-radius: 100px;
}

.dash-item .action-buttons a {
  display: inline-block;
  color: #56c7aa;
  color: rgba(63, 192, 193, 0.98);
  font-size: 16px;
  text-decoration: none;
  margin-left: 3px;
  position: relative;
}

.dash-item .action-buttons a:hover {
  color: #f03e56;
}

.dash-item .action-buttons a:first-child {
  margin-left: 5px;
}

.show-coll-popup {
  visibility: hidden;
  opacity: 0;
  background: rgba(31, 33, 47, 0.96);
  color: #e9e9e9;
  width: 130px;
  position: absolute;
  right: -57px;
  top: 12px;
  z-index: 11;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.show-coll-popup:after {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(31, 33, 47, 0.96);
  border-width: 8px;
  left: 50%;
  top: -13px;
  z-index: -1;
  margin-left: -8px;
}

.show-coll-popup:hover + .tooltip {
  visibility: hidden;
  opacity: 0;
}

.action-buttons a.addto-btn:hover .show-coll-popup {
  visibility: visible;
  opacity: 1;
  top: 22px;
}

.action-buttons a.addto-btn .addto-icon {
  display: block;
}

.action-buttons a.addto-btn .tooltip {
  width: 105px;
}

.show-coll-popup .show-coll-item {
  border-top: 1px solid #161625;
  font-size: 12px;
  padding: 5px 10px;
  letter-spacing: .3px;
}

.show-coll-popup .show-coll-item.show-coll-empty {
  text-align: center;
  padding: 8px 10px 10px;
  border-radius: 2px;
}

.show-coll-popup .show-coll-item.show-coll-empty .text {
  margin-bottom: 5px;
}

.show-coll-popup .show-coll-item.show-coll-empty .small-btn {
  width: 90%;
  height: 21px;
}

.show-coll-popup .show-coll-item:first-child {
  border: 0;
}

.show-coll-popup .show-coll-item:hover {
  background: #303140;
}

.show-coll-popup .color-avatar {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 5px 5px 0 0;
  vertical-align: top;
  border-radius: 100%;
}

.list-view .dash-item {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.list-view .dash-item.texted {
  padding-bottom: 55px;
}

.list-view .dash-item.youtube,
.list-view .dash-item.pocket.thumbed {
  padding-bottom: 45px;
}

.list-view .dash-item:first-child {
  border-radius: 2px 2px 0 0;
}

.list-view .dash-item.last {
  border-bottom: 0;
  border-radius: 0 0 2px 2px;
}

.list-view .dash-item .cover {
  width: 135px;
  height: 90px;
  float: left;
  margin: 2px 12px 0 0;
}

.list-view .dash-item .title {
  padding: 0 0 5px;
}

.list-view .dash-item .description {
  padding: 0;
}

.list-view .dash-item .info {
  visibility: visible;
  opacity: 1;
  width: 100%;
  padding: 0;
  margin-left: 0;
  position: static;
}

.list-view .dash-item .icon {
  bottom: 10px;
}

.list-view .dash-item .right-block {
  width: 95%;
  margin-left: 5px;
}

.list-view .dash-item .author-image {
  padding: 5px 3px 0;
}

.list-view .dash-item .author-name {
  padding: 2px 0 5px;
}

.discover .dash-item .description {
  max-height: 145px;
}

.discover .author-name a {
  color: #666;
}

.discover .author-name .type {
  text-transform: capitalize;
}

.notify-line {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: .6px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 5px;
  cursor: pointer;
}

.notify-line .icon {
  width: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  opacity: .7;
}

/* Tooltip */

.tooltip {
  visibility: hidden;
  opacity: 0;
  background: rgba(39, 42, 51, .9);
  font-size: 11px;
  color: #eee;
  padding: 4px 12px;
  text-align: center;
  position: absolute;
  bottom: 25px;
  margin-left: 50%;
  z-index: 100;
  border-radius: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltipped {
  position: relative;
  overflow: visible;
}

.tooltipped:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Empty box */

.empty-box {
  margin: 150px auto;
  width: 700px;
  text-align: center;
  position: relative;
}

.empty-box .empty-step {
  display: inline-block;
  background: #fff;
  width: 300px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  vertical-align: top;
  margin-right: 30px;
  padding: 30px 20px;
  height: 240px;
}

.empty-box .empty-step.two {
  margin-right: 0;
}

.empty-box .empty-step .title {
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.empty-box .empty-step p {
  color: #999;
  letter-spacing: .3px;
}

.empty-box .empty-step .btn,
.blank-box .btn {
  width: 90%;
  height: 42px;
  margin-top: 45px;
  line-height: 42px;
}

.empty-box .empty-step .help {
  color: #999;
  font-size: 12px;
  border: 1px solid #eee;
  letter-spacing: .3px;
  margin: 45px auto 0;
  padding: 8px 0 9px;
  width: 90%;
  border-radius: 2px;
}

.empty-box .empty-step .help .icon {
  display: inline-block;
  vertical-align: top;
  margin: 2px 3px 0 0;
}

.empty-box .arrow-helper .hint {
  color: #303030;
  font-size: 12px;
  position: absolute;
  top: -103px;
  left: -42px;
  width: 125px;
  letter-spacing: .3px;
}

.empty-box .arrow-helper .arrow {
  width: 85px;
  position: absolute;
  left: 80px;
  top: -90px;
}

/* Blank box */

.blank-box {
  background: #fff;
  padding: 30px 50px 50px;
  margin: 60px auto;
  width: 500px;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.blank-box img {
  width: 70%;
  margin-bottom: 35px;
}

.blank-box .big-icon {
  margin: 0 auto 20px;
}

.blank-box .title {
  font-size: 18px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: .6px;
  margin-bottom: 20px;
}

.blank-box p {
  color: #999;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .6px;
}

.blank-box.empty-collection {
  margin-top: 60px;
}

.blank-box.empty-collection .btn {
  margin-top: 35px;
}

/* First time slider */

.first-time-box {
  background-color: rgba(0,0,0,.78);
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.first-time-box .main-message-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.first-time-box .inner-box {
  color: #fff;
  width: 500px;
  height: 560px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -200px;
}

.first-time-box h1 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

.first-time-box .text {
  font-size: 18px;
  width: 420px;
  margin: 0 auto;
  line-height: 26px;
  letter-spacing: .6px;
}

.first-time-box .text b {
  color: #df3f3f;
}

.first-time-box .btn {
  border: 2px solid #00a2b4;
  color: #00a2b4;
  font: 600 14px 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  margin-top: 60px;
  width: 150px;
  height: 52px;
  line-height: 48px;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 3px;
}

.first-time-box .btn.previous-btn {
  margin-right: 20px;
  color: #999;
  border-color: #999;
}

.first-time-box .btn.ready-btn {
  background: #f03e56;
  border-color: #f03e56;
  color: #fff;
  font-size: 16px;
  width: 190px;
  height: 60px;
  line-height: 58px;
}

.first-time-box .screen {
  position: fixed;
}

.first-time-box .add-network-step-screen {
  top: -1px;
  right: 0;
  width: 212px;
}

.first-time-box .select-step-screen {
  top: -2px;
  left: 85px;
  width: 212px;
}

.first-time-box .add-collection-step-screen {
  bottom: 0;
  left: 0;
  width: 325px;
}

.first-time-box .discover-step-screen {
  width: 322px;
  left: 0;
  top: 127px;
}

.first-time-box .menu-step-screen {
  top: -1px;
  left: 270px;
  width: 212px;
}

.first-time-box .tip {
  position: fixed;
  width: 270px;
}

.first-time-box .tip.add-network-step {
  right: 156px;
  top: 202px;
}

.first-time-box .tip.select-step {
  left: 150px;
  top: 230px;
}

.first-time-box .tip.menu-step {
  left: 405px;
  top: 163px;
}

.first-time-box .tip.collections-step {
  left: 270px;
  bottom: 78px;
}

.first-time-box .tip.discover-step {
  top: 300px;
  left: 115px;
}

.first-time-box .tip h2 {
  font-size: 16px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.first-time-box .tip p {
  letter-spacing: .6px;
  line-height: 20px;
}

.first-time-box .buttons {
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
}

.first-time-box .cornered-buttons {
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -60px;
  margin-left: 120px;
}

/* Colors */

.facebook-bg-clr {
  background-color: #3b5998 !important;
}

.twitter-bg-clr {
  background-color: #3498db !important;
}

.github-bg-clr {
  background-color: #bdc3c7 !important;
}

.stackoverflow-bg-clr {
  background-color: #e67e22 !important;
}

.dribbble-bg-clr {
  background-color: #ea4c89 !important;
}

.behance-bg-clr {
  background-color: #0d7ba3 !important;
}

.vimeo-bg-clr {
  background-color: #62a0ad !important;
}

.youtube-bg-clr {
  background-color: #c0392b !important;
}

.pocket-bg-clr {
  background-color: #d3505a !important;
}

.tumblr-bg-clr {
  background-color: #2c4762 !important;
}

.facebook-clr {
  color: #3b5998 !important;
}

.twitter-clr {
  color: #3498db !important;
}

.github-clr {
  color: #8592a2 !important;
}

.stackoverflow-clr {
  color: #e67e22 !important;
}

.dribbble-clr {
  color: #ea4c89 !important;
}

.behance-clr {
  color: #0d7ba3 !important;
}

.vimeo-clr {
  color: #62a0ad !important;
}

.youtube-clr {
  color: #c0392b !important;
}

.pocker-clr {
  color: #d3505a !important;
}

.tumblr-clr {
  color: #2c4762 !important;
}

@media (min-width: 1160px) {
  .dash-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (max-width: 1160px) {
  .search {
    width: 110px;
  }

  .active .search {
    width: 125px;
  }

  .dashboard,
  .top-bar {
    width: 920px;
  }

  .dash-item {
    width: 280px;
    margin: 0 40px 40px 0;
  }

  .dash-item:nth-child(3n) {
    margin-right: 0;
  }

  .list-view .dash-item .right-block {
    width: 90%;
  }
}

@media (max-width: 920px) {
  .control-bar {
    right: 36px;
  }

  .header-btn.add-network-link {
    width: 36px;
    font-size: 0;
  }

  .dashboard,
  .top-bar {
    width: 700px;
  }

  .dash-item {
    width: 220px;
    margin: 0 20px 25px 0;
  }

  .grid-view .dash-item .description,
  .grid-view .dash-item .description.short {
    max-height: 90px;
  }

  .dash-item .right-block {
    width: 140px;
  }

  .grid-view .dash-item {
    height: 190px;
  }

  .grid-view .dash-item .image {
    height: 143px;
  }
}

@media (max-width: 700px) {
  .control-bar .view-bar {
    display: none;
  }

  .control-bar .search-bar {
    margin-right: 5px;
  }

  .dashboard,
  .top-bar {
    width: 90%;
  }

  .logo {
    background: url('../img/logo-stroked.png') no-repeat center transparent;
    -webkit-background-size: cover;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .filters-bar {
    left: 36px;
  }

  .header-btn {
    font-size: 0;
    width: 36px;
  }

  .filters-bar .header-btn.show-networks {
    width: 36px;
  }

  .networks-dropdown {
    left: -10px;
  }

  .networks-dropdown:after {
    left: 28px;
  }

  .empty-box {
    width: 80%;
    margin: 60px auto;
  }

  .empty-box .empty-step {
    margin: 0 0 25px;
  }

  .empty-box .arrow-helper .arrow {
    left: 120px;
  }

  .empty-box .arrow-helper .hint {
    left: -2px;
  }
}

@media (max-width: 500px) {
  .network-error-stripe {
    font-size: 10px;
  }

  .logo {
    display: none;
  }

  .list-view .dash-item.thumbed .cover {
    float: none;
  }

  .list-view .dash-item.thumbed .texts {
    width: 100%;
    margin-top: 10px;
  }

  .list-view .dash-item.texted .right-block {
    width: 80%;
  }

  .list-view .dash-item .description {
    max-height: 100%;
  }

  .blank-box {
    width: 100%;
  }
}