

@font-face {
  font-family: 'likeastore-icon-font';
  src: url('../fonts/likeastore-icon-font.eot');
  src: url('../fonts/likeastore-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/likeastore-icon-font.woff') format('woff'),
		 url('../fonts/likeastore-icon-font.ttf') format('truetype'),
		 url('../fonts/likeastore-icon-font.svg#likeastore-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before,
.font-icon:before {
  font-family: 'likeastore-icon-font';
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #e74c3c;
  color: #fff;
}

::-moz-selection {
  background-color: #e74c3c;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #1f282d;
  background: #eeeef0;
  font: 400 14px 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header {
  background: -webkit-linear-gradient(15deg, #1db7af 0%, #7ecfa6 100%);
  background: linear-gradient(75deg, #1db7af 0%, #7ecfa6 100%);
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 100%;
  height: 36px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

.header-wrap {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  background: url('../img/logo-likeastore.png') no-repeat center transparent;
  -webkit-background-size: cover;
  background-size: cover;
  width: 120px;
  height: 17px;
  margin-top: 8px;
  cursor: pointer;
}

.logo:hover {
  background: url('../img/logo-likeastore-pink.png') no-repeat center transparent;
  -webkit-background-size: cover;
  background-size: cover;
}

.user-box {
  margin: 5px 0 0;
  position: relative;
}

.user-box .username {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  vertical-align: top;
  line-height: 26px;
  margin-right: 9px;
  position: relative;
}

.user-box .avatar {
  display: inline-block;
  background: #fff;
  width: 24px;
  cursor: pointer;
  border-radius: 3px;
}

.user-box .icon {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  vertical-align: top;
  line-height: 30px;
  margin-left: 2px;
}

.user-box .icon:hover {
  color: #1abc9c;
}

.user-box .dropdown-menu {
  visibility: hidden;
  opacity: 0;
  background: #1f282d;
  text-align: right;
  position: absolute;
  top: 20px;
  right: -5px;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.user-box .dropdown-menu.active {
  visibility: visible;
  opacity: 1;
  top: 30px;
}

.user-box .dropdown-menu a.menu-link {
  display: inline-block;
  color: #ccc;
  border-bottom: 1px solid #343434;
  font-size: 12px;
  font-weight: 600;
  padding: 7px 15px;
  width: 140px;
  text-decoration: none;
}

.user-box .dropdown-menu a.menu-link.invite {
  color: #1abc9c;
}

.user-box .dropdown-menu a.menu-link:hover {
  color: #fff;
}