html {
  height: 100%;
}

body {
	background: #f0f0f0;
	font: normal 1em/1.4 'Open Sans', sans-serif;
	height:100%;
	overflow-x: hidden;
}

h3 {
	font-weight: bold;
	font-size: 18px;
}

.cell {
	float: left;
}

.cellRight {
	float: right;
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*Grid*/
.main-footer {
	position: absolute;
	bottom:0;
	left: 0;
	color: #555;
	font-size: 10px;
	padding: 10px;
}
