.main-dashdoard.history {
	padding: 40px 25px 0;
	margin-right: 20px;
	margin-left: 330px;
}

.history-wrap {
	width: 100%;
	position: relative;
	padding-bottom: 40px;
}

.history-wrap:before {
	background: #fff;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -7px;
	width: 7px;
	height: 700px;
	z-index: -1;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}

.history-icon {
	color: #fff;
	font-size: 1.2em;
	width: 36px;
	height: 36px;
	line-height: 42px;
	text-align: center;
	vertical-align: top;
	margin: 0 0 0 -25px;
	position: absolute;
	left: 3px;
	top: 5px;
	cursor: default;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	box-shadow: 0 0 0 5px #fff;
}

.history-icon.facebook-icon {
	background-color: #3b5998;
}

.history-icon.twitter-icon {
	background-color: #3498db;
}

.history-icon.stackoverflow-icon {
	background-color: #e67e22;
}

.history-icon.github-icon {
	background-color: #bdc3c7;
}

.history-icon.vimeo-icon {
	background-color: #62a0ad;
}

.history-icon.youtube-icon {
	background-color: #c0392b;
}

.history-icon.dribbble-icon {
	background-color: #ea4c89;
}

.history-icon.behance-icon {
	background-color: #0d7ba3;
}

.history-item {
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.history-item.ng-enter.ng-enter-active,
.history-item-animation.ng-leave {
	opacity: 1;
}

.history-item.ng-leave.ng-leave-active,
.history-item.ng-enter {
	opacity: 0;
}

.history-item img {
	width: 32px;
	border-radius: 100%;
}

.history-info-block {
	background: #fff;
	color: #333;
	border-bottom: 1px solid #e2e2e2;
	font-size: 12px;
	margin-left: 35px;
	padding: 15px 25px;
}

.history-info-block:after {
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fff;
	border-width: 7px;
	top: 18px;
	left: 21px;
}

.history-date {
	color: #64747d;
	font-size: 12px;
	position: absolute;
	left: -95px;
	top: 16px;
	cursor: default;
}

.history-likes-item {
	margin: 5px 0;
}

.history-likes-item a {
	font-weight: 700;
}

.history-likes-item a:hover {
	border: 0;
	border-bottom: 1px solid;
	text-decoration: none;
}

.history-likes-item i.font-icon {
	display: inline-block;
	margin-right: 5px;
	line-height: 20px;
	vertical-align: top;
}

.history-likes-item span.name {
	text-transform: uppercase;
}
