.logo {
	color: #edf0f2;
	font: 1.4em 'proxima-nova-bold', 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	padding: 9px 0 0 5px;
	text-transform: lowercase;
	text-decoration: none;
}

.logo:hover {
	text-decoration: none;
}

[data-icon]:before,
.font-icon:before {
	font-family: 'icon-font';
	content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	speak: none;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.github-icon:before {
	content: 'd';
}

.twitter-icon:before {
	content: 'b';
}

.stackoverflow-icon:before {
	content: 'a';
}

.facebook-icon:before {
	content: 'g';
}

.dribbble-icon:before {
	content: 'y';
}

.instagram-icon:before {
	content: 'z';
}

.pinterest-icon:before {
	content: 'A';
}

.bitbucket-icon:before {
	content: 'B';
}

.vimeo-icon:before {
	content: 'C';
}

.date-icon:before {
	content: 'o';
}

.full-star-icon:before {
	content: 's';
}

.settings-icon:before {
	content: 'u';
}

.big-icon {
	height: 100px;
	width: 100px;
	background-size: 90px;
}
