.logo {
	color: #1abc9c;
	font: 1.4em 'proxima-nova-bold', 'Lato', 'Helvetica', Arial, sans-serif;
	font-weight: 400;
	padding: 9px 0 0 0;
	text-transform: lowercase;
	text-decoration: none;
}

.logo:hover {
	text-decoration: none;
}

[data-icon]:before,
.font-icon:before {
	font-family: 'icon-font';
	content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	speak: none;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.github-icon:before {
	content: 'd';
}

.twitter-icon:before {
	content: 'b';
}

.stackoverflow-icon:before {
	content: 'a';
}

.facebook-icon:before {
	content: 'g';
}

.dribbble-icon:before {
	content: 'y';
}

.instagram-icon:before {
	content: 'z';
}

.pinterest-icon:before {
	content: 'A';
}

.bitbucket-icon:before {
	content: 'B';
}

.vimeo-icon:before {
	content: 'C';
}

.date-icon:before {
	content: 'o';
}

.full-star-icon:before {
	content: 's';
}

.settings-icon:before {
	content: 'u';
}

.main-icon:before {
	content: 'w';
}

.delete-icon:before {
	content: 'v';
}

.big-icon {
	height: 100px;
	width: 100px;
}

.box-icon {
	background: url(../img/box.png) center center no-repeat;
	background-size: 90px;
}

.robot-icon {
	background: url(../img/square-robot.png) center center no-repeat;
	background-size: 90px;
}

.annoyed-icon {
	background: url(../img/no-results-grey.png) center center no-repeat;
	background-size: 90px;
}

.error-icon {
	background: url(../img/ooops-robot.png) center center no-repeat;
	background-size: 180px;
}

.error-icon.big-icon {
	height: 120px;
	width: 200px;
}
