
.login-deck {
	text-align:center;
	}
	
.logo {
	height:106px;
	overflow:hidden;
	text-indent:-999px;
	background:#3a3e4c url(../img/logo.png) no-repeat center center;
	color:#fff;
	cursor:pointer;
	margin-top:0;
	
	-vendor-animation-duration: 3s;
    -vendor-animation-iteration-count: infinite;
	}
.logo-sml {
	height:48px;
	overflow:hidden;
	text-indent:-999px;
	background:#3a3e4c url(../img/logo-sm.png) no-repeat center center;
	color:#fff;
	cursor:pointer;
	margin-top:0;
	display: none;
	}

.login-deck .headline:hover {
	background:rgba(43,86,155,.8);
	}

.modal-store {
	background:#fff;
	max-width:650px;
	top:50%;
	position:absolute;
	left:50%;
	margin:-150px -315px 0;
	padding:4em;
	color:#333;
	text-align:left;
	_border-radius:5px;
	border:1px solid #ccc;
	box-shadow:0 0 0 6px rgba(88,165,230,.3);
	
	-vendor-animation-duration: 1s;
    animation-delay:1s;
	-webkit-animation-delay:1s; /* Safari and Chrome */
	}

.login-deck label {
	font-size:16px;
	}
	
.login-deck .span3 {
	width:224px;
	margin-left:0px;
	}
.login-deck .span2 {
	margin-top:22px;
	width:100px;
	}
	
.row-m {
	margin-bottom:6px;
	text-shadow:1px 0 1px #000;
	}
.row-dm {
	margin-bottom:15px;
	text-shadow:1px 0 1px #000;
	}
	
.form-login {
	overflow:hidden;
	margin:0 0 10px;
	width:260px;
	float:left;
	}
	
.or-separator {
	position:absolute;
	left:289px;
	padding-top:60px;
	height:100px;
	clear:both;
	text-align:center;
	margin:1.4em 0;
	background: url(../img/or-sep.png) repeat-y;
	}

.or {
	background:#fff;
	border-radius:60px;
	width:36px;
	height:36px;
	color:#333;
	line-height:34px;
	display:inline-block;
	border:2px solid #ccc;
	margin:0 0 0 -1px;
	
	}
.soc-login {
	width:220px;
	float:right;
	text-align:left;
	margin:0 0 0 40px;
	} 
.soc-signup,
.soc-signup:hover {
	width:142px;
	height:32px;
	display:inline-block;
	line-height:30px;
	text-decoration: none;
	color:#fff;
	padding:0 0 0 40px;
	font-size:12px;
	margin:20px 10px 1px;
	text-align:left;
	}
		
.signup-fb {
	background:url(../img/fb-signup.png) no-repeat;

	}
.signup-tw {
	background:url(../img/tw-signup.png) no-repeat;
	}
.signup-git,
.signup-git:hover {
	background:url(../img/git-signup.png) no-repeat;
	color:#000;
	}
	
	
/*Set up account*/
.setup-account {
	padding:3em 3em 2em;
	display:none;
	margin:-150px -260px 0;
	
	-vendor-animation-duration: 1s;
	}
.setup-account h2 {
	margin-bottom:1em;
	}
	
.tern-on-social {
	padding:0 .5em 0 50px;
	margin:0 0.5em;
	line-height:50px;
	font-size:20px;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	opacity:.6;
	cursor:pointer;
	float:left;
	white-space:nowrap;
	}

.git-soc {
	background:url(../img/github.png) no-repeat 0 0;
	border:1px solid #000;
	box-shadow:0 2px 0 2px #000;
	color:#000;
	}
.git-soc-on,
.git-soc:hover {
	background:#000 url(../img/github-on.png) no-repeat 0 0;
	color:#fff;
	}
.tw-soc {
	background:url(../img/twitter.png) no-repeat 0 0;
	border:1px solid #00aced;
	box-shadow:0 2px 0 2px #00aced;
	color:#00aced;
}
.tw-soc:hover,
.tw-soc-on:hover {
	background:#00aced url(../img/twitter-on.png) no-repeat 0 0;
	color:#fff;
	}

.fb-soc {
	background:url(../img/facebook.png) no-repeat 0 0;
	border:1px solid #425d9b;
	box-shadow:0 2px 0 2px #425d9b;
	color:#425d9b;
	}
.fb-soc:hover,
.fb-soc-on:hover {
	background:#425d9b url(../img/facebook-on.png) no-repeat 0 0;
	color:#fff;
	}
		
.tern-on-social:hover {
	opacity:1;
	}
	
.turn-on-s {
	margin:0 0 15px;
	font-size:14px;
	border-bottom:1px solid #eee;
	padding:0 0 8px;
	overflow:hidden;
	}
.turn-on-s input[type=checkbox]{
	float:right;
}
.turn-on-s .icon-ok {
	display:none;
	}
.turn-on-s.active span {
	color:#000;
	}
	.turn-on-s span {
		color:#ccc;
		}
.turn-on-s.active .icon-ok {
	display:inline-block;
	}
	
.ui-toggle-switch,
.start-app {
	float:right;
	}

.start-app {
	margin:8px 0 0;
	}

.likeastore-app {
	height:100%;
	}
.app {
	background:#3a3e4c;
}
.likeastore-app .menu {
	background:#3a3e4c;
	width:15%;
	min-width:150px;
	height:100%;
	float:left;
	}
.likeastore-app .logo {
	padding:1em 0 0;
	}
.menu-res {
	margin:8em 0 0;
	}
	.menu-res a {
		display:block;
		padding:0 2em 0 50px;
		line-height:42px;
		font-size:14px;
		cursor:pointer;
		text-decoration:none;
		color:#fff;
		overflow:hidden;
		border-bottom:1px solid #3a3e4c;
		border-top:1px solid #3a3e4c;
		}
	.menu-res .badge {
		float:right;
		margin:12px;
		}
	.menu-res a.current,
	.menu-res a:hover {
		color:#333;
		background-color:#e5eef2;
		border-bottom:1px solid #ccc;
		border-top:1px solid #fff;
	}

.menu-res a.current .badge-wt,
.menu-res a:hover .badge-wt {
	background:#333;
	color:#fff;
	}
		
.fb-ico {
	background:url(../img/facebook-sml.png) no-repeat 10px 46%;
	}
.tw-ico {
	background:url(../img/twitter-sml.png) no-repeat 10px 46%;
	}

.git-ico {
	background:url(../img/github-sml.png) no-repeat 10px 46%;
	}

.inbox-ico {
	background:url(../img/inbox-sml.png) no-repeat 13px 46%;
	}
.current.inbox-ico {
	background:#e5eef2 url(../img/inbox-sml-on.png) no-repeat 13px 46%;
	} 

.dashboard {
	margin-left:15%;
	padding:2em;
	background:#eee url(../img/dash-bg.png) repeat-y 0 0;
	}
	.dashboard .item {
		border:1px solid #ddd;
		padding:0.6em 0.6em 0.8em;
		cursor:pointer;
		font-size:13px;
		border-radius:2px;
		position:relative;
		min-height:50px;
		}
	.dashboard .item:hover {
		border:1px solid #2eadda;
		background-color:#e8eff2;
		}
	.dashboard .res-ico {
		position:absolute;
		right:5px;
		bottom:5px;
		width:30px;
		height:30px;
		opacity:.3;
		}
	.dashboard .item:hover .res-ico {
		opacity:.7;
		}
	.dashboard .git-wm {
		background: url(../img/github-sml.png) no-repeat 0 0;
		}
	.dashboard .facebook-wm {
		background: url(../img/facebook-sml.png) no-repeat 0 0;
		}
	.dashboard .twitter-wm {
		background: url(../img/twitter-sml.png) no-repeat 0 0;
		}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.logo-sml {
		float: left;
		width: 80px;
		margin: 18px 20px 0;	
	}
	.menu-res {
		margin: 20px 10px 0;
		float: right;
	}
	.menu-res a {
		display: inline-block;
	}
	.likeastore-app .menu {
		float: none;
		width: 100%;
		height: 80px;	
		min-width: inherit;
		overflow: hidden;
	}
	.dashboard {
		margin: 0px;
		background: #eee;
	}
	.logo {
		display: none;
	}
	.logo-sml {
		display: block;
	} 
}
 @media (max-width: 767px) { 
 	body { padding:0;}
 	.logo-sml {
		float: left;
		width: 80px;
		margin: 18px 20px 0;	
	}
	.menu-res {
		margin: 20px 10px 0;
		float: right;
	}
	.menu-res a {
		display: inline-block;
	}
	.likeastore-app .menu {
		float: none;
		width: 100%;
		height: 80px;	
		min-width: inherit;
		overflow: hidden;
	}
	.dashboard {
		margin: 0px;
		background: #eee;
	}

	.menu-res a {
		width: 30px;
		height: 30px;
		padding:0;
		border-radius: 4px;
		margin: 0 5px 0 0;
		border:1px solid rgba(255,255,255,.2);
	}
	.current.inbox-ico,.inbox-ico { background-position: 0 40%;}
	.current.ft-ico, .fb-ico { background-position: 0 40%;}
	.current.tw-ico, .tw-ico { background-position: 0 40%;}
	.current.git-ico, .git-ico { background-position: 0 40%;}
	.logo {
		display: none;
	}
	.logo-sml {
		display: block;
	} 
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body { padding:0;}
	.logo-sml {
		float: left;
		width: 80px;
		margin: 18px 20px 0;	
	}
	.menu-res {
		margin: 20px 10px 0;
		float: right;
	}
	.menu-res a {
		display: inline-block;
	}
	.likeastore-app .menu {
		float: none;
		width: 100%;
		height: 80px;	
		min-width: inherit;
		overflow: hidden;
	}
	.dashboard {
		margin: 0px;
		background: #eee;
	}

	.menu-res a {
		width: 30px;
		height: 30px;
		padding:0;
		border-radius: 4px;
		margin: 0 5px 0 0;
		border:1px solid rgba(255,255,255,.2);
	}
	.current.inbox-ico,.inbox-ico { background-position: 0 40%;}
	.current.ft-ico, .fb-ico { background-position: 0 40%;}
	.current.tw-ico, .tw-ico { background-position: 0 40%;}
	.current.git-ico, .git-ico { background-position: 0 40%;}
	.logo {
		display: none;
	}
	.logo-sml {
		display: block;
	} 

}

	

	
