@media (max-width: 2000px) and (min-width: 1801px) {
	.dash-item {
		width: 31.6%;
	}

	.show-more {
		width: 98.5%;
	}
}

@media (max-width: 1800px) and (min-width: 1101px) {
	.dash-item {
		width: 31%;
	}

	.dash-item:nth-child(3n+3) {
		margin-right: 0;
	}
}

@media (max-width: 1800px) and (min-width: 1400px) {
	.main-dashdoard {
		margin-left: 240px;
	}

	.show-more {
		width: 98.4%;
	}
}

@media (max-width: 1400px) and (min-width: 1300px) {
	.main-dashdoard {
		margin-left: 238px;
	}
}

@media (max-width: 1400px) and (min-width: 1100px) {
	.dash-item .desc {
		width: 65%;
	}

	.dash-item {
		margin-right: 25px;
	}
}

@media (max-width: 1100px) and (min-width: 801px) {
	.main-dashdoard {
		margin-left: 240px;
	}

	.dash-item {
		width: 46%;
		margin-right: 35px;
	}

	.dash-item .desc {
		width: 62%;
	}

	.dash-item:nth-child(2n) {
		margin-right: 0;
	}

	.show-more {
		width: 97%;
	}
}

@media (max-width: 800px) and (min-width: 640px) {
	.dashboard-nav {
		width: 190px;
	}

	.search-input {
		width: 132px;
	}

	.promo-line {
		width: 140px;
	}

	.main-dashdoard {
		margin-left: 200px;
	}

	.show-more {
		width: 98.4%;
	}
}

@media (max-width: 800px) {
	.dash-item {
		width: 98%;
		margin-right: 0;
	}
}

@media (max-width: 700px) {
	.settings-page {
		width: 100%;
		padding: 0 20px 30px;
	}

	.networks-wrap,
	.userinfo-wrap {
		width: 92%;
	}
}

@media (max-width: 640px) {
	.main-header {
		padding: 0 9px;
	}

	.dashboard-nav {
		width: 100%;
		height: 50px;
		margin-bottom: 35px;
	}

	.dashboard-nav.sticky {
		position: relative;
	}

	.search-bar-wrap {
		float: left;
	}

	.search-input {
		margin: 5px;
		padding-left: 30px;
		width: 150px;
	}

	.search-icon {
		top: 14px;
		left: 12px;
	}

	.hover-background {
		top: 5px;
	}

	.networks-menu {
		float: right;
		margin-top: 8px;
		width: 220px;
	}

	.networks-menu li {
		display: inline-block;
		padding: 0;
	}

	.networks-menu .menu-title {
		font-size: 0;
		padding: 5px 10px;
	}

	.networks-menu .menu-subtitle,
	.networks-menu .new-notifier {
		display: none;
	}

	.menu-title .icon {
		margin-right: 0;
		font-size: 20px;
	}

	.main-dashdoard {
		margin-left: 15px;
	}

	.dash-item .desc {
		width: 62%;
	}

	.promo-line {
		display: none;
	}

	.network .desc {
		font-size: 11px;
	}
}

@media (max-width: 420px) {
	.main-dashdoard {
		margin-left: 10px;
	}

	.search-input {
		width: 105px;
	}

	.networks-wrap,
	.userinfo-wrap {
		width: 89%;
	}

	.network .toggle {
		right: 10px;
	}
}
