@media (max-width: 2600px) and (min-width: 1801px) {
	.main-dashdoard {
		margin-left: 245px;
	}

	.dash-item {
		width: 31.4%;
		height: 230px;
	}

	.item-bg-info {
		padding-top: 197px;
	}

	.show-more {
		width: 98%;
	}
}

@media (max-width: 1800px) and (min-width: 1101px) {
	.dash-item {
		width: 31%;
	}

	.dash-item:nth-child(3n+3) {
		margin-right: 0;
	}
}

@media (max-width: 1800px) and (min-width: 1400px) {
	.main-dashdoard {
		margin-left: 240px;
	}

	.show-more {
		width: 98.4%;
	}
}

@media (max-width: 1400px) and (min-width: 1300px) {
	.main-dashdoard {
		margin-left: 238px;
	}
}

@media (max-width: 1400px) and (min-width: 1100px) {
	.dash-item .desc {
		width: 65%;
	}

	.dash-item {
		margin-right: 25px;
	}
}

@media (max-width: 1100px) {
	.icon-loader {
		margin-left: -30px;
	}
}

@media (max-width: 1100px) and (min-width: 801px) {
	.main-dashdoard {
		margin-left: 240px;
	}

	.dash-item {
		width: 46%;
		margin-right: 35px;
	}

	.dash-item .desc {
		width: 62%;
	}

	.dash-item:nth-child(2n) {
		margin-right: 0;
	}

	.show-more {
		width: 97%;
	}
}

@media (max-width: 800px) and (min-width: 640px) {
	.dashboard-nav {
		width: 190px;
	}

	.search-input {
		width: 132px;
	}

	.promo-line {
		width: 170px;
	}

	.main-dashdoard {
		margin-left: 200px;
	}

	.show-more {
		width: 98.4%;
	}
}

@media (max-width: 800px) {
	.dash-item {
		width: 98%;
		margin-right: 0;
	}
}

@media (max-width: 700px) {
	.settings-page {
		width: 500px;
	}

	.networks-wrap,
	.userinfo-wrap,
	.danger-wrap {
		width: 100%;
	}

	.danger-wrap .info-item {
		float: none;
		font-size: 11px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
	}

	.danger-wrap .btn {
		display: block;
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 640px) {
	.main-header {
		padding: 0 9px;
	}

	.network-error {
		font-size: 13px !important;
	}

	.dashboard-nav {
		width: 100%;
		height: 50px;
		margin-bottom: 35px;
		overflow: visible;
	}

	.more-for-mobile {
		display: block;
	}

	.search-bar-wrap {
		float: left;
	}

	.search-input {
		background: transparent;
		margin: 5px;
		padding-left: 35px;
	}

	.search-icon {
		top: 14px;
		left: 12px;
	}

	.hover-background {
		top: 5px;
	}

	.networks-menu.folders-list .menu-subtitle,
	.networks-menu.folders-list .new-notifier,
	.promo-line {
		display: none;
	}

	.networks-menu.folders-list {
		float: right;
		margin: 8px 6px 0 0;
	}

	.networks-menu.folders-list li {
		display: inline-block;
		overflow: visible;
	}

	.networks-menu .inbox-counter {
		font-size: 8px;
		line-height: 11px;
		min-width: 8px;
		height: 11px;
		top: 25px;
		right: 2px;
		left: 2px;
	}

	.networks-menu.folders-list .menu-title {
		font-size: 0;
		height: 22px;
		padding: 6px 10px 5px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}

	.networks-menu.actual-networks-list {
		background: #1f282d;
		width: 300px;
		height: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		padding-bottom: 50px;
		overflow-y: scroll;
		z-index: 1000;
	}

	.networks-menu.actual-networks-list li {
		border-top: 1px solid #343434;
	}

	.networks-menu.actual-networks-list .menu-subtitle {
		padding: 20px 20px 10px;
	}

	.networks-menu.actual-networks-list .add-network-btn {
		margin-top: 15px;
	}

	.menu-title .icon {
		margin-right: 0;
		font-size: 20px;
	}

	.main-dashdoard {
		margin-left: 15px;
	}

	.dash-item .desc {
		width: 62%;
	}

	.network .desc {
		font-size: 11px;
	}
}

@media (max-width: 640px) and (orientation: landscape) {
	.network-error {
		font-size: 7px !important;
	}
}

@media (max-width: 440px) {
	.account-info .account-name {
		max-width: 120px;
		height: 35px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.main-dashdoard {
		margin-left: 0;
	}

	.settings-page {
		width: 290px;
	}

	.networks-menu {
		margin-top: 8px;
	}

	.search-input {
		width: 100px;
	}

	.folders-list .menu-title {
		padding: 3px 7px;
	}

	.networks-menu .inbox-counter {
		top: 22px;
	}

	.menu-title .icon {
		font-size: 16px;
		line-height: 24px;
	}

	.dash-item {
		width: 99.3%;
	}

	.dash-item img {
		width: 50px;
		height: 50px;
	}

	.empty-results h2 {
		font-size: 24px;
	}

	.network .toggle {
		right: 10px;
	}

	.expired-token-notifier {
		top: 40px;
		left: 10px !important;
	}
}
