

.narrow {
  width: 750px;
  margin: 30px auto;
}

.prebar {
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-top: -50px;
}

.profile {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.profile-user-info {
  background: #fff;
  padding: 35px 12px 25px;
  margin: 0 auto;
  width: 1020px;
}

.profile-user-info .u-avatar {
  background: #f8f9fa;
  border: 1px solid #eee;
  padding: 4px;
  margin-right: 12px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
}

.profile-user-info .name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 5px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.profile-user-info .desc {
  color: #999;
  margin: 0 0 5px;
}

.coll-card {
  background: #fff;
  margin: 0 12px 20px;
  float: left;
  position: relative;
  width: 231px;
  height: 254px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.coll-grid {
  max-width: 1020px;
  margin: 45px auto;
}

.coll-card.create-coll-card {
  background: rgba(255,255,255, .2);
  color: #999;
  border: 2px dashed #bbb;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 1px #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.coll-card.create-coll-card:hover {
  color: #777;
  border-color: #999;
}

.coll-card.create-coll-card .icon {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -30px;
}

.coll-card.create-coll-card .create-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
}

.profile-info {
  padding: 18px 35px;
}

.profile-info .name:hover {
  color: #f03e56;
  cursor: pointer;
}

.profile-me {
  color: #fff;
  background: #5da8e0;
  font-size: 10px;
  width: 100px;
  margin: 10px 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  height: 21px;
  line-height: 21px;
  letter-spacing: .6px;
  cursor: default;
  border-radius: 2px;
}

.profile-action {
  margin: 8px 0 0 20px;
  position: relative;
  overflow: hidden;
  width: 90px;
  height: 21px;
}

.profile-info .btn {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.profile-lists .coll-item.ng-enter.ng-enter-active,
.profile-lists .coll-item-animation.ng-leave {
  opacity: 1;
}

.profile-lists .coll-item.ng-leave.ng-leave-active,
.profile-lists .coll-item.ng-enter {
  opacity: 0;
}

.profile-stat {
  text-align: center;
}

.profile-stat .stat-block {
  display: inline-block;
  border-left: 1px solid #eee;
  padding: 25px 0;
  margin-left: -3px;
  width: 110px;
  position: relative;
  cursor: default;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-stat .stat-block:hover,
.profile-stat .stat-block.active {
  background: rgba(0,0,0,.02);
}

.profile-stat .stat-count {
  color: #f03e56;
  font: 24px 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}

.profile-stat .stat-title {
  color: #999;
  font-size: 13px;
  letter-spacing: .3px;
  margin-top: 3px;
}

.profile-lists {
  margin: 30px auto;
  padding-bottom: 60px;
}

.profile-lists .list-title {
  color: #999;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .6px;
  margin-bottom: 15px;
  text-indent: 10px;
  text-transform: uppercase;
}

.profile-lists .profile-me,
.profile-lists .profile-action {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0;
}

.profile-lists .profile-action {
  height: 22px;
  position: relative;
  z-index: 11;
}

.profile-lists .coll-item {
  margin-bottom: 20px;
  position: relative;
}

.profile-lists .coll-book {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 15px 35px;
  width: 100%;
  min-height: 55px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile-lists .coll-info {
  width: 80%;
}

.profile-lists .coll-book .small-btn:hover {
  opacity: .9;
}

.profile-lists .coll-book .title {
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .3px;
  vertical-align: top;
  margin: 2px 0 10px;
}

.profile-lists .coll-book .desc {
  font-size: 13px;
  color: #666;
  padding-bottom: 10px;
  letter-spacing: .3px;
}

.profile-lists .coll-book .stat {
  color: #f03e56;
  font-size: 11px;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  z-index: 11;
  cursor: default;
}

.profile-lists .coll-book .stat span {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}

.profile-lists .coll-book .stat .icon {
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  margin: 1px 3px 0 0;
}

.profile-lists .coll-book .author {
  margin-bottom: 10px;
  position: relative;
  z-index: 11;
}

.profile-lists .coll-book .author .avatar {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin: 0 3px 0 0;
  vertical-align: top;
}

.profile-lists .coll-book .author .curated {
  display: inline-block;
  color: #999;
  font-size: 12px;
  font-weight: 600;
  vertical-align: top;
}

.profile-lists .coll-book .stat .tooltip {
  padding: 2px 12px;
  bottom: -25px;
}

.profile-lists .coll-book .stat .tooltip:after {
  bottom: 100%;
  border: solid transparent;
  content: '';
  width: 0;
  height: 0;
  margin: 0 auto;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(31, 33, 47, 0.96);
  border-width: 5px;
  right: 0;
  left: 0;
  top: -10px;
  z-index: -1;
}

.backlists li {
  background: #fff;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
  overflow: hidden;
  height: 3px;
  border-radius: 0 0 2px 2px;
}

.backlists li:first-child {
  width: 99.6%;
}

.backlists li:nth-child(1) {
  width: 99.2%;
}

.backlists li:nth-child(2) {
  width: 98.8%;
}

@media (max-width: 750px) {
  .narrow {
    width: 600px;
  }

  .profile-info .name {
    width: 230px;
  }
}

@media (max-width: 640px) {
  .narrow {
    width: 90%;
  }

  .profile-info {
    padding: 20px 15px;
  }

  .profile-info .avatar {
    width: 48px;
    height: 48px;
  }

  .profile-info .name {
    font-size: 14px;
    width: 150px;
  }

  .profile-stat .stat-block {
    width: 65px;
  }

  .profile-stat .stat-count {
    font-size: 20px;
  }

  .profile-stat .stat-title {
    font-size: 11px;
  }

  .profile-lists .coll-info {
    width: 70%;
  }
}

@media (max-width: 440px) {
  .profile-page .profile-info {
    float: none;
    height: 70px;
  }

  .profile-page .profile-stat {
    border-top: 1px solid #eee;
    float: none;
    margin-top: 20px;
  }

  .profile-stat .stat-block {
    width: 50%;
    padding: 15px 0;
  }

  .profile-lists .profile-follow-item {
    padding: 8px 15px;
  }

  .profile-lists .coll-info {
    width: 50%;
  }

  .profile-lists .coll-book .author .curated span {
    display: none;
  }
}