

.settings {
  background: #fff;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  width: 680px;
  margin: 30px auto 50px;
  padding: 25px 35px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
}

.settings .u-avatar {
  border: 2px solid #fff;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  width: 60px;
  height: 60px;
  margin: -54px auto 20px;
  cursor: default;
  position: relative;
  border-radius: 32px;
}

.settings .u-avatar .tooltip {
  width: 100px;
  bottom: 60px;
}

.settings .u-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.settings .u-text {
  color: #666;
  text-align: center;
}

.settings .tabs {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  width: 100%;
  margin: 45px 0 0;
}

.settings .tabs .tab {
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #aaa;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  letter-spacing: .3px;
  margin: 0 16px -1px 0;
  padding-bottom: 9px;
  vertical-align: top;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.settings .tabs .tab:hover {
  color: #555;
}

.settings .tabs .tab.active {
  color: #555;
  border-color: #f03e56;
  font-weight: bold;
}

.settings .tabs a.tab:hover {
  text-decoration: none;
}

.settings .right-block-wrap {
  width: 100%;
}

.settings .network,
.settings .profile-item {
  background: #fff;
  width: 100%;
  padding: 22px 11px;
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, .06);
  position: relative;
}

.settings .network.gist {
  border-style: dashed;
}

.settings .network:hover {
  background: #fdfdfd;
}

.settings .network:first-child,
.settings .profile-item:first-child,
.settings .network.noborder {
  border: 0;
}

.settings .right-block-wrap .info {
  display: inline-block;
}

.settings .right-block-wrap .title {
  color: #444;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0 0;
  letter-spacing: .3px;
  cursor: default;
}

.settings .right-block-wrap .desc {
  color: #999;
  font-size: 13px;
  margin-top: 5px;
  cursor: default;
}

.settings .right-block-wrap .network-icon {
  display: inline-block;
  background-color: rgba(157, 166, 176, .2);
  color: #fff;
  font-size: 20px;
  float: left;
  width: 40px;
  height: 39px;
  line-height: 44px;
  text-align: center;
  margin-right: 14px;
  vertical-align: middle;
  position: relative;
  border-radius: 100%;
}

.settings .right-block-wrap .network-icon.pocket-icon {
  line-height: 46px;
}

.settings .profile-item .fld {
  background: transparent;
  border: 0;
  color: #999;
  font-size: 13px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: .3px;
  padding: 0;
  margin: 10px 0 0;
}

.settings .profile .details {
  max-width: 90%;
}

.settings .profile .title {
  margin: 0;
}

.settings .profile .desc {
  font-size: 13px;
  line-height: 17px;
  margin-top: 10px;
}

.settings .profile .desc.long {
  width: 90%;
}

.settings .danger-wrap .delete-link {
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  text-decoration: underline;
}

.settings .danger-wrap .delete-link:hover {
  color: #56c7aa;
  text-decoration: none;
}

.settings .temp-disabled-icon {
  color: #f03e56;
  font-size: 18px;
  position: absolute;
  top: 19px;
  left: 6px;
  z-index: 1;
}

.settings .profile-item .edit-profile-btn {
  display: inline-block;
  color: #b5b5b5;
  font-size: 16px;
  height: 16px;
  margin-top: 7px;
}

.settings .profile-item .edit-profile-btn:hover {
  color: #666;
}

.settings .profile-item .edit-profile-btn .tooltip {
  bottom: 20px;
}

.settings .profile-edit {
  margin-top: 10px;
}

.settings .profile-edit .field {
  display: block;
  margin-bottom: 10px;
  width: 460px;
}

.settings .profile-edit .button {
  margin-right: 5px;
}

/* Toggle network checkboxes */

.toggle {
  position: relative;
  width: 72px;
  height: 32px;
  margin-top: 3px;
}

.toggle.disabled {
  opacity: .6;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.toggle input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.toggle .btn {
  display: block;
  background: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  z-index: 4;
  border-radius: 100%;
  -webkit-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}

.toggle.on .btn {
  left: 41px;
}

.toggle .texts {
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 9px;
  width: 100%;
  z-index: 2;
  letter-spacing: 1px;
  text-shadow: 0 -1px rgba(0, 0, 0, .11);
}

.toggle .texts:before {
  visibility: hidden;
  opacity: 0;
  content: attr(data-on);
  position: absolute;
  left: 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle .texts:after {
  visibility: visible;
  opacity: 1;
  content: attr(data-off);
  position: absolute;
  right: 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle.on .texts:before {
  visibility: visible;
  opacity: 1;
}

.toggle.on .texts:after {
  visibility: hidden;
  opacity: 0;
}

.toggle .bg {
  display: block;
  background: #f56557;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -webkit-transition: left .25s ease-in;
  transition: left .25s ease-in;
}

.toggle.on .bg {
  background: #56c7aa;
  background: rgba(66, 207, 176, 0.96);
}

/* Block networks overlay */

.block-networks-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .92);
  z-index: 1000;
  text-align: center;
}

.block-networks-overlay.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.block-networks-content {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  height: 355px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -190px;
}

.block-networks-content.thanks {
  height: 180px;
  margin-top: -90px;
}

.block-networks-content.thanks .btn {
  width: 180px;
}

.block-networks-content h1 {
  color: #444;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 35px;
}

.block-networks-content .heart-image {
  width: 28px;
  margin-bottom: 18px;
}

.block-message {
  color: #666;
  font-size: 16px;
  width: 68%;
  max-width: 515px;
  margin: 0 auto 50px;
  line-height: 24px;
  letter-spacing: .3px;
}

.block-message b {
  color: #ff3992;
}

.block-networks-overlay .btn {
  color: #fff;
  font: 13px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  border: 1px solid rgba(0, 0, 0, .1);
  width: 215px;
  height: 50px;
  line-height: 48px;
  margin: 0 8px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: none;
  text-shadow: 0 -1px rgba(0, 0, 0, .11);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.block-networks-overlay .btn:hover {
  opacity: 1;
}

.block-networks-overlay .btn.tw-btn {
  background: #33c6f4;
}

.block-networks-overlay .btn.fb-btn {
  background: #3c599f;
}

.block-networks-overlay .btn .icon {
  display: inline-block;
  font-size: 22px;
  vertical-align: top;
  margin: 3px 5px 0 0;
}

.block-networks-overlay .btn.fb-btn .icon {
  margin-right: 2px;
}

.block-networks-close {
  display: block;
  font-size: 13px;
  color: #999;
  margin-top: 50px;
  text-decoration: underline;
  letter-spacing: .3px;
}

.block-networks-close:hover {
  color: #f03e56;
  text-decoration: none;
}

@media (max-width: 680px) {
  .settings {
    width: 95%;
  }

  .settings .profile-edit .field {
    width: 300px;
  }
}

@media (max-width: 470px) {
  .block-networks-overlay .btn.fb-btn {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .settings {
    padding: 25px 20px;
  }

  .settings .profile-edit .field {
    width: 100%;
  }

  .settings .right-block-wrap .desc,
  .settings .profile .danger-wrap .desc {
    font-size: 12px;
  }

  .settings .tabs .tab {
    font-size: 12px;
  }
}