.sign-up-ls {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	width: 680px;
	margin:-200px -350px;
	border: 1px solid #e5e5e5;
}

.sign-up-ls h3 {
	background: #eee;
	border-bottom: 1px solid #e5e5e5;
	line-height: 54px;
	padding:0 30px;
	color: #555;
} 

.signup-form {
	width: 290px;
	background: #fff;
	margin:40px 40px 20px 30px;
}

.signup-form .field-group {
	margin: 0 0 25px;
}

.signup-form input {
	width: 255px;
	height: 38px; /* due to different heigt in FF */
}

.signup-form button[type=submit] {
	float: right;
	margin: 0;
	letter-spacing: 1px;
}

/*Social buttons*/
.social-autorize {
	width: 280px;
	min-height: 240px;
	padding:40px 20px 20px;
	text-align: center;
	background: #f8f8f8;
}

.btn-s-big {
	min-width: 240px;
	margin:0 0 30px;
	text-align: left;
	text-transform: none;
	opacity: .8;
}
.btn-s-big:hover {
	opacity: 1;
	outline: none;
}

.btn-s-big i {
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin:0 10px 0 0;
	border-right: 1px solid rgba(255,255,255,.2);
}

.btn-git {
	background: #b2b2b2;
}

.btn-tw {
	background: #2589c5;
}

.btn-fb {
	background: #3b5999;
}