

.suggest-page {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.suggest-people-wrap {
  background: #fff;
  width: 600px;
  margin: 60px auto;
  padding: 30px 50px 50px;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
}

.suggest-people-wrap .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suggest-people-wrap .discover-empty-icon {
  margin: 0 auto 20px;
}

.suggest-people-wrap .desc {
  color: #999;
  font-size: 15px;
  line-height: 20px;
}

.suggest-page .fld {
  background: #eee;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.suggest-page .lazy-autocomplete-form {
  width: 80%;
  margin: 35px auto;
}

.suggest-page .lazy-autocomplete {
  top: 38px;
}

.suggest-page .hr {
  margin: 45px auto 35px;
}

.person-item {
  display: inline-block;
  margin: 0 10px 25px;
  width: 80px;
  vertical-align: top;
}

.person-item .avatar {
  border: 1px solid #ddd;
  width: 52px;
  height: 52px;
  padding: 3px;
  cursor: pointer;
  border-radius: 100%;
}

.person-item .name {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 10px -5px;
  width: 90px;
  height: 16px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.person-item:hover .name {
  color: #f03e56;
}

/* Lazy autocomplete form */

.lazy-autocomplete-form {
  position: relative;
}

.lazy-autocomplete {
  position: absolute;
  width: 100%;
}

.lazy-autocomplete .lazy-autocomplete-item {
  background: #fff;
  border: 1px solid #eee;
  border-top: 0;
  padding: 5px 15px;
  height: 40px;
  overflow: hidden;
  line-height: 1;
  vertical-align: top;
  text-align: left;
  position: relative;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.lazy-autocomplete .lazy-autocomplete-item.last {
  border-radius: 0 0 3px 3px;
}

.lazy-autocomplete .lazy-autocomplete-item:hover .name {
  color: #f03e56;
}

.lazy-autocomplete .lazy-autocomplete-item .avatar {
  width: 26px;
  height: 26px;
  margin-top: 2px;
  border-radius: 100%;
}

.lazy-autocomplete .lazy-autocomplete-item .name {
  display: inline-block;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  text-indent: 5px;
  width: 60%;
}

@media (max-width: 600px) {
  .suggest-people-wrap {
    width: 90%;
    padding: 30px 20px 50px;
  }
}