/*
 * Styles related to slick grid (ex. feed.ejs)
 */

:root {
	var-red: #df3f3f;
	var-grey: #eeeef0;
	var-darkgrey: #64747d;
	var-green: #57ad68;
	var-navy: #56c7aa;
	var-navy-opacity: rgba(66, 207, 176, 0.96);
	var-orange: #fc523c;
	var-tortoise: #1abc9c;
	var-yellow: #f1c40f;
	var-black: #1f282d;
	var-darkblue: #272a33;
	var-pink: #f03e56;
	var-blue: #5da8e0;
	var-title-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	var-text-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.deckgrid[deckgrid]::before {
	/* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
	content: '5 .column.size-1-5';
	font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
	visibility: hidden;
}

.deckgrid .column {
	float: left;
}

.deckgrid .size-1-5 {
	width: 240px;
	margin-right: 20px;
}

.deckgrid .size-1-5:last-child {
	margin-right: 0;
}

.feed.dashboard,
.feed.top-bar {
	max-width: 1280px;
}

.card-item {
	background: #fff;
	width: 100%;
	margin: 0 0 20px;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
	transition: all .3s ease-in;
}

.card-item.ng-enter.ng-enter-active,
.card-item-animation.ng-leave {
	opacity: 1;
}

.card-item.ng-leave.ng-leave-active,
.card-item.ng-enter {
	opacity: 0;
}

.card-item .card-cover {
	overflow: hidden;
	background: url('/img/preloader-circle.gif') no-repeat center transparent;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
	min-height: 100px;
	text-align: center;
	position: relative;
}

.card-item .card-cover img {
	max-width: 100%;
	min-height: 100px;
	height: auto;
	vertical-align: top;
	border-radius: 3px 3px 0 0;
}

.card-item .card-cover-overlay {
	opacity: 0;
	visibility: hidden;
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	border-radius: 3px 3px 0 0;
	transition: all .3s;
}

.card-item:hover .card-cover-overlay {
	visibility: visible;
	opacity: .2;
}

.card-item .card-meta {
	padding: 12px 14px 13px;
	font-family: var(text-font);
}

.card-item .card-meta .title {
	color: #444;
	font-size: 13px;
	font-weight: bold;
	max-height: 64px;
	overflow: hidden;
	margin-bottom: 12px;
}

.card-item .card-meta .title.bottom-space {
	margin-bottom: 5px !important;
}

.card-item .card-meta .description {
	color: #444;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 12px;
}

.card-item .card-meta .description a {
	color: #666;
	font-weight: bold;
	position: relative;
	z-index: 11;
}

.card-item .card-meta .from {
	color: #aaa;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}

.card-item .card-meta .from .type {
	text-transform: capitalize;
}

.card-item .card-collection {
	font-size: 11px;
	font-family: var(text-font);
	font-weight: bold;
	border-top: 1px solid #e7e7e7;
	line-height: 15px;
	padding: 10px 12px;
	position: relative;
	z-index: 11;
	border-radius: 0 0 3px 3px;
	transition: all .1s ease-in;
}

.card-item .card-collection:hover {
	background: #f9f9f9;
}

.card-item .card-collection .c-avatar {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 7px;
	border-radius: 2px;
}

.card-item .card-collection .c-title {
	display: block;
	color: #717171;
}

.card-item .card-collection .c-owner {
	cursor: default;
}

.card-item .card-collection .c-owner,
.card-item .card-collection .c-owner a {
	color: #b5b5b5;
}

.card-item .card-collection:hover .c-owner,
.card-item .card-collection:hover .c-owner a {
	color: #999;
}

.card-item .icon {
	display: inline-block;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	vertical-align: top;
	width: 18px;
	height: 18px;
	text-align: center;
	margin-right: 3px;
	border-radius: 2px;
}


