.grid-1140-wrap {
	max-width: 1140px;
	margin: 0 auto;
}

.grid-1020-wrap {
	max-width: 1020px;
	margin: 0 auto;
}

.prebar {
	background: #fff;
	border-bottom: 1px solid #ddd;
	width: 100%;
	margin-top: -50px;
}

.prebar-fixed {
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

@media (max-width: 1160px) {
	.grid-1140-wrap {
		width: 920px;
	}
}

@media (max-width: 1020px) {
	.grid-1020-wrap {
		width: 765px;
	}
}

@media (max-width: 920px) {
	.grid-1140-wrap {
		width: 700px;
	}
}

@media (max-width: 765px) {
	.grid-1020-wrap {
		width: 510px;
	}
}

@media (max-width: 700px) {
	.grid-1140-wrap {
		width: 90%;
	}
}

@media (max-width: 510px) {
	.grid-1020-wrap {
		width: 90%;
	}
}
