.prebar {
	background: #fff;
	border-bottom: 1px solid #ddd;
	width: 100%;
	margin-top: -50px;
}

.grid-1020-wrap {
	max-width: 1020px;
	margin: 0 auto;
}

@media (max-width: 1020px) {
	.grid-1020-wrap {
		width: 765px;
	}
}

@media (max-width: 765px) {
	.grid-1020-wrap {
		width: 510px;
	}
}

@media (max-width: 510px) {
	.grid-1020-wrap {
		width: 90%;
	}
}
