:root {
	var-red: #df3f3f;
	var-grey: #eeeef0;
	var-darkgrey: #64747d;
	var-green: #57ad68;
	var-navy: #56c7aa;
	var-tortoise: #1abc9c;
	var-yellow: #f1c40f;
	var-black: #1f282d;
	var-darkblue: #272a33;
	var-pink: #f03e56;
	var-blue: #5da8e0;
	var-title-font: 'Montserrat', 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	var-text-font: 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}

.profile-page {
	width: 800px;
	margin: 30px auto;
}

.profile-user {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile-info {
	padding: 18px 35px;
}

.profile-info .avatar {
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.profile-info .name {
	font: 22px var(title-font);
	margin: 0 0 3px 20px;
	width: 100%;
}

.profile-me {
	color: #fff;
	background: var(blue);
	font-size: 10px;
	width: 100px;
	margin: 10px 0 0 20px;
	text-align: center;
	text-transform: uppercase;
	height: 21px;
	line-height: 21px;
	letter-spacing: .6px;
	cursor: default;
	border-radius: 2px;
}

.profile-action {
	margin: 8px 0 0 20px;
	position: relative;
	overflow: hidden;
	width: 90px;
	height: 21px;
}

.profile-info .btn {
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s ease-in;
}

.btn.ng-enter.ng-enter-active,
.btn-animation.ng-leave {
	opacity: 1;
}

.btn.ng-leave.ng-leave-active,
.btn.ng-enter {
	opacity: 0;
}

.profile-stat {
	text-align: center;
}

.profile-stat .stat-block {
	display: inline-block;
	border-left: 1px solid #eee;
	padding: 25px 0;
	margin-left: -3px;
	width: 110px;
	position: relative;
	cursor: default;
	vertical-align: top;
	user-select: none;
}

.profile-stat .stat-block:hover,
.profile-stat .stat-block.active {
	background: rgba(0,0,0,.02);
}

.profile-stat .stat-count {
	color: var(pink);
	font: 24px var(title-font);
}

.profile-stat .stat-title {
	color: #999;
	font-size: 13px;
	letter-spacing: .3px;
	margin-top: 3px;
}

.profile-lists {
	margin: 30px auto;
	padding-bottom: 60px;
}

.profile-lists .profile-follow-item {
	background: #fff;
	border-bottom: 1px solid #eee;
	padding: 8px 35px;
	width: 100%;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile-lists .profile-follow-item:first-child {
	border-radius: 3px 3px 0 0;
}

.profile-lists .profile-follow-item.last {
	border-bottom: 0;
	border-radius: 0 0 3px 3px;
}

.profile-lists .avatar {
	display: inline-block;
	width: 28px;
	height: 28px;
	vertical-align: top;
	margin: 3px 15px 0 0;
	border-radius: 100%;
}

.profile-lists .name {
	display: inline-block;
	color: #666;
	font-size: 14px;
	letter-spacing: .6px;
	vertical-align: top;
	margin: 7px 0 0;
	width: 45%;
}

.profile-lists .profile-me,
.profile-lists .profile-action {
	display: inline-block;
	vertical-align: top;
}

.profile-lists .profile-me {
	margin: 7px 0 0;
}

.profile-lists .profile-action {
	margin: 6px 0 0;
	height: 22px;
}

.profile-lists .list-title {
	color: #999;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: .6px;
	margin-bottom: 10px;
	text-indent: 20px;
	text-transform: uppercase;
}

.profile-lists .empty-results {
	padding-top: 25px;
}



