:root {
	var-red: #df3f3f;
	var-grey: #eeeef0;
	var-darkgrey: #64747d;
	var-green: #57ad68;
	var-navy: #56c7aa;
	var-navy-opacity: rgba(66, 207, 176, 0.96);
	var-orange: #fc523c;
	var-tortoise: #1abc9c;
	var-yellow: #f1c40f;
	var-black: #1f282d;
	var-darkblue: #272a33;
	var-pink: #f03e56;
	var-blue: #5da8e0;
	var-text-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.profile {
	font-family: var(text-font);
}

.profile-meta {
	max-width: 720px;
}

.profile-user-info {
	background: #fff;
	padding: 30px 12px 0;
}

.profile-user-info .u-avatar {
	background: #f8f9fa;
	border: 1px solid #eee;
	padding: 4px;
	margin-right: 12px;
	width: 72px;
	height: 72px;
	border-radius: 100%;
}

.profile-user-info .name {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 8px;
	transition: color .2s;
}

.profile-user-info .name.bottom-space {
	margin-bottom: 12px !important;
}

.profile-user-info .desc {
	color: #999;
	margin: 0 0 12px;
	font-size: 14px;
	line-height: 18px
}

.profile-user-info .info-line a {
	color: #999;
}

.profile-user-info .info-line {
	display: inline-block;
	vertical-align: top;
	color: #999;
	font-size: 13px;
	margin-right: 8px;
	float: left;
	cursor: default;
}

.profile-user-info .info-line .icon {
	display: inline-block;
	color: #999;
	font-size: 14px;
	height: 14px;
	margin-right: 5px;
	vertical-align: top;
}

.profile-user-info .info-line.location .icon {
	margin-right: 4px;
}

.profile .private-colls {
	border-top: 1px solid #ddd;
	background: rgba(0, 0, 0, 0.03);
	height: 100%;
}

.profile .private-colls .private-bar {
	font-size: 14px;
	color: #888;
	max-width: 1020px;
	padding: 28px 8px 20px;
	margin: 0 auto;
}

.profile .private-colls .private-bar h2 {
	display: inline-block;
	color: #666;
	font-size: 16px;
	font-weight: bold;
}

.profile .private-colls .private-bar h2 .icon {
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
}

.profile .private-colls .coll-grid {
	margin-top: 8px;
}

.profile .tabs {
	font-size: 14px;
	padding: 5px 0 0;
	width: 100%;
	text-align: right;
	clear: both;
}

.profile .tabs .tab {
	display: inline-block;
	border-bottom: 2px solid transparent;
	color: #aaa;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
	letter-spacing: .3px;
	margin: 0 0 -1px 16px;
	padding-bottom: 8px;
	vertical-align: top;
	transition: all .3s;
}

.profile .tabs .tab.active {
	color: #555;
	border-color: #f03e56;
	font-weight: bold;
}

.profile .tabs .tab:hover {
	text-decoration: none;
}

@media (max-width: 765px) {
	.profile-user-info {
		text-align: center;
	}

	.profile-user-info .u-avatar {
		float: none !important;
		margin: 0 auto 8px;
	}

	.profile-user-info .info-line {
		float: none !important;
	}

	.profile-meta {
		width: 100%;
	}

	.profile .tabs {
		padding: 25px 0 0;
		text-align: center;
	}

	.profile .tabs .tab {
		margin: 0 10px -1px;
	}
}
