:root {
	var-red: #df3f3f;
	var-grey: #eeeef0;
	var-darkgrey: #64747d;
	var-green: #57ad68;
	var-navy: #56c7aa;
	var-tortoise: #1abc9c;
	var-yellow: #f1c40f;
	var-black: #1f282d;
	var-darkblue: #272a33;
	var-pink: #f03e56;
	var-blue: #5da8e0;
	var-title-font: 'Montserrat', 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	var-text-font: 'Source Sans Pro', 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}

.profile-page {
	width: 750px;
	margin: 30px auto;
}

.profile-user {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile-info {
	padding: 18px 35px;
}

.profile-info .avatar {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	cursor: pointer;
}

.profile-info .name {
	font: 22px var(title-font);
	margin: 0 0 3px 20px;
	width: 365px;
	transition: color .2s;
}

.profile-info .name:hover {
	color: var(pink);
	cursor: pointer;
}

.profile-me {
	color: #fff;
	background: var(blue);
	font-size: 10px;
	width: 100px;
	margin: 10px 0 0 20px;
	text-align: center;
	text-transform: uppercase;
	height: 21px;
	line-height: 21px;
	letter-spacing: .6px;
	cursor: default;
	border-radius: 2px;
}

.profile-action {
	margin: 8px 0 0 20px;
	position: relative;
	overflow: hidden;
	width: 90px;
	height: 21px;
}

.profile-info .btn {
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s ease-in;
}

.btn.ng-enter.ng-enter-active,
.btn-animation.ng-leave {
	opacity: 1;
}

.btn.ng-leave.ng-leave-active,
.btn.ng-enter {
	opacity: 0;
}

.profile-stat {
	text-align: center;
}

.profile-stat .stat-block {
	display: inline-block;
	border-left: 1px solid #eee;
	padding: 25px 0;
	margin-left: -3px;
	width: 110px;
	position: relative;
	cursor: default;
	vertical-align: top;
	user-select: none;
}

.profile-stat .stat-block:hover,
.profile-stat .stat-block.active {
	background: rgba(0,0,0,.02);
}

.profile-stat .stat-count {
	color: var(pink);
	font: 24px var(title-font);
}

.profile-stat .stat-title {
	color: #999;
	font-size: 13px;
	letter-spacing: .3px;
	margin-top: 3px;
}

.profile-lists {
	margin: 30px auto;
	padding-bottom: 60px;
}

.profile-lists .list-title {
	color: #999;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: .6px;
	margin-bottom: 15px;
	text-indent: 10px;
	text-transform: uppercase;
}

.profile-lists .profile-me,
.profile-lists .profile-action {
	display: inline-block;
	vertical-align: top;
	margin: 5px 0 0;
}

.profile-lists .profile-action {
	height: 21px;
	position: relative;
	z-index: 11;
}

.profile-lists .coll-item {
	margin-bottom: 20px;
	position: relative;
}

.profile-lists .coll-book {
	background: #fff;
	border-bottom: 1px solid #eee;
	padding: 15px 35px;
	width: 100%;
	min-height: 55px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile-lists .coll-info {
	width: 80%;
}

.profile-lists .coll-book .small-btn {
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2);
}

.profile-lists .coll-book .small-btn:hover {
	opacity: .9;
}

.profile-lists .coll-book .title {
	display: inline-block;
	font-size: 14px;
	font-family: var(title-font);
	letter-spacing: .3px;
	vertical-align: top;
	margin: 2px 0 10px;
}

.profile-lists .coll-book .desc {
	font-size: 13px;
	color: #666;
	padding-bottom: 10px;
	letter-spacing: .3px;
}

.profile-lists .coll-book .stat {
	color: var(pink);
	font-size: 11px;
	font-weight: 600;
	margin-top: 10px;
	position: relative;
	z-index: 11;
	cursor: default;
}

.profile-lists .coll-book .stat span {
	display: inline-block;
	margin-right: 8px;
	vertical-align: top;
}

.profile-lists .coll-book .stat .icon {
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	margin: 1px 3px 0 0;
}

.profile-lists .coll-book .stat .tooltip {
	padding: 2px 12px;
	bottom: -25px;
}

.profile-lists .coll-book .stat .tooltip:after {
	bottom: 100%;
	border: solid transparent;
	content: '';
	width: 0;
	height: 0;
	margin: 0 auto;
	position: absolute;
	pointer-events: none;
	border-bottom-color: rgba(31, 33, 47, 0.96);
	border-width: 5px;
	right: 0;
	left: 0;
	top: -10px;
	z-index: -1;
}

.backlists li {
	background: #fff;
	border-bottom: 1px solid #eee;
	margin: 0 auto;
	overflow: hidden;
	height: 3px;
	border-radius: 0 0 2px 2px;
}

.backlists li:first-child {
	width: 99.6%;
}

.backlists li:nth-child(1) {
	width: 99.2%;
}

.backlists li:nth-child(2) {
	width: 98.8%;
}






.profile-lists .profile-follow-item {
	background: #fff;
	border-bottom: 1px solid #eee;
	padding: 8px 35px;
	width: 100%;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.profile-lists .profile-follow-item:first-child {
	border-radius: 3px 3px 0 0;
}

.profile-lists .profile-follow-item.last {
	border-bottom: 0;
	border-radius: 0 0 3px 3px;
}

.profile-lists .profile-followings .avatar {
	display: inline-block;
	width: 28px;
	height: 28px;
	vertical-align: top;
	margin: 3px 15px 0 0;
	border-radius: 100%;
}

.profile-lists .name {
	display: inline-block;
	color: #666;
	font-size: 14px;
	letter-spacing: .6px;
	vertical-align: top;
	margin: 7px 0 0;
	width: 45%;
}

.profile-lists .empty-results {
	padding-top: 25px;
}

.profile-lists .list-view .dash-item .right-block {
	width: 93%;
}

@media (max-width: 750px) {
	.profile-page {
		width: 600px;
	}

	.profile-info .name {
		width: 230px;
	}
}

@media (max-width: 640px) {
	.profile-page {
		width: 90%;
	}

	.profile-info {
		padding: 20px 15px;
	}

	.profile-info .avatar {
		width: 48px;
		height: 48px;
	}

	.profile-info .name {
		font-size: 14px;
		width: 150px;
	}

	.profile-stat .stat-block {
		width: 65px;
	}

	.profile-stat .stat-count {
		font-size: 20px;
	}

	.profile-stat .stat-title {
		font-size: 11px;
	}
}

@media (max-width: 440px) {
	.profile-page .profile-info {
		float: none;
		height: 70px;
	}

	.profile-page .profile-stat {
		border-top: 1px solid #eee;
		float: none;
		margin-top:20px;
	}

	.profile-stat .stat-block {
		width: 50%;
		padding: 15px 0;
	}

	.profile-lists .profile-follow-item {
		padding: 8px 15px;
	}
}


