<div id="resourceLoader" class="icon-loader">
	<div class="icon-animated">
		<i class="font-icon instagram-icon"></i>
		<i class="font-icon github-icon"></i>
		<i class="font-icon stackoverflow-icon"></i>
		<i class="font-icon dribbble-icon"></i>
		<i class="font-icon facebook-icon"></i>
		<i class="font-icon pinterest-icon"></i>
		<i class="font-icon twitter-icon"></i>
	</div>
</div>
