<section class="first-time-box" ng-show="showPreviewHelp" ng-controller="onboardingController">
	<div class="message-container">
		<h1>Welcome {{user.name}}!</h1>
		<div class="text">
			Let's get you started and finsih a couple of things. Just follow the steps below and you will automatically roll into our dynamic tips to tell you all about Likeastore.
		</div>

		<div ng-show="slide1" class="inner-box slide1 animated fadeIn clearfix">
			<span class="num">1</span>
			<h2>Connect some networks</h2>
			<ul class="tiny-networks clearfix">
				<li ng-repeat="fnet in fnets" class="network-line clearfix">
					<h3 class="left">{{fnet.service}}</h3>
					<div class="right" toggle-switcher="{{fnet.service}}"></div>
				</li>
			</ul>
			<div class="buttons right">
				<div class="o-btn btn next-btn" ng-click="goToSlide(2)">Next</div>
			</div>
		</div>

		<div ng-show="slide2" class="inner-box slide2 animated fadeIn clearfix">
			<span class="num">2</span>
			<h2>Follow some collections</h2>
			<ul class="tiny-collections clearfix">
				<li ng-repeat="fcoll in fcolls">
					<div class="cover" style="background-image: url({{fcoll.thumbnail}}); background-color: rgba({{hexToRGBString(fcoll.color)}}, .8)">
						<div class="title">{{fcoll.title}}</div>
					</div>
					<div class="check" ec-follow="fcoll.id"></div>
				</li>
			</ul>
			<div class="buttons right">
				<div class="o-btn btn previous-btn" ng-click="goToSlide(1)">Back</div>
				<div class="o-btn btn next-btn" ng-click="goToSlide(3)">Next</div>
			</div>
		</div>

		<div ng-show="slide3" class="inner-box slide3 animated fadeIn">
			<span class="num">3</span>
			<h2>Install browser plugin</h2>

			<a ng-href="{{extension.url}}" target="_blank" ng-click="installPlugin()">
				<img src="/img/extension-screen.png" class="extension-screen">
				<img ng-src="/img/{{browser.name}}-extension-btn.png" class="extension-btn">
			</a>
			<div class="note">Improve your search experience with our browser extension. Find relevant information much faster inside your favorites.</div>
			<div class="buttons right">
				<div class="o-btn btn previous-btn" ng-click="goToSlide(2)">Back</div>
				<div class="o-btn btn next-btn" ng-click="finish()">Done</div>
			</div>
		</div>
	</div>
</section>

<section class="first-time-box" ng-show="showOnlyExtensionHelp" ng-controller="onboardingController">
	<div class="message-container">
		<div ng-show="slide1" class="inner-box slide1 animated fadeIn">
			<h1>Install our browser plugin</h1>

			<a ng-href="{{extension.url}}" target="_blank" ng-click="installPlugin()">
				<img src="/img/extension-screen.png" class="extension-screen">
				<img ng-src="/img/{{browser.name}}-extension-btn.png" class="extension-btn">
			</a>
			<div class="note">Improve your search experience with our browser extension. Find relevant information much faster inside your favorites.</div>
			<div class="buttons right">
				<div class="o-btn btn next-btn" ng-click="finishWhenOnlyExtension()">Done</div>
			</div>
		</div>
	</div>
</section>
