<section class="first-time-box" ng-show="showPreviewHelp" ng-controller="onboardingController">
	<div class="main-message-container">
		<div ng-show="slide1" class="inner-box animated fadeIn">
			<h1>Welcome to Likeastore</h1>
			<div class="text">Explore our <b>updated</b> interface and new features! Now you can manage all your favorites in one place, create collections and share what you like with your friends and co-workers much easier!</div>
			<div class="btn next-btn" ng-click="goToSlide(2)">Next</div>
		</div>

		<div ng-show="slide2" class="inner-box animated fadeIn">
			<img src="/img/network-screen.png" class="add-network-step-screen screen">
			<div class="tip add-network-step">
				<h2>Get started!</h2>
				<p>Add networks like Twitter and Facebook, all your favorites will be synchronized and collected automaticly.</p>
			</div>
			<img src="/img/select-screen.png" class="select-step-screen screen">
			<div class="tip select-step">
				<h2>Browse socials!</h2>
				<p>Filter your favorite content depending on a social network you use. Switch between liked things in a few clicks.</p>
			</div>
			<div class="buttons">
				<div class="btn previous-btn" ng-click="goToSlide(1)">Previous</div>
				<div class="btn next-btn" ng-click="goToSlide(3)">Next</div>
			</div>
		</div>

		<div ng-show="slide3" class="inner-box slide3 animated fadeIn">
			<img src="/img/menu-screen.png" class="menu-step-screen screen">
			<div class="tip menu-step">
				<h2>Find features</h2>
				<p>Check new possibilities that we offer and your profile and account info as well.</p>
			</div>

			<img src="/img/collection-screen.png" class="add-collection-step-screen screen">
			<div class="tip collections-step">
				<h2>Create collections</h2>
				<p>Organize content and favorites from different services by creating custom collections of them.</p>
			</div>

			<img src="/img/discover-screen.png" class="discover-step-screen screen">
			<div class="tip discover-step">
				<h2>Your friends</h2>
				<p>Find something new and discover what interests your friends and co-workers.</p>
			</div>

			<div class="cornered-buttons">
				<div class="btn previous-btn" ng-click="goToSlide(2)">Previous</div>
				<div ng-hide="extension" class="btn ready-btn" ng-click="finish()">I'm ready!</div>
				<div ng-show="extension" class="btn next-btn" ng-click="goToSlide(4)">Next</div>
			</div>

			<div ng-hide="extension" class="follow-buttons animated bounceInRight">
				<a href="https://twitter.com/intent/follow?screen_name=likeastore" class="follow-btn twee" ng-click="followOnTwitter()">
					<i class="font-icon twitter-icon icon"></i> Follow on Twitter
				</a>
				<a href="" class="follow-btn fb" ng-click="likeOnFacebook()">
					<i class="font-icon facebook-icon icon"></i> Like on Facebook
				</a>
			</div>
		</div>

		<div ng-show="slide4" class="inner-box slide4 animated fadeIn">
			<a ng-href="{{extension.url}}" target="_blank" ng-click="installPlugin()">
				<img src="/img/extension-screen.png" class="extension-screen">
				<img ng-src="/img/{{browser.name}}-extension-btn.png" class="extension-btn">
			</a>
			<div class="text">Improve your search experience with our browser extension. Find relevant information much faster inside your favorites.</div>

			<div class="btn previous-btn" ng-click="goToSlide(3)">Previous</div>
			<div class="btn ready-btn" ng-click="finish()">I'm ready!</div>

			<div class="follow-buttons animated bounceInRight">
				<a href="https://twitter.com/intent/follow?screen_name=likeastore" class="follow-btn twee" ng-click="followOnTwitter()">
					<i class="font-icon twitter-icon icon"></i> Follow on Twitter
				</a>
				<a href="" class="follow-btn fb" ng-click="likeOnFacebook()">
					<i class="font-icon facebook-icon icon"></i> Like on Facebook
				</a>
			</div>
		</div>
	</div>
</section>
